.greeting {
  --text-size-scale: 1;

  grid-area: greeting;
  align-self: var(--greeting-alignment);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-width: 572px;
  font-size: calc(var(--text-size-scale) * var(--text-xl));
  line-height: 1.25;
  text-align: center;
  text-wrap: balance;
  text-shadow:
    0 1px 1px var(--color-black-8),
    1px 2px 2px var(--color-black-4),
    2px 4px 4px var(--color-black-2);
  word-break: break-word;
  user-select: none;
}
