.greeting {
  --text-size-scale: 1;

  grid-area: greeting;
  align-self: var(--greeting-alignment);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  max-width: 572px;
  font-size: calc(var(--text-size-scale) * var(--text-xl));
  line-height: 1.25;
  text-align: center;
  text-wrap: balance;
  text-shadow:
    0 1px 1px var(--color-black-8),
    1px 2px 2px var(--color-black-4),
    2px 4px 4px var(--color-black-2);
  word-break: break-word;
  user-select: none;
}

.part-greeting {
  max-width: 1200px;
  padding: var(--space-md) var(--space-xl);
  font-size: calc(var(--text-size-scale) * 1.8rem);
  white-space: pre-line;
  line-height: 1.15;
  animation-name: opacity-up, slide-down;
  animation-duration: var(--duration-s);
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  &.hidding {
    animation-name: opacity-down, slide-down-2;
    animation-duration: var(--duration-n);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-down-2 {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10px);
  }
}
