.dropdown-container {
  position: relative;
}

.dropdown {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  right: 0;
  display: none;
  flex-direction: column;
  min-width: 160px;
  padding: var(--space-md) 1px;
  background-color: var(--color-grey-90);
  backdrop-filter: none;
  transform: translateY(var(--space-sm));
  white-space: nowrap;

  &.reveal {
    display: flex;
    opacity: 0;
    visibility: hidden;

    &.visible {
      opacity: 1;
      visibility: visible;
    }

    &.top {
      top: 0;
      transform: translateY(calc(-100% - var(--space-sm)));
    }
  }
}

.dropdown-group {
  margin-bottom: var(--space-md);
  padding-bottom: var(--space-md);
  border-bottom: 1px solid var(--color-white-10);
}

.dropdown-btn {
  justify-content: flex-start;
  height: auto;
  padding: var(--space-md);
  border-radius: 0;

  &:hover {
    border-left-color: transparent;
    border-right-color: transparent;
  }
}
