<div class="todo">
    <div class="todo-container" [ngClass]="{ container: visible, visible: visible }">
        <header class="todo-header">
            <button class="font-btn todo-toggle-btn" [class.is-active]="visible"
                (click)="toggle()">todo</button>
            <div class="todo-header-input-container todo-transition-target" *ngIf="!todoBeingEdited">
                <input class="input todo-input" type="text" #input (keyup.enter)="addTodo(input)">
                <button class="icon-plus btn" title="Add" (click)="addTodo(input)"></button>
            </div>
            <div class="todo-header-edit-btns todo-transition-target" *ngIf="todoBeingEdited">
                <button class="btn" (click)="saveTodoEdit()">Save</button>
                <button class="btn" (click)="cancelTodoEdit()">Cancel</button>
            </div>
        </header>
        <textarea class="input todo-edit-input todo-transition-target"
            [(ngModel)]="todoBeingEdited.text"
            *ngIf="todoBeingEdited"></textarea>
        <div class="todo-transition-target todo-message"
            *ngIf="!todos.length">Your todo list is empty.</div>
        <ul class="todos todo-transition-target" *ngIf="todos.length">
            <li class="todo-item" *ngFor="let todo of todos; let i = index"
                [class.hidden]="todoBeingEdited && todoBeingEdited.index === i">
                <div class="todo-item-content">
                    <input type="checkbox" class="checkbox" [attr.id]="i"
                        (click)="markTodoDone(i, done)"
                        [checked]="todo.done" #done>
                    <label [attr.for]="i" class="checkbox-label"></label>
                    <span class="todo-text todo-item-text"
                        [class.done]="todo.done">{{ todo.text }}</span>
                </div>
                <div class="todo-item-footer">
                    <button class="font-btn todo-item-btn" (click)="pinTodo(i)" *ngIf="!todo.done">
                        <span class="icon-pin todo-item-btn-icon todo-pin-icon"
                            [class.is-pinned]="todo.pinned"></span>
                        <span class="todo-item-btn-name">Pin</span>
                    </button>
                    <button class="font-btn todo-item-btn" (click)="enableTodoEdit(todo.text, i)">
                        <span class="icon-pencil todo-item-btn-icon"></span>
                        <span class="todo-item-btn-name">Edit</span>
                    </button>
                    <button class="font-btn todo-item-btn" (click)="removeTodo(i)">
                        <span class="icon-trash todo-item-btn-icon"></span>
                        <span class="todo-item-btn-name">Remove</span>
                    </button>
                </div>
            </li>
        </ul>
        <footer class="todo-footer todo-transition-target" *ngIf="todos.length">
            <button class="btn todo-footer-btn" title="Remove done todos" (click)="removeTodos()">
                <span class="icon-trash"></span>
                <span>Remove</span>
            </button>
        </footer>
    </div>
    <div class="todo-pin" *ngIf="todosToPin.length && !visible">
        <todo-pin [todos]="todosToPin"></todo-pin>
    </div>
</div>
