<button class="btn-secondary todo-toggle-btn"
    [class.shifted]="visible"
    [style.zIndex]="zIndex + 1"
    (click)="toggle()">Todo</button>
<div class="container todo"
    [class.visible]="visible"
    [style.zIndex]="zIndex" (click)="handleClickOnContainer()">
    <header class="todo-header todo-transition-target">
        <div class="todo-header-edit-btns" *ngIf="todoBeingEdited; else elseHeaderBlock">
            <button class="btn" (click)="saveTodoEdit()">Save</button>
            <button class="btn" (click)="cancelTodoEdit()">Cancel</button>
        </div>
        <ng-template #elseHeaderBlock>
            <form class="todo-header-input-container" (submit)="addTodo($event)">
                <input class="input todo-input" type="text" name="input" autocomplete="off" required>
                <button type="submit" class="btn">Add</button>
            </form>
        </ng-template>
    </header>
    <textarea class="input todo-edit-input todo-transition-target" #textarea
        *ngIf="todoBeingEdited"
        [value]="todoBeingEdited.text"></textarea>
    <ng-container *ngIf="todos.length; else elseBlock">
        <ul class="todos todo-transition-target">
            <li class="todo-item"  *ngFor="let todo of todos; let i = index"
                [class.hidden]="todoBeingEdited && todoBeingEdited.index === i">
                <div class="todo-item-content">
                    <div role="checkbox" class="checkbox" tabindex="0"
                        [class.checked]="todo.done"
                        (click)="markTodoDone(todo, i)"
                        (keyup.enter)="markTodoDone(todo, i)"
                        [attr.aria-checked]="todo.done"></div>
                    <span class="todo-item-text" [class.done]="todo.done">{{ todo.text }}</span>
                </div>
                <div class="todo-item-footer">
                    <ng-container *ngIf="!todo.done">
                        <button class="btn-secondary todo-item-btn" (click)="pinTodo(i)">
                            <svg class="todo-pin-icon" [class.is-pinned]="todo.pinned" viewBox="0 0 24 24">
                                <path d="M16,12V4H17V2H7V4H8V12L6,14V16H11.2V22H12.8V16H18V14L16,12Z" />
                            </svg>
                            <span>Pin</span>
                        </button>
                        <button class="btn-secondary todo-item-btn" (click)="editTodo(todo.text, i)">
                            <svg viewBox="0 0 24 24">
                                <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"
                                />
                            </svg>
                            <span>Edit</span>
                        </button>
                    </ng-container>
                    <button class="btn-secondary todo-item-btn" (click)="removeTodo(i)">
                        <svg viewBox="0 0 24 24">
                            <use href="#trash"></use>
                        </svg>
                        <span>Remove</span>
                    </button>
                </div>
            </li>
        </ul>
        <footer class="todo-transition-target">
            <button class="btn-secondary todo-footer-btn"
                [disabled]="!hasDoneTodos"
                (click)="removeTodos()">
                <svg viewBox="0 0 24 24">
                    <use href="#trash"></use>
                </svg>
                <span>Remove completed</span>
            </button>
        </footer>
    </ng-container>
    <ng-template #elseBlock>
        <p class="todo-transition-target todo-message">Your todo list is empty</p>
    </ng-template>
</div>
