.notifications {
  z-index: 1000;
  position: absolute;
  right: var(--space-md);
  bottom: 42px;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.notification {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 360px;
  animation-duration: var(--duration-n);
  animation-fill-mode: both;
  animation-delay: 0.2s;
  animation-name: show-notification;

  &.hiding {
    animation-delay: 0s;
    animation-duration: var(--duration-f), var(--duration-n);
    animation-name: opacity-down, hide-notification;
  }

  &:not(:has(.notification-top + .notification-content)) {
    .notification-content {
      margin-top: var(--space-md);
    }
  }
}

.notification-top {
  display: flex;
  justify-content: flex-start;
  gap: var(--space-md);
  padding: var(--space-md);
}

.notification-title {
  font-size: var(--text-sm);
  font-weight: bold;
}

.notification-body {
  padding: var(--space-md);
}

.notification-text {
  padding-inline: var(--space-md);
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.notification-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--space-lg);

   &:has(:nth-last-child(n + 2)) {
    justify-content: space-between;
   }
}

@keyframes show-notification {
  from {
    transform: translateX(50%);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes hide-notification {
  to {
    transform: translate(50%);
  }
}
