<div class="select-item-container">
    <button type="button" class="btn select-item-list-toggle-btn" (click)="toggleList()">
        <span class="select-item-list-toggle-btn-text">{{ selectedItem }}</span>
        <svg viewBox="0 0 24 24" class="select-item-list-toggle-btn-icon">
            <use href="#chevron-down"></use>
        </svg>
    </button>
    <div class="container-solid select-item-list" [class.visible]="listVisible" (click)="selectItem($event)">
        <ng-content></ng-content>
    </div>
</div>
