@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.select-item-container {
    position: relative;
}

.select-item-list-toggle-btn {
    position: relative;
    justify-content: flex-start;
    width: 120px;
    min-height: 27px;
    padding: 4px 4px 4px 8px;
    font-size: 14px;
    font-weight: normal;
}

.select-item-list-toggle-btn-text {
    overflow: hidden;
    width: calc(100% - 20px);
    text-align: left;
    white-space: nowrap;
}

.select-item-list-toggle-btn-icon {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
}

.select-item-list {
    @include scrollbar;

    z-index: 1;
    overflow-y: auto;
    position: absolute;
    left: 0;
    display: none;
    min-width: 120px;
    max-height: 204px;
    padding: 4px;
    transform: translateY(4px);

    &.visible {
        display: block;
    }
}

.select-item-list-item {
    justify-content: flex-start;
    width: 100%;
    min-height: 24px;
    padding: 4px 8px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: normal;

    &:not(:last-of-type) {
        margin-bottom: 4px;
    }
}
