@import "../../../scss/variables.scss";

.time {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 44%;
    transform: translateX(-50%);
    text-shadow: 0 1px 0 $color-black-10, 0 0 4px $color-black-10;
    cursor: default;

    @media (max-height: 638px) {
        height: 36%;
    }
}

.clock-container {
    position: relative;
}

.clock {
    font-size: 7.6em;
    line-height: 0.8;
}

.period {
    position: absolute;
    right: -4px;
    bottom: 0;
    transform: translateX(100%);
    font-size: 2em;
    line-height: 1;
}

.date {
    margin-top: 8px;
    text-align: right;
    letter-spacing: 1px;
    font-weight: bold;
}
