.stopwatch-splits-modal {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 336px;
  border-bottom-right-radius: var(--container-inset-radius);
}

.stopwatch-splits-header, .stopwatch-split {
  display: grid;
  grid-template-columns: 36px 160px 1fr;
  padding: var(--space-md);
}

.stopwatch-splits-header {
  /* Space for scrollbar */
  padding-right: 18px;
  border-bottom: 1px solid var(--color-white-10);
  background-color: var(--color-white-2);
  color: var(--color-white-60);
  font-weight: bold;
  font-size: var(--text-xs);
}

.stopwatch-splits {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.stopwatch-split {
  box-shadow: 0 1px 0 0 var(--color-white-10);
  color: var(--color-white-80);
}
