.tweet-image-viewer {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.viewer-content {
  opacity: 0;
  display: none;
  grid-template-rows: 1fr min-content;
  justify-content: center;
  height: 100%;
  animation-name: opacity-up;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;

  &.visible {
    display: grid;
  }
}

.viewer-image-container {
  position: relative;
  justify-self: center;
  margin: auto 0;
}

.viewer-image {
  display: block;
  backdrop-filter: none;
}

.viewer-direction-btn {
  --offset: 0px;

  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;

  &.left {
    left: 0;

    .viewer-direction-icon {
      right: calc(100% + var( --offset));
      transition: 0.2s right;
    }
  }

  &.right {
    right: 0;

    .viewer-direction-icon {
      left: calc(100% + var( --offset));
      transition: 0.2s left;
    }
  }

  &:hover, &:focus-visible {
    --background-color: transparent;
    --offset: var(--space-md);

    border-color: transparent;

    .viewer-direction-icon {
      border-radius: 50%;
      background-color: var(--color-white-10);
    }
  }
}

.viewer-direction-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  pointer-events: none;
}

.viewer-bottom-bar {
  display: flex;
  align-items: center;
  align-self: end;
  min-width: 400px;
  margin-bottom: var(--space-md);
  padding: var(--space-sm) var(--space-sm) var(--space-sm) var(--space-lg);
  backdrop-filter: none;
  font-weight: bold;
}

.viewer-bottom-bar-right {
  display: flex;
  margin-left: auto;

  .icon-btn {
    margin-left: var(--space-sm);
  }
}

.viewer-close-btn {
  z-index: 1;
  position: absolute;
  top: var(--space-sm);
  right: var(--space-sm);
}

.tweet-image-viewer-spinner {
  place-self: center;
  width: 48px;
  height: 48px;
}
