<div class="menu-item-container">
    <ul class="list settings-nav">
        <li class="settings-nav-item" [class.active]="active === 'general'">
            <button class="font-btn" (click)="active = 'general'">General</button>
        </li>
        <li class="settings-nav-item" [class.active]="active === 'time'">
            <button class="font-btn" (click)="active = 'time'">Time & Date</button>
        </li>
        <li class="settings-nav-item" [class.active]="active === 'background'">
            <button class="font-btn" (click)="active = 'background'">Background</button>
        </li>
        <li class="settings-nav-item" [class.active]="active === 'weather'">
            <button class="font-btn" (click)="active = 'weather'">Weather</button>
        </li>
        <li class="settings-nav-item" [class.active]="active === 'main-block'">
            <button class="font-btn" (click)="active = 'main-block'">Main Block</button>
        </li>
    </ul>
    <ul class="settings" [style.height.px]=setting.offsetHeight>
        <li class="setting" [class.active]="active === 'general'">
            <div class="setting-item">
                <span>Disable notifications</span>
                <input type="checkbox" id="notification1-checkbox" class="checkbox"
                    (click)="onSetting($event, 'notification', 'notificationDisabled')"
                    [checked]="settings.notification.notificationDisabled.value">
                <label for="notification1-checkbox"></label>
            </div>
            <div class="setting-item">
                <span>Don't focus tab on notification click</span>
                <input type="checkbox" id="notification2-checkbox" class="checkbox"
                    (click)="onSetting($event, 'notification', 'focusDisabled')"
                    [checked]="settings.notification.focusDisabled.value">
                <label for="notification2-checkbox"></label>
            </div>
        </li>
        <li class="setting" [class.active]="active === 'time'">
            <div class="setting-item">
                <span>Disable date</span>
                <input type="checkbox" id="date-checkbox" class="checkbox"
                    (click)="onSetting($event, 'time', 'dateDisabled')"
                    [checked]="settings.time.dateDisabled.value">
                <label for="date-checkbox"></label>
            </div>
            <div class="setting-item">
                <span>Disable calendar notifications</span>
                <input type="checkbox" id="calendar-checkbox" class="checkbox"
                    (click)="onSetting($event, 'reminders', 'notificationDisabled')"
                    [checked]="settings.reminders.notificationDisabled.value">
                <label for="calendar-checkbox"></label>
            </div>
            <div class="setting-item">
                <span>Time display</span>
                <select class="settings-selection" (click)="onSetting($event, 'time', 'timeDisplay')">
                    <option value="1"></option>
                    <option value="0" [selected]="settings.time.timeDisplay.value === '0'">12 hour</option>
                    <option value="1" [selected]="settings.time.timeDisplay.value === '1'">24 hour</option>
                </select>
            </div>
        </li>
        <li class="setting" [class.active]="active === 'background'">
            <div class="setting-item">
                <span>Reset background</span>
                <button class="btn" (click)="onSetting($event, 'background', 'reset')">Reset</button>
            </div>
        </li>
        <li class="setting" [class.active]="active === 'weather'" #setting>
            <div class="setting-item">
                <span>Disable weather</span>
                <input type="checkbox" id="weather-checkbox-1" class="checkbox"
                    (click)="onSetting($event, 'weather', 'weatherDisabled')"
                    [checked]="settings.weather.weatherDisabled.value">
                <label for="weather-checkbox-1"></label>
            </div>
            <div class="setting-item">
                <span>Show temperature in Farenheit</span>
                <input type="checkbox" id="weather-checkbox-2" class="checkbox"
                    (click)="onSetting($event, 'weather', 'units')"
                    [checked]="settings.weather.units.value === 'F'">
                <label for="weather-checkbox-2"></label>
            </div>
            <div class="setting-item">
                <span>City name (and country code)</span>
                <input type="text" class="input setting-input"
                    (keyup)="getWeatherWithCityName($event)"
                    [value]="settings.weather.cityName.value || ''">
            </div>
        </li>
        <li class="setting" [class.active]="active === 'main-block'">
           <div class="setting-item">
                <span>Reset top sites to Chrome's default</span>
                <button class="btn" (click)="onSetting($event, 'mostVisited', 'reset')">Reset</button>
           </div>
        </li>
    </ul>
</div>
