@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.settings-container {
    display: flex;
    width: 450px;
    height: 200px;
}

.settings-nav {
    flex-shrink: 0;
    width: 100px;
    border-right: 1px solid $color-white-10;
}

.settings-nav-item.active {
    box-shadow: inset 2px 0 0 0 $color-blue;
}

.settings-nav-item-btn {
    width: 100%;
    padding: 6px;
    border-radius: 0;
    font-weight: normal;
}

.setting-tab {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.setting {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 38px;
    padding: 4px 4px 4px 8px;
    border-bottom: 1px solid $color-white-10;
    transition: 0.2s opacity;

    &.disabled {
        opacity: 0.4;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.setting-add-desc {
    font-size: 13px;
    color: $color-white-60;
}

.setting-message {
    margin-top: 8px;
    color: $color-danger;
}

.setting-input {
    width: 100px;
}

.setting-background {
    display: block;
    padding: 0;
}

.setting-background-title {
    padding: 8px;
}

.setting-background-viewer-btn {
    position: absolute;
    top: 4px;
    right: 4px;
}

.setting-background-items {
    display: flex;
    height: 32px;
}

.setting-background-item {
    flex: 1;

    &:first-of-type {
        border-right: 1px solid $color-white-10;
    }
}

.setting-background-item-btn {
    width: 100%;
    height: 100%;
    border-radius: 0;

    svg {
         margin-right: 4px;
    }
}

.setting-tab-form-container {
    align-items: center;
}

.setting-tab-form-title {
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
}

.setting-tab-form-input-container {
    display: flex;
}

.setting-tab-form-submit-btn {
    margin-left: 4px;

    &:disabled {
        @include spinner;
    }
}

.setting-tab-form-message {
    margin-top: 4px;
    font-size: 13px;
    color: $color-danger;
}
