<div class="settings-container">
    <ul class="settings-nav">
        <li class="settings-nav-item" [class.active]="active === 'general'">
            <button class="btn-transparent" (click)="setActiveTab('general')">General</button>
        </li>
        <li class="settings-nav-item" [class.active]="active === 'time'">
            <button class="btn-transparent" (click)="setActiveTab('time')">Time & Date</button>
        </li>
        <li class="settings-nav-item" [class.active]="active === 'background'">
            <button class="btn-transparent" (click)="setActiveTab('background')">Background</button>
        </li>
        <li class="settings-nav-item" [class.active]="active === 'weather'">
            <button class="btn-transparent" (click)="setActiveTab('weather')">Weather</button>
        </li>
        <li class="settings-nav-item" [class.active]="active === 'mainBlock'">
            <button class="btn-transparent" (click)="setActiveTab('mainBlock')">Main Block</button>
        </li>
    </ul>
    <ul>
        <li class="setting" [class.active]="active === 'general'">
            <div class="setting-item">
                <span>Disable notifications</span>
                <input type="checkbox" id="notification1-checkbox" class="checkbox"
                    (click)="onSetting('notificationDisabled', $event.target.checked)"
                    [checked]="settings.general.notificationDisabled">
                <label for="notification1-checkbox"></label>
            </div>
            <div class="setting-item">
                <span>Don't focus tab on notification click</span>
                <input type="checkbox" id="notification2-checkbox" class="checkbox"
                    (click)="onSetting('notificationFocusDisabled', $event.target.checked)"
                    [checked]="settings.general.notificationFocusDisabled">
                <label for="notification2-checkbox"></label>
            </div>
        </li>
        <li class="setting" [class.active]="active === 'time'">
            <div class="setting-item">
                <span>Disable date</span>
                <input type="checkbox" id="date-checkbox" class="checkbox"
                    (click)="onSetting('dateDisabled', $event.target.checked)"
                    [checked]="settings.time.dateDisabled">
                <label for="date-checkbox"></label>
            </div>
            <div class="setting-item">
                <span>Time display</span>
                <select class="btn setting-selection" (click)="onSetting('timeDisplay', $event.target.value)">
                    <option value="0" [selected]="settings.time.timeDisplay === '0'">12 hour</option>
                    <option value="1" [selected]="settings.time.timeDisplay === '1'">24 hour</option>
                </select>
            </div>
        </li>
        <li class="setting" [class.active]="active === 'background'">
            <div class="setting-item">
                <span>Reset background</span>
                <button class="btn" (click)="onSetting('url', '')">Reset</button>
            </div>
        </li>
        <li class="setting" [class.active]="active === 'weather'">
            <div class="setting-item">
                <span>Disable weather</span>
                <input type="checkbox" id="weather-checkbox-1" class="checkbox"
                    (click)="onSetting('disabled', $event.target.checked)"
                    [checked]="settings.weather.disabled">
                <label for="weather-checkbox-1"></label>
            </div>
            <div class="setting-item">
                <span>Show temperature in Farenheit</span>
                <input type="checkbox" id="weather-checkbox-2" class="checkbox"
                    (click)="onSetting('useFarenheit', $event.target.checked)"
                    [checked]="settings.weather.useFarenheit">
                <label for="weather-checkbox-2"></label>
            </div>
            <div class="setting-item">
                <span>City name (and country code)</span>
                <input type="text" class="input setting-input"
                    (keyup.enter)="getWeatherWithCityName($event)"
                    [value]="settings.weather.cityName">
            </div>
        </li>
        <li class="setting" [class.active]="active === 'mainBlock'">
            <div class="setting-item">
                <span>Hide item bar</span>
                <input type="checkbox" id="main-block-checkbox" class="checkbox"
                    (click)="onSetting('hideItemBar', $event.target.checked)"
                    [checked]="settings.mainBlock.hideItemBar">
                <label for="main-block-checkbox"></label>
            </div>
            <div class="setting-item">
                <span>Reset top sites to Chrome's default</span>
                <button class="btn" (click)="onSetting('resetMostVisited', true)">Reset</button>
           </div>
        </li>
    </ul>
</div>
