<ul class="list main-block-nav">
    <li class="main-block-nav-item" title="Most visited">
        <button class="icon-th font-btn" (click)="chooseItem('mostVisited')"></button>
    </li>
    <li class="main-block-nav-item" title="Notepad">
        <button class="icon-edit font-btn" (click)="chooseItem('notepad')"></button>
    </li>
    <li class="main-block-nav-item" title="Twitter" [class.contains-count]="tweetCount">
        <button class="icon-twitter font-btn" (click)="chooseItem('twitter')">
            <span class="count-indicator" [class.show]="isNewTweet" *ngIf="tweetCount">{{ tweetCount }}</span>
        </button>
    </li>
    <li class="main-block-nav-item" title="RSS feed" [class.contains-count]="entryCount">
        <button class="icon-rss font-btn" (click)="chooseItem('rssFeed')">
            <span class="count-indicator" [class.show]="isNewEntry" *ngIf="entryCount">{{ entryCount }}</span>
        </button>
    </li>
    <li class="main-block-nav-item favorite-btn" title="Favorite" *ngIf="item">
        <button class="font-btn"
            [ngClass]="{ 'icon-star-empty': item !== favorite, 'icon-star': item === favorite }" (click)="makeFavorite()">
        </button>
    </li>
</ul>
