@import "../../styles/mixins.css";

.main-panel-nav {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  gap: var(--space-md);
  transform: translate(-50%, calc(-100% - var(--space-md)));
  transition:
    var(--duration-n) opacity,
    var(--duration-n) visibility,
    var(--duration-n) transform;
  transition-delay: var(--duration-n);
  pointer-events: auto;
}

.main-panel-item {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 320px;
  max-height: 100%;
  pointer-events: auto;

  &.hidden {
    display: none;
  }
}

.main-panel {
  --nav-height: 34px;
  --offset-y: calc(42% + var(--nav-height));

  z-index: var(--z-index, 2);
  position: absolute;
  top: var(--offset-y);
  left: 50%;
  transform: translateX(-50%);
  width: 588px;
  max-width: calc(100% - var(--space-xl));
  pointer-events: none;

  &.hidden {
    display: none;
  }

  &.nav-hidden .main-panel-nav {
    display: none;
  }

  &.expandable {
    --max-height: calc(100% - var(--offset-y));
    --initial-height: calc(var(--max-height) - 8%);

    height: var(--height, var(--initial-height));
    max-height: calc(var(--max-height) - var(--space-md));

    .main-panel-item {
      height: 100%;
    }

    &.resizing {
      transition: none;

      .main-panel-item {
        height: calc(100% - var(--space-xl));
        transition: none;
      }
    }
  }

  &.expanded, &.collapsing {
    transition: var(--duration-n) top,
                var(--duration-n) max-height,
                var(--duration-n) height;
  }

  &.expanded {
    --offset-y: var(--space-md);

    height: 100%;

    .main-panel-nav {
      opacity: 0;
      visibility: hidden;
      transform: translate(-50%, 100%);
      transition-delay: 0s;
    }
  }
}

.main-panel-item-header {
  padding: 0;
}

.main-panel-item-header-btn {
  margin: var(--space-sm);
}

.main-panel-item-header-items {
  display: flex;
  flex-grow: 1;
  min-width: 0;
  padding: var(--space-sm) 0;

  /* If element has less than 2 children */
  &:not(:has(.main-panel-item-header-item:nth-last-child(n + 2))) {
    .main-panel-item-header-item-select-btn:is(:hover, :focus-visible) {
      --background-color: transparent;
      --color: var(--color-white-80);

      border-color: transparent;
      box-shadow: none;
      cursor: default;
    }
  }
}

.main-panel-item-header-item {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1;
  min-width: 0;
  padding: 0 var(--space-sm);

  &.active {
    .main-panel-item-header-item-select-btn {
      --color: var(--color-white);
    }
  }

  &.hidden {
    display: none;
  }
}

.main-panel-item-header-separator {
  width: 1px;
  height: 100%;
  background-color: var(--color-white-10);
}

.main-panel-item-header-item-select-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--space-sm) var(--space-md);
  font-weight: normal;
  user-select: none;
}

.main-panel-item-header-item-title {
  @mixin text-truncate;
}

.main-panel-item-splash-icon {
  width: 64px;
  height: 64px;
  margin: auto;

  &.animate {
    animation: oscillate 1s cubic-bezier(0.17, 0.67, 0.45, 1.32) infinite alternate;
  }
}

@keyframes oscillate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.3);
  }
}
