.fullscreen-modal-mask {
  z-index: 1000;
  position: absolute;
  inset: 0;
  background-color: var(--color-grey-90-50);

  &:has(.fullscreen-modal) {
    display: flex;
    align-items: center;
    justify-content: center;

    .fullscreen-modal {
      position: static;
      transform: none;
    }
  }
}

.fullscreen-modal {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - var(--space-xl));
  max-height: calc(100% - var(--space-xl));

  &:not(.static) {
    animation-duration: var(--duration-n);
    animation-fill-mode: both;
    animation-name: reveal-fullscreen-modal;

    &.hiding {
      animation-duration: var(--duration-f), var(--duration-n);
      animation-name: opacity-down, hide-fullscreen-modal;
    }
  }
}

@keyframes reveal-fullscreen-modal {
  from {
    transform: translate(-50%, calc(-50% + (-1 * var(--space-md))));
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes hide-fullscreen-modal {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(-50%, calc(-50% + var(--space-lg))) scale(0.96);
  }
}
