.fullscreen-modal {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - var(--space-xl));
  max-height: calc(100% - var(--space-xl));
}
