@import "../../../styles/mixins.css";

.top-sites-container {
  overflow: initial;
  position: relative;
  height: auto;
  pointer-events: none;
}

.top-sites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-sm);

  &.first {
    .top-site-container {
      opacity: 0;
      animation-name: slide-site-up, opacity-up;
      animation-duration: var(--duration-n), var(--duration-s);
      animation-fill-mode: both;
    }
  }

  @media (height <= 720px) {
    gap: var(--space-xs);
  }
}


@keyframes slide-site-up {
  from {
    transform: translateY(var(--space-md));
  }

  to {
    transform: translateY(0);
  }
}

.top-site-dropdown {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: auto;

  &.visible, &:hover, &:has(:focus-visible) {
    animation-name: show-dropdown;
    animation-duration: var(--duration-n);
    animation-fill-mode: both;
  }

  & > .icon-btn {
    --color: var(--color-white);

    filter: drop-shadow(0 1px 1px var(--color-black-16)) drop-shadow(0 2px 2px var(--color-black-8));
  }
}

.top-site {
  position: relative;
  width: 136px;

  &:hover .top-site-dropdown:not(.visible, :hover) {
    animation-name: show-dropdown;
    animation-duration: var(--duration-n);
    animation-fill-mode: both;
    animation-delay: 0.5s;
  }
}

@keyframes show-dropdown {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.top-site-link {
  display: block;
  padding: var(--space-sm);
  border-radius: 12px;
  user-select: none;

  &:hover, &:focus-visible {
    .top-site-icon,
    .top-site-add-btn-icon {
      transform: scale(1.2);
    }
  }
}

.top-site-container {
  padding: 0;
  border: none;
  box-shadow:
    inset 0 1px 1px 0 var(--color-white-10),
    inset 1px 2px 2px 0 var(--color-white-4),
    inset 2px 4px 4px 0 var(--color-white-2),
    var(--highligh-shadow);
}

.top-site-title {
  @mixin text-truncate;

  height: 20px;
  margin-bottom: var(--space-md);
  padding: var(--space-sm) var(--space-md);
  border-radius: 99px;
  font-size: var(--text-xs);
  text-align: center;
  line-height: 1;
  text-shadow: 0 1px 1px var(--color-black-8);
  pointer-events: auto;
}

.top-site-icon {
  will-change: transform;
  transition: var(--duration-n) transform;
}

.top-site-add-btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.top-site-add-btn-icon {
  width: 32px;
  height: 32px;
  will-change: transform;
  transition: var(--duration-n) transform;
}

.top-site-thumbnail-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  margin: 0 auto;
  border-radius: 50%;
  pointer-events: auto;
}
