@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.weather {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 4px;
    text-shadow: 0 1px 0 $color-black-10, 0 0 4px $color-black-10;
    transition: 0.2s opacity, 0.2s visibility;
    transition-delay: 0.4s;
    cursor: default;

    &.hidden {
        opacity: 0;
        visibility: hidden;
        transition-delay: 0s;
    }
}

.weather-main {
    transition: 0.1s opacity;
}


.weather-temperature-icon-container {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 4px;
}

.weather-temperature {
    display: flex;
}

.weather-temperature-value {
    font-size: 28px;
}

.weather-temperature-units {
    margin-top: 4px;
    margin-left: 2px;
    font-size: 16px;
}

.weather-city {
    margin-right: 8px;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    letter-spacing: 1px;
}

.weather-more-btn {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;

    &:hover, &.focus-visible {
        opacity: 1;

        & + .weather-main {
            opacity: 0.4;
        }
    }
}

.weather-more {
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0;
    visibility: hidden;
    width: 436px;
    height: 259px;
    border-bottom-left-radius: 999px;
    transform-origin: top right;
    transform: scale(0);
    transition: 0.2s transform,
    0.2s opacity,
    0.2s visibility,
    0.2s border-bottom-left-radius;
    transition-delay: 0.1s;

    &.visible {
        opacity: 1;
        visibility: visible;
        border-bottom-left-radius: 0;
        transform: scale(1);
        transition-delay: 0s;

        .weather-transition-target {
            opacity: 1;
            transition-delay: 0.1s;
        }
    }
}

.weather-transition-target {
    opacity: 0;
    transition: 0.2s opacity;
}

.weather-more-current {
    display: flex;
    padding: 16px;
    border-bottom: 1px solid $color-white-10;
}

.weather-more-current-icon {
    background-color: $color-white-20;
    border-radius: 50%;
    margin-right: 16px;
}

.weather-more-current-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.weather-more-current-city {
    font-size: 20px;
}

.weather-more-current-main-info {
    display: flex;
    align-items: center;
    margin: 4px 0;
}

.weather-more-current-temperature {
    display: flex;
    margin-right: auto;
}

.weather-more-current-temperature-value {
    font-size: 48px;
    line-height: 1;
}

.weather-more-current-temperature-units {
    margin-top: 2px;
    margin-left: 4px;
    font-size: 24px;
}

.weather-more-current-secondary {
    font-size: 13px;
    font-weight: bold;
}

.weather-more-current-secondary-item {
    display: flex;
    align-items: center;
    width: 100%;

    &:not(:last-of-type) {
        margin-bottom: 4px;
    }
}

.weather-more-current-secondary-name {
    min-width: 64px;
    margin-right: 4px;
    text-align: right;
}

.weather-more-current-wind {
    display: flex;
    align-items: center;
}

.weather-more-current-wind-icon {
    margin-left: 4px;
    transform: rotateZ(calc(var(--degrees) * 1deg));
}

.weather-more-current-description {
    font-size: 18px;
}

.weather-more-hourly {
    @include scrollbar;

    overflow-x: auto;
    display: flex;
}

.weather-more-hourly-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 4px;
}

.weather-more-hourly-time {
    font-weight: bold;
    font-size: 12px;
}

.weather-more-hourly-temperature {
    display: flex;
    font-weight: bold;
    font-size: 13px;
}

.weather-more-hourly-temperature-units {
    margin-left: 2px;
}

.weather-more-hide-btn {
    position: absolute;
    top: 4px;
    right: 4px;
}
