@import "../../../scss/variables.scss";

.weather {
	position: absolute;
  top: 4px;
	right: 8px;
	text-align: right;
	text-shadow: 0 1px 0 $color-black-10, 0 0 4px $color-black-10;
	cursor: default;
}

.weather-temp-icon-container {
	display: flex;
	align-items: center;
	height: 40px;
	margin-bottom: 2px;
}

.weather-temp {
	font-size: 24px;
}

.weather-units {
	float: right;
	margin-top: 2px;
	margin-left: 2px;
	font-size: 16px;
}

.weather-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 40px;
	margin-left: 4px;
	font-size: 28px;
}

.weather-city {
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1px;
}
