.sticky-note-form {
  z-index: 1000;
  overflow: initial;
  display: flex;
  flex-direction: column;
  padding: var(--space-sm);
  scrollbar-gutter: auto;
  will-change: top, left;

  &:hover {
    overflow: initial;
  }

  &.movable {
    cursor: move;
  }

  &.editable {
    animation-name: rotate-straight;
    animation-duration: var(--duration-n);
    animation-fill-mode: both;
    transition: var(--duration-n) width, var(--duration-n) height, var(--duration-n) background-color;
  }

  &.discarding {
    animation-name: discard-form;
  }

  .input::placeholder {
    color: var(--color-black-40);

    @supports (color: rgb(from black r g b)) {
      color: oklch(from var(--text-color) l c h / 40%);
    }
  }
}

.sticky-note-drag-handle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 16px;
  background-color: var(--background-color);
  box-shadow: var(--fg-shadow);
  transform: translate(-50%, -50%) rotate(-3deg);
  transition: inherit;
  cursor: move;
}

.sticky-note-input {
  flex: 1;
  width: 100%;
  height: auto;
  padding: var(--space-sm);
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: none;
  transition: var(--duration-n) font-size;

  &:focus-visible {
    box-shadow: 0 0 0 1px var(--color-black-2), var(--fg-shadow);
    background-color: var(--color-white-10);
  }
}

.sticky-note-sidebar {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  background-color: var(--background-color);
  transform: translate(75%, 25%) rotate(-2deg);
  box-shadow:
    0 0 0 1px var(--color-black-4),
    var(--highligh-shadow);
  transition: inherit;
}

.sticky-note-dropdown {
  left: 50%;
  right: auto;
  min-width: 126px;
  padding: var(--space-md);
  transform: translate(-50%, var(--space-sm));
  user-select: none;
}

.sticky-note-color-picker-items {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
}

.sticky-note-color-picker-item {
  width: 24px;
  padding: 0;
  aspect-ratio: 1;
  border-radius: 50%;

  &:hover, &:focus-visible {
    scale: 1.04;
  }

  &.active {
    --color: var(--color-white);

    &.black {
      --color: var(--color-black-100);
    }

    box-shadow: inset 0 0 0 2px var(--color);
  }
}

.sticky-note-text-colors {
  display: flex;
  gap: var(--space-sm);
  justify-content: center;
  margin-bottom: var(--space-md);
  padding-bottom: var(--space-md);
  border-bottom: 1px solid var(--color-white-10);
}

.sticky-note-setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-md);
  min-width: 128px;
}

.sticky-note-setting-name {
  flex-grow: 1;
  text-align: center;
}

.sticky-note-btns {
  position: absolute;
  bottom: var(--space-md);
  left: 50%;
  width: 180px;
  padding: var(--space-md);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  background-color: var(--background-color);
  transform: translate(-50%, 100%) rotate(3deg);
  box-shadow:
    0 0 0 1px var(--color-black-4),
    var(--highligh-shadow);
  transition: inherit;
  user-select: none;
}

@keyframes rotate-straight {
  from {
    transform: var(--titled-transform);
  }

  to {
    transform: var(--straight-transform);
  }
}

@keyframes discard-form {
  from {
    transform: var(--straight-transform);
    opacity: 1;
  }

  to {
    transform: var(--titled-transform) scale(0.9);
    opacity: 0;
  }
}
