.sticky-note-form {
  z-index: 1000;
  overflow: initial;
  display: flex;
  flex-direction: column;
  padding: var(--space-sm);

  &.movable {
    cursor: move;
  }

  &.editable {
    animation-name: rotate-straight;
    animation-duration: var(--duration-n);
    animation-fill-mode: both;
  }

  .input::placeholder {
    color: var(--color-black-40);
  }
}

@keyframes rotate-straight {
  from {
    transform: translate(-50%, -4px) rotate(calc(var(--tilt) * 1deg));
  }

  to {
    transform: translate(-50%, -4px);
  }
}

.sticky-note-drag-handle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 16px;
  background-color: var(--background-color);
  box-shadow: var(--fg-shadow);
  transform: translate(-50%, -50%) rotate(-3deg);
  cursor: move;
}

.sticky-note-input {
  padding: 0 var(--space-sm);
  border-radius: 4px;
  border: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  color: var(--color-black-60);
  box-shadow: none;

  &:focus-visible {
    background-color: var(--color-white-10);
  }
}

.sticky-note-content-input {
  flex-grow: 1;
  font-size: var(--text-xl);
  font-family: "Caveat";
  line-height: 1;
}

.sticky-note-btns {
  position: absolute;
  bottom: var(--space-md);
  left: 50%;
  width: 180px;
  padding: var(--space-md);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  background-color: var(--background-color);
  transform: translate(-50%, 100%) rotate(3deg);
  box-shadow:
    0 -2px 2px 0 var(--color-black-4),
    0 -4px 4px 0 var(--color-black-2),
    var(--highligh-shadow);
}
