.sticky-note-form {
  display: flex;
  flex-direction: column;
  padding: var(--space-sm);

  &.movable {
    z-index: 1000;
    cursor: move;
  }

  &.editable {
    transform: translate(-50%, -4px);
  }

  .input::placeholder {
    color: var(--color-black-40);
  }
}

.sticky-note-drag-handle {
  position: absolute;
  top: -8px;
  left: 50%;
  width: 64px;
  height: 16px;
  background-color: var(--background-color);
  transform: translateX(-50%) rotate(-3deg);
  box-shadow: 1px 2px 4px 0 var(--color-black-8);
  cursor: move;
}

.sticky-note-input {
  padding: 0 var(--space-sm);
  border-radius: 4px;
  border: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  color: black;

  &:focus-visible {
    box-shadow: none;
    background-color: var(--color-white-20);
  }
}

.sticky-note-content-input {
  font-size: var(--text-xl);
  font-family: "Caveat";
  height: 100%;
}

.sticky-note-btns {
  position: absolute;
  bottom: var(--space-md);
  left: 50%;
  width: 178px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  background-color: var(--background-color);
  transform: translate(-50%, 100%) rotate(3deg);
  box-shadow:
    1px 0 8px 0 var(--color-black-8),
    2px 4px 4px 0 var(--color-black-16),
    4px 8px 8px 0 var(--color-black-8);
}
