.sticky-note-form {
  z-index: 1000;
  overflow: initial;
  display: flex;
  flex-direction: column;
  padding: var(--space-sm);

  &.movable {
    cursor: move;
  }

  &.editable {
    animation-name: rotate-straight;
    animation-duration: var(--duration-n);
    animation-fill-mode: both;
  }

  .input::placeholder {
    color: var(--color-black-40);
  }
}

@keyframes rotate-straight {
  from {
    transform: translate(-50%, -4px) rotate(calc(var(--tilt) * 1deg));
  }

  to {
    transform: translate(-50%, -4px);
  }
}

.sticky-note-drag-handle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 16px;
  background-color: var(--background-color);
  box-shadow: var(--fg-shadow);
  transform: translate(-50%, -50%) rotate(-3deg);
  cursor: move;
}

.sticky-note-input {
  padding: var(--space-sm);
  border-radius: 4px;
  border: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  box-shadow: none;
  flex: 1;

  &:focus-visible {
    box-shadow: 0 0 0 1px var(--color-black-2), var(--fg-shadow);
    background-color: var(--color-white-10);
  }
}

.sticky-note-sidebar {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  background-color: var(--background-color);
  transform: translate(75%, 25%) rotate(-2deg);
  box-shadow:
    0 0 0 1px var(--color-black-4),
    var(--highligh-shadow);
}

.sticky-note-dropdown {
  left: 50%;
  right: auto;
  min-width: 126px;
  padding: var(--space-md);
  transform: translate(-50%, var(--space-sm));
}

.sticky-note-color-picker-items {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
}

.sticky-note-color-picker-item {
  width: 24px;
  padding: 0;
  aspect-ratio: 1;
  border-radius: 50%;

  &:hover, &:focus-visible {
    scale: 1.04;
  }

  &.active {
    box-shadow: inset 0 0 0 2px var(--color-white);
  }
}

.sticky-note-btns {
  position: absolute;
  bottom: var(--space-md);
  left: 50%;
  width: 180px;
  padding: var(--space-md);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  background-color: var(--background-color);
  transform: translate(-50%, 100%) rotate(3deg);
  box-shadow:
    -1px -2px 2px 0 var(--color-black-4),
    -2px -4px 4px 0 var(--color-black-2),
    var(--highligh-shadow);
}
