<div class="container main-block-content" [class.visible]="isVisible">
    <div class="notepad-menu" *ngIf="menuVisible; else elseBlock1">
        <ul class="notepad-menu-tab-list">
            <li class="notepad-menu-tab-list-item" *ngFor="let tab of tabs; let i = index">
                <button class="btn btn-text notepad-menu-tab-list-item-title"
                    (click)="selectTabFromList(i)">{{ tab.title }}</button>
                <div class="notepad-menu-tab-list-item-btns">
                    <button class="btn btn-icon btn-icon-alt"
                        (click)="enableTitleEdit(i)" title="Edit tab title">
                        <svg viewBox="0 0 24 24">
                            <use href="#edit"></use>
                        </svg>
                    </button>
                    <a [download]="tab.title + '.txt'" class="btn btn-icon btn-icon-alt"
                        *ngIf="tab.content.length"
                        (click)="downloadTab($event.currentTarget, i)"
                        title="Download tab" tabindex="0">
                        <svg viewBox="0 0 24 24">
                            <use href="#download"></use>
                        </svg>
                    </a>
                    <button class="btn btn-icon btn-icon-alt"
                        *ngIf="tabs.length > 1"
                        (click)="removeTab(i)" title="Remove tab">
                        <svg viewBox="0 0 24 24">
                            <use href="#trash"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
        <form (submit)="editTabTitle($event)" *ngIf="editedTitle; else elseBlock" class="notepad-form">
            <h3 class="notepad-form-title">Edit tab title</h3>
            <input type="text" class="input" name="title" #editTitleInput
                [value]="editedTitle.value"
                autocomplete="off"
                placeholder="Tab title">
            <div class="notepad-form-btns">
                <button type="button" class="btn" (click)="disableTitleEdit()">Cancel</button>
                <button class="btn">Edit</button>
            </div>
        </form>
        <ng-template #elseBlock>
            <form (submit)="createTab($event)" class="notepad-form">
                <h3 class="notepad-form-title">Create new tab</h3>
                <div class="notepad-form-input-container">
                    <input type="text" class="input" name="title"
                        autocomplete="off"
                        placeholder="Tab title">
                    <button class="btn">Create</button>
                </div>
            </form>
        </ng-template>
        <button class="btn btn-icon main-block-modal-close-btn"
            (click)="hideMenu()" title="Close">
            <svg viewBox="0 0 24 24">
                <use href="#cross"></use>
            </svg>
        </button>
        <div class="notepad-dialog" *ngIf="pendingTabs.length">
            <span>Removed {{ pendingTabs.length }} tab{{ pendingTabs.length > 1 ? "s" : "" }}</span>
            <button class="btn btn-text-alt" (click)="undoTabRemoval()">UNDO</button>
        </div>
    </div>
    <ng-template #elseBlock1>
        <ng-container *ngIf="initialized; else elseBlock3">
            <div class="main-block-content-header">
                <button class="btn btn-icon main-block-content-header-btn"
                    *ngIf="tabs.length > 4"
                    (click)="previousVisibleTabs()"
                    [disabled]="shift <= 0">
                    <svg viewBox="0 0 24 24">
                        <use href="#chevron-left"></use>
                    </svg>
                </button>
                <ul class="main-block-content-header-items">
                    <li class="main-block-content-header-item"
                        *ngFor="let tab of tabs; let i = index"
                        [class.active]="activeTabIndex === i"
                        [class.hidden]="i < shift || i >= shift + 4">
                        <button class="btn btn-text-alt main-block-content-header-item-select-btn"
                            (click)="selectTab(i)">
                            <span class="main-block-content-header-item-title">{{ tab.title }}</span>
                        </button>
                    </li>
                </ul>
                <button class="btn btn-icon main-block-content-header-btn"
                    *ngIf="tabs.length > 4"
                    (click)="nextVisibleTabs()"
                    [disabled]="shift + 4 >= tabs.length">
                    <svg viewBox="0 0 24 24">
                        <use href="#chevron-right"></use>
                    </svg>
                </button>
                <div class="main-block-content-header-separator"></div>
                <button class="btn btn-icon main-block-content-header-btn"
                    (click)="showMenu()" title="Show menu">
                    <svg viewBox="0 0 24 24">
                        <use href="#menu"></use>
                    </svg>
                </button>
            </div>
            <textarea class="notepad-input" #textarea
                (input)="saveTabContent($event.target.value)"
                [value]="tabs[activeTabIndex].content"></textarea>
        </ng-container>
    </ng-template>
    <ng-template #elseBlock3>
        <img src="./assets/images/ring.svg" class="notepad-spinner" alt="">
    </ng-template>
</div>
