.countdown-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 282px;
}

.countdown-form-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--space-md);
  margin-top: 18px;
}

.countdown-form-date-btn-container {
  position: absolute;
  top: 48px;
  right: var(--space-md);

  .input {
    z-index: -1;
    position: absolute;
    inset: 0;
    opacity: 0;
  }
}

.countdown-form-fields {
  display: flex;
  gap: var(--space-md);
  margin-top: var(--space-md);
  text-align: center;

  .countdown-form-field-title {
    margin-left: 0;
  }

  .countdown-form-field {
    width: 68px;
    text-align: center;
  }
}

.countdown-form-field {
  width: 100%;
}

.countdown-form-field-title {
  margin-bottom: var(--space-sm);
  margin-left: var(--space-sm);
  font-size: var(--text-sm);
  font-weight: bold;
}

.countdown-form-bottom {
  gap: var(--space-md);
  margin-top: auto;
}

.countdown-form-field-datalist-container {
  position: absolute;
  overflow: hidden;
  border-top-right-radius: var(--container-inset-radius);
  border-bottom-right-radius: var(--container-inset-radius);
  transform: translate(-50%, var(--space-sm));
}

.countdown-form-field-datalist {
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);

  &:where(.year, .month, .minutes) {
    max-height: 196px;
    overflow-y: auto;
  }

  &.months {
    min-width: 100px;
  }

  &.days {
    padding: var(--space-md);
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .countdown-form-field-datalist-item {
      padding: var(--space-md);

      &:hover {
        border-radius: 8px;
      }
    }
  }

  &.hours {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(8, 1fr);
    padding: var(--space-md);

    .countdown-form-field-datalist-item {
      width: 60px;
      padding: var(--space-md);

      &:hover {
        border-radius: 8px;
      }
    }
  }
}

.countdown-form-field-datalist-item {
  padding: var(--space-md) var(--space-xl);
  text-align: center;
  line-height: 1;
  cursor: pointer;

  &:hover {
    background-color: var(--color-white-10);
  }
}

.countdown-form-bottom-message {
  margin-left: var(--space-sm);
  margin-right: auto;
  font-size: var(--text-sm);
  font-weight: bold;
  color: var(--color-negative);
}
