.twitter-settings {
  width: calc(100% - var(--space-xxl));
  padding: 0;
}

.twitter-settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm) var(--space-sm) var(--space-sm) var(--space-md);
}

.twitter-settings-title {
  font-size: var(--text-xl);
}

.twitter-settings-section {
  padding: var(--space-md);
  border-top: 1px solid var(--color-white-10);
}

.twitter-settings-section-title {
  margin-bottom: var(--space-md);
  font-size: var(--text-md);
  font-weight: bold;
  color: var(--color-white-60);
}

.twitter-settings-colors {
  display: flex;
  justify-content: space-around;
  padding: var(--space-md);
}

.twitter-settings-color-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
