.timer-content {
  flex-direction: column;
}

.timer-preset-select {
  margin: var(--space-md) 0;
}

.timer-selected-preset-name {
  display: flex;
  align-items: center;
  min-height: 44px;
  font-size: calc(var(--text-lg) * var(--size-multiplier));
}

.timer-input-container {
  height: 100%;
}

.timer-input {
  width: 2ch;
  height: 100%;
  padding: 0;

  &:focus {
    outline: none;
    box-shadow: 0 1px 0 0 var(--color-primary);
  }
}

.timer-dropdown-setting {
  padding: var(--space-sm) var(--space-md);
}
