.main-panel-sidebar {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  transform: translate(-2px, 5px);
  pointer-events: auto;

  &.expanded {
    border-radius: 8px;
    transform: translateX(var(--space-md));
    transition: 0.2s transform;
  }
}

.main-panel-sidebar-btn {
  margin: var(--space-sm);
}

.main-panel-sidebar-show-btn {
  display: block;
  width: 8px;
  height: 24px;
  padding: 0;
  border-radius: inherit;

  &:hover {
    background-color: var(--color-white-10);
    cursor: pointer;
  }
}
