.main-panel-sidebar {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0;
  border-top-right-radius: var(--container-border-radius);
  border-bottom-right-radius: var(--container-border-radius);
  transform: translate(-2px, 8px);
  pointer-events: auto;

  &.expanded {
    border-radius: var(--container-border-radius);
    transform: translateX(var(--space-md));
    transition: var(--duration-n) transform;
  }
}

.main-panel-sidebar-btn {
  margin: var(--space-sm);
}

.main-panel-sidebar-show-btn {
  display: block;
  width: 8px;
  height: 24px;
  padding: 0;
  border-top-right-radius: var(--container-inset-radius);
  border-bottom-right-radius: var(--container-inset-radius);
  background-color: var(--color-white-4);

  &:hover {
    background-color: var(--color-white-10);
    cursor: pointer;
  }

  &:focus-visible {
    box-shadow: var(--focus-shadow);
  }
}
