.create-btn {
  --bottom: var(--space-md);
  --expanded-width: 92px;
  --background-color: var(--color-primary);
  --shift: 0px;

  z-index: 1;
  position: absolute;
  bottom: var(--bottom);
  right: var(--space-md);
  overflow-x: clip;
  justify-content: flex-start;
  gap: var(--space-sm);
  width: 38px;
  height: auto;
  padding: var(--space-md) var(--space-lg) var(--space-md) var(--space-md);
  box-shadow: var(--highligh-shadow);
  color: var(--color-white);
  transition: var(--duration-f) width,
              var(--duration-f) transform;
  transition-delay: var(--duration-f);
  transform: translateY(var(--shift));

  &.shift-up {
    --shift: -24px;
  }

  &:hover, &:focus-visible {
    --background-color: var(--color-primary-20);

    width: var(--expanded-width);

    .create-btn-text {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &:focus-visible {
    box-shadow:
      inset 0 0 0 2px var(--color-white),
      var(--highligh-shadow);
  }
}

.create-btn-text {
  opacity: 0;
  transform: translateX(8px);
  transition: var(--duration-n) transform, var(--duration-n) opacity;
}
