.shortcuts-items {
  overflow-y: auto;
  display: grid;
  gap: var(--space-md);
  grid-template-columns: repeat(4, 80px);
  max-height: 100%;
  padding: var(--space-md);
  scrollbar-gutter: stable both-edges;

  &.editing  {
    .shortcuts-item:hover {
      border-color: var(--color-primary);
      background-color: var(--color-white-10);
      cursor: move;
    }

    .shortcuts-item-icon {
      opacity: 0.5;
    }
  }
}

.shortcuts-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 8px;

  &.dragging {
    border-color: var(--color-primary);
    background-color: var(--color-white-10);
  }
}

.shortcuts-item-title {
  margin-top: var(--space-md);
  font-size: var(--text-sm);
}

.shortcuts-item-toggle-btn {
  z-index: 1;
  position: absolute;
  top: var(--space-sm);
  right: var(--space-sm);
}

.shortcuts-item-remove-btn {
  z-index: 1;
  position: absolute;
  bottom: var(--space-sm);
  right: var(--space-sm);
}

.shortcuts-add-btn {
  position: absolute;
  top: 5px;
  left: 39px;
}

.shortcuts-edit-toggle-btn {
  position: absolute;
  top: 5px;
  right: 39px;
}
