.apps {
  display: grid;
  gap: var(--space-md);
  grid-template-columns: repeat(4, 80px);
  padding: var(--space-md);
}

.apps-item-link {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: var(--space-sm);
  border-radius: 8px;

  &:hover {
    background-color: var(--color-white-10);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.apps-item-title {
  margin-top: var(--space-md);
  font-size: var(--text-sm);
}
