.apps {
  display: grid;
  gap: var(--space-md);
  grid-template-columns: repeat(4, 80px);
  padding: var(--space-md);
}

.apps-item-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 8px;
}

.apps-item-title {
  margin-top: var(--space-md);
  font-size: var(--text-sm);
}
