<button class="btn btn-text tasks-component-toggle-btn"
    [class.shifted]="visible" [style.zIndex]="zIndex + 1"
    (click)="toggle()">Tasks</button>
<div class="container tasks-component" [style.zIndex]="zIndex" #container
    [class.visible]="visible"
    [class.resizing-enabled]="resizingEnabled"
    [ngSwitch]="visibleItem"
    (click)="handleClickOnContainer()">
    <ng-container *ngSwitchCase="'list'">
        <div class="tasks-component-header task-transition-target">
            <button class="btn btn-icon task-add-btn" (click)="showForm()">
                <svg viewBox="0 0 24 24">
                    <use href="#plus"></use>
                </svg>
                <span>Add a task</span>
            </button>
            <dropdown>
                <button class="btn btn-icon dropdown-item" (click)="showItem('groups')">
                    <svg viewBox="0 0 24 24">
                        <use href="#menu"></use>
                    </svg>
                    <span>Groups</span>
                </button>
                <button class="btn btn-icon dropdown-item" (click)="showItem('settings')">
                    <svg viewBox="0 0 24 24">
                        <use href="#settings"></use>
                    </svg>
                    <span>Settings</span>
                </button>
            </dropdown>
        </div>
        <div class="tasks-main task-transition-target" [class.dialog-visible]="removingItems.tasks.items.length">
            <div class="tasks-groups-container">
                <p class="tasks-notice" *ngIf="!hasTasks || removingItems.tasks.willBeEmpty; else elseBlock3">You have no tasks</p>
                <ng-template #elseBlock3>
                    <div *ngFor="let group of groups; let i = index">
                        <button class="btn btn-icon tasks-groups-item tasks-groups-item-toggle-btn"
                            *ngIf="i !== 0 || defaultGroupVisible"
                            (click)="toggleGroupVisibility(group)"
                            [disabled]="!group.tasks.length"
                            title="{{ group.tasks.length > 0 ? group.expanded ? 'Collapse group' : 'Expand group' : '' }}">
                            <div class="tasks-groups-count">{{ group.tasks.length }}</div>
                            <div class="tasks-groups-title">{{ group.name }}</div>
                            <svg viewBox="0 0 24 24" class="tasks-groups-icon" *ngIf="group.tasks.length > 0">
                                <use attr.href="#chevron-{{ group.expanded ? 'down' : 'up'}}"></use>
                            </svg>
                        </button>
                        <ul cdkDropList (cdkDropListDropped)="handleTaskDrop($event, group)" *ngIf="group.expanded">
                            <li class="task" [class.removing]="task.removing" *ngFor="let task of group.tasks; let j = index" cdkDrag>
                                <div class="tasks-drag-placeholder" *cdkDragPlaceholder></div>
                                <div class="task-body">
                                    <ul class="task-labels" *ngIf="task.labels.length">
                                        <li class="task-label" *ngFor="let label of task.labels">
                                            <div class="task-label-color" [style.backgroundColor]="label.color"></div>
                                            <div class="task-label-title">{{ label.title }}</div>
                                        </li>
                                    </ul>
                                    <div class="task-text-container" [class.has-labels]="task.labels.length">
                                        <button class="checkbox task-checkbox-btn" title="Remove task"
                                            (click)="removeTask(i, j)" [disabled]="task.removing">
                                            <div class="checkbox-tick"></div>
                                        </button>
                                        <div class="task-text" [innerHTML]="task.displayText || task.text"></div>
                                    </div>
                                    <ul class="subtasks" *ngIf="task.subtasks.length">
                                        <li class="subtask" [class.removing]="subtask.removing"
                                            *ngFor="let subtask of task.subtasks; let k = index">
                                            <div class="subtask-body">
                                                <button class="checkbox task-checkbox-btn" title="Mark Completed"
                                                    (click)="removeSubtask(i, j, k)" [disabled]="subtask.removing">
                                                    <div class="checkbox-tick"></div>
                                                </button>
                                                <span class="task-text" [innerHTML]="subtask.displayText || subtask.text"></span>
                                            </div>
                                        </li>
                                    </ul>
                                    <button class="btn btn-icon btn-icon-alt task-edit-btn" title="Edit task"
                                        (click)="editTask(i, j)" [disabled]="task.removing">
                                        <svg class="task-edit-btn-icon" viewBox="0 0 24 24">
                                            <use href="#edit"></use>
                                        </svg>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </ng-template>
            </div>
            <div class="tasks-dialog">
                <span>Removed <span class="tasks-dialog-count">{{ removingItems.tasks.items.length }}</span> task{{ removingItems.tasks.items.length > 1 ? "s" : "" }}</span>
                <button class="btn btn-text-alt tasks-dialog-btn" (click)="undoTaskRemoval()">UNDO</button>
            </div>
        </div>
    </ng-container>
    <div class="tasks-item-container task-form-container task-transition-target"  *ngSwitchCase="'form'">
        <form (submit)="createLabel($event)">
            <div class="task-form-label-input-container">
                <div class="task-form-color-picker-container" [style.backgroundColor]="formColor">
                    <input type="color" name="color" class="task-form-color-picker"
                        (input)="updateLabelColor($event)"
                        [value]="formColor">
                </div>
                <input type="text" name="title" class="input task-form-label-title-input"
                    placeholder="Label" autocomplete="off" required>
                <button class="btn">Create</button>
            </div>
            <p class="task-form-label-message" *ngIf="labelMessage">{{ labelMessage }}</p>
            <ul class="task-form-labels" *ngIf="formLabels.length">
                <li class="task-form-label" *ngFor="let label of formLabels">
                    <button type="button" class="btn btn-icon task-form-label-btn"
                        [title]="label.flagged ? 'Deselect label' : 'Select label'"
                        [class.flagged]="label.flagged" (click)="flagLabel(label)">
                        <div class="task-label-color" [style.backgroundColor]="label.color"></div>
                        <div class="task-label-title">{{ label.title }}</div>
                        <div class="checkbox-tick task-form-label-btn-tick"></div>
                    </button>
                </li>
            </ul>
        </form>
        <form class="task-form" (submit)="handleFormSubmit($event)">
            <div class="task-form-group-select-container" *ngIf="groups.length > 1">
                <div class="task-form-group-select-input-name">Groups</div>
                <select-item (onSelectedItem)="selectFormGroup($event)" [selected]="formTask.selectedGroupId">
                    <button type="button" class="btn btn-text select-item-list-item" [attr.data-id]="group.id"
                        *ngFor="let group of groups">{{ group.id === "unorganized" ? "" : group.name }}</button>
                </select-item>
            </div>
            <textarea class="input task-input" name="text" [value]="formTask.text"
                placeholder="Details" required></textarea>
            <button type="button" class="btn btn-icon subtask-add-btn" (click)="addSubtask()">
                <svg viewBox="0 0 24 24">
                    <use href="#plus"></use>
                </svg>
                <span>Add subtask</span>
            </button>
            <ul class="task-form-subtasks" *ngIf="formTask.subtasks.length">
                <li class="task-form-subtask" *ngFor="let task of formTask.subtasks; let i = index">
                    <input type="text" name="subtask" class="input" [value]="task.text" autocomplete="off">
                    <button type="button" class="btn btn-icon btn-icon-alt" (click)="removeTemporarySubtask(i)">
                        <svg viewBox="0 0 24 24">
                            <use href="#trash"></use>
                        </svg>
                    </button>
                </li>
            </ul>
            <div class="tasks-item-container-footer">
                <button type="button" class="btn btn-text" (click)="hideForm()">Cancel</button>
                <button type="submit" class="btn">{{ formTask.makingEdit ? "Update" : "Create" }}</button>
            </div>
        </form>
    </div>
    <div class="tasks-item-container task-transition-target"  [class.dialog-visible]="removingItems.groups.items.length" *ngSwitchCase="'groups'">
        <form class="tasks-groups-form" (submit)="createGroup($event)">
            <input type="text" class="input tasks-groups-form-input" name="name" placeholder="Group name" autocomplete="off" required/>
            <button class="btn">Create</button>
        </form>
        <p class="tasks-notice" *ngIf="groups.length === 1 || removingItems.groups.willBeEmpty; else elseBlock">You have no groups</p>
        <ng-template #elseBlock>
            <ul class="tasks-groups-items" cdkDropList (cdkDropListDropped)="handleGroupDrop($event)">
                <ng-container *ngFor="let group of groups; let i = index">
                    <li class="tasks-groups-item" [class.renaming]="group.renameEnabled" [class.removing]="group.removing" *ngIf="group.id !== 'unorganized'" cdkDrag>
                        <div class="tasks-drag-placeholder" *cdkDragPlaceholder></div>
                        <input type="text" class="input tasks-groups-input" #groupNameInput
                            *ngIf="group.renameEnabled; else elseBlock" [value]="group.name"
                            (blur)="renameGroup(group)" (keyup.enter)="renameGroupOnEnter($event)">
                        <ng-template #elseBlock>
                            <div class="tasks-groups-count">{{ group.tasks.length }}</div>
                            <div class="tasks-groups-title">{{ group.name }}</div>
                            <dropdown [id]="group.id" [props]="{
                                toggle: { className: 'btn-icon-alt' }
                            }" [needWorkaround]="true">
                                <button class="btn btn-icon dropdown-item" (click)="enableGroupRename(group)">
                                    <svg viewBox="0 0 24 24">
                                        <use href="#edit"></use>
                                    </svg>
                                    <span>Rename</span>
                                </button>
                                <button class="btn btn-icon dropdown-item" (click)="removeGroup(i)">
                                    <svg viewBox="0 0 24 24">
                                        <use href="#trash"></use>
                                    </svg>
                                    <span>Remove</span>
                                </button>
                            </dropdown>
                        </ng-template>
                    </li>
                </ng-container>
            </ul>
        </ng-template>
        <div class="tasks-dialog">
            <span>Removed <span class="tasks-dialog-count">{{ removingItems.groups.items.length }}</span> group{{ removingItems.groups.items.length > 1 ? "s" : "" }}</span>
            <button class="btn btn-text-alt tasks-dialog-btn" (click)="undoTaskRemoval()">UNDO</button>
        </div>
        <div class="tasks-item-container-footer">
            <button class="btn btn-text" (click)="hideItem()">Done</button>
        </div>
    </div>
    <div class="tasks-item-container task-transition-target" *ngSwitchCase="'settings'">
        <label class="checkbox-container tasks-settings-item">
            <input type="checkbox" class="sr-only checkbox-input"
                [checked]="resizingEnabled"
                (click)="toggleResizing()"
                (keyup.enter)="toggleResizing()">
            <div class="checkbox">
                <div class="checkbox-tick"></div>
            </div>
            <span>Enable resizing</span>
        </label>
        <label class="checkbox-container tasks-settings-item">
            <input type="checkbox" class="sr-only checkbox-input"
                [checked]="defaultGroupVisible"
                (click)="toggleDefaultGroupVisibility()"
                (keyup.enter)="toggleDefaultGroupVisibility()">
            <div class="checkbox">
                <div class="checkbox-tick"></div>
            </div>
            <span>Show unorganized group</span>
        </label>
        <div class="tasks-item-container-footer">
            <button class="btn btn-text" (click)="hideItem()">Done</button>
        </div>
    </div>
    <resize-bar (pointerUp)="saveHeight($event)" *ngIf="resizingEnabled"></resize-bar>
</div>
