@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.tasks-component-toggle-btn {
    position: absolute;
    top: 4px;
    left: 4px;
    padding: 4px 6px;
    text-shadow: 0 1px 0 $color-black-10, 0 0 4px $color-black-10;
    transition: 0.2s transform;
    transition-delay: 0.2s;

    &.shifted {
        transform: translate(4px, 4px);
        transition-delay: 0s;
    }

    &:hover {
        background-color: transparent;
    }
}

.tasks-component {
    overflow: hidden;
    position: absolute;
    top: 4px;
    left: 4px;
    opacity: 0;
    visibility: hidden;
    width: 320px;
    height: 440px;
    max-height: calc(100% - 8px);
    border-bottom-right-radius: 50%;
    transform-origin: top left;
    transform: scale(0);
    transition: 0.2s transform,
                0.2s opacity,
                0.2s visibility,
                0.2s border-bottom-right-radius;
    transition-delay: 0.2s;
    will-change: border-bottom-right-radius;

    &.visible {
        opacity: 1;
        visibility: visible;
        border-bottom-right-radius: 0;
        transform: scale(1);
        transition-delay: 0s;

        .task-transition-target {
            opacity: 1;
            transition-delay: 0.2s;
        }
    }
}

.task-transition-target {
    opacity: 0;
    transition: 0.2s opacity;
}

.tasks-component-header {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    padding: 4px;
    border-bottom: 1px solid $color-white-10;
}

.task-add-btn {
    padding-left: 6px;
    padding-right: 6px;
}

.task-drag-placeholder {
    box-shadow: 0 0 0 1px $color-blue;
}

.cdk-drag-preview {
    display: none;
}

.tasks {
    @include scrollbar;

    overflow-y: auto;
    transition: 0.2s opacity, 0.1s height;
    height: calc(100% - 33px);

    &.dialog-visible {
        height: calc(100% - 68px);
    }
}

.task, .subtask {
    overflow: hidden;
    max-height: 1000px;

    &.removing {
        transition: 0.2s opacity, 0.4s max-height;
        opacity: 0;
        max-height: 0;
    }
}

.task {
    position: relative;
    box-shadow: 0 1px 0 0 $color-white-10;

    &:hover .task-edit-btn {
        display: flex;
    }
}

.task-body {
    padding: 12px 8px;
}

.task-labels {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px 4px 4px;
}

.task-label {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    &:not(:last-of-type) {
        margin-right: 8px;
    }
}

.task-label-color {
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
}

.task-label-title {
    font-size: 13px;
}

.task-text-container {
    display: flex;
    margin-right: 20px;

    &.has-labels {
        margin-right: 0;
    }
}

.task-checkbox-btn {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    padding: 0;
    margin-right: 8px;
    border-radius: 2px;
    background-color: $color-white-10;
    cursor: pointer;

    &:hover .task-checkbox-tick {
        display: block;
    }
}

.task-checkbox-tick {
    display: none;
    width: 100%;
    height: 100%;
    color: $color-blue;
}

.task-text {
    flex-grow: 1;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.task-edit-btn {
    position: absolute;
    top: 12px;
    right: 8px;
    display: none;
    padding: 0;
}

.task-edit-btn-icon {
    width: 16px;
    height: 16px;
}

.subtasks {
    margin-left: 24px;
}

.subtask-body {
    display: flex;
    align-items: flex-start;
    padding-top: 8px;
}

.tasks-dialog {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-top: 1px solid $color-white-10;
}

.tasks-dialog-task-count {
    font-weight: bold;
}

.tasks-dialog-btn {
    margin-left: auto;
    font-size: 13px;
    font-weight: bold;
}

.task-form-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 33px);
    padding-top: 8px;
}

.task-form-label-input-container {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.task-form-color-picker-container {
    overflow: hidden;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 50%;
}

.task-form-color-picker {
    opacity: 0;
    cursor: pointer;
}

.task-form-label-title-input {
    flex-grow: 1;
    min-width: 0;
    margin-right: 8px;
}

.task-form-labels {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
}

.task-form-label {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-left: 4px;
}

.task-form-label-btn {
    position: relative;
    padding: 2px 6px;

    &.flagged {
        .task-form-label-btn-tick {
            display: block;
            animation-name: scale-up;
            animation-duration: 0.2s;
            animation-fill-mode: forwards;
        }

        .task-label-color,
        .task-label-title {
            opacity: 0.4;
        }
    }
}

.task-form-label-btn-tick {
    position: absolute;
    display: none;
    color: $color-success;
}

.task-form-label-message {
    margin-top: 4px;
    margin-left: 4px;
    font-size: 13px;
    color: $color-danger;
}

.task-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.task-input {
    flex-shrink: 0;
    display: block;
    width: calc(100% - 8px);
    height: 80px;
    margin: 8px 4px;
}

.subtask-add-btn {
    flex-shrink: 0;
    padding: 2px 6px;
    margin-left: 4px;
}

.task-form-subtasks {
    @include scrollbar;

    overflow-y: auto;
    flex-grow: 1;
    flex-basis: 28px;
    width: 100%;
    padding: 4px 4px 0 4px;
    margin-top: 4px;
}

.task-form-subtask {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    .input {
        flex-grow: 1;
        margin-right: 4px;
    }
}

.task-form-footer {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 100%;
    margin-top: auto;
    padding: 4px;
    border-top: 1px solid $color-white-10;
}

.task-notice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 68px);
    font-size: 18px;
}
