.setting-greeting {
  justify-content: flex-start;
  padding: 0;
}

.setting-greeting-item {
  display: flex;
  flex: 1;
  padding: var(--space-md);

  &:first-child {
    justify-content: center;
    border-right: 1px solid var(--color-white-10);
  }
}
