.sticky-notes-list-container {
  display: flex;
  flex-direction: column;
  height: 312px;
  width: 280px;
}

.sticky-notes-list {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--space-md);
  padding: var(--space-md);
}

.sticky-notes-list-item {
  padding: var(--space-md);
  border-radius: 8px;
  box-shadow: var(--fg-shadow);

  .dropdown-container {
    float: right;
    margin-left: var(--space-sm);
  }
}

.sticky-notes-list-item-content {
  color: var(--text-color);
  font-size: var(--text-xl);
  white-space: pre-wrap;
  font-family: "Caveat";
  line-height: 1.1;
  overflow-wrap: anywhere;
}

.sticky-notes-list-message {
  margin: auto;
}

.sticky-notes-list-item-hidden-icon {
  float: right;
  opacity: 0.8;
  margin-top: var(--space-sm);
}
