<ul class="most-visited">
    <li class="most-visited-item" *ngFor="let page of mostVisited.display; let i = index">
        <button class="btn-icon remove-page-btn" (click)="removePage(i)" title="Remove">
            <svg viewBox="0 0 24 24">
                <use href="#cross"></use>
            </svg>
        </button>
        <a [href]="page.url" [title]="page.title">
            <div class="page-title">{{ page.title }}</div>
            <div class="page-thumbnail-container">
                <img class="page-thumbnail" alt=""
                [src]="page.image"
                [class.full]="page.uploaded">
            </div>
        </a>
    </li>
    <li class="most-visited-item" *ngIf="!hasBackup" [class.is-in-one-line]="mostVisited.display.length < 4" (click)="showNewThumbWindow()">
        <button class="btn-icon add-page-btn" title="Add new page">
            <svg viewBox="0 0 24 24">
                <use href="#plus"></use>
            </svg>
        </button>
    </li>
</ul>
<div class="most-visited-mask" *ngIf="newThumbWindowVisible"></div>
<div class="container new-thumbnail-window" *ngIf="newThumbWindowVisible">
    <h2 class="new-thumbnail-window-title">Add new page</h2>
    <form (submit)="addPage(fileInput)">
        <input type="text" class="input" placeholder="title" name="title" [(ngModel)]="newPage.title">
        <input type="text" class="input" placeholder="url" name="url" [(ngModel)]="newPage.url" required>
        <div class="new-thumbnail-window-btn-container">
            <label for="file-input" class="btn image-upload-btn">Choose thumbnail</label>
            <input type="file" id="file-input" class="file-input" #fileInput>
            <button class="btn">Add</button>
            <button type="button" class="btn" (click)=hideNewThumbWindow()>Close</button>
        </div>
    </form>
</div>
