@import "../../../styles/mixins.css";

.twitter-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.twitter-header {
  padding: var(--space-sm);
}

.twitter-header-btn {
  margin-left: var(--space-sm);
}

.twitter-content-mask {
  position: absolute;
  inset: 0;
  background-color: var(--color-grey-90-50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter-content-mask-spinner {
  width: 48px;
  height: 48px;
}

.twitter-user {
  display: flex;
  align-items: center;
  margin-left: var(--space-md);
  margin-right: auto;

  &:hover .twitter-user-name {
    text-decoration: underline;
  }
}

.twitter-user-image {
  height: 24px;
  border-radius: 50%;
}

.twitter-user-name {
  margin-left: var(--space-md);
  margin-right: var(--space-sm);
  font-weight: bold;
}

.twitter-user-handle {
  color: var(--color-white-60);
}

.twitter-header-dropdown {
  width: 240px;
  margin-right: var(--space-sm);
}

.twitter-header-dropdown-user {
  justify-content: flex-start;
  width: 100%;
  border-radius: 0;
  text-align: left;

  &:disabled {
    --color: var(--color-white);
  }
}

.twitter-header-dropdown-user-image {
  border-radius: 50%;
  margin-right: var(--space-md);
}

.twitter-header-dropdown-user-handle {
  color: var(--color-white-60);
  font-weight: normal;
}

.twitter-header-dropdown-user-indicator {
  width: 8px;
  height: 16px;
  margin-left: auto;
  margin-right: var(--space-md);
  border-right: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  transform: rotateZ(45deg);
}

.new-tweet-btn,
.more-tweets-btn {
  width: 100%;
  height: auto;
  padding: var(--space-md);
  border-radius: 0;

  &:hover {
    background-color: var(--color-white-4);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 2px var(--color-primary);
  }
}

.new-tweet-btn {
  border-bottom: 1px solid var(--color-white-10);
}

.tweets {
  overflow-y: auto;
  flex-grow: 1;
  contain: strict;

  &.tweet-indicator {
    box-shadow: 0 -2px 0 0 var(--color-primary);
  }
}
