.countdown {
  overflow: hidden;
  position: relative;
  min-height: 174px;
  border-bottom-right-radius: 6px;
}

.countdown-form {
  position: static;
  padding: var(--space-md);
}

.countdowns-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--text-lg);
}

.countdown-create-btn-title {
  overflow: hidden;
  width: 0;
  transition: 0.1s width;
  transition-delay: 0.1s;
}

.countdown-create-btn {
  --background-color: var(--color-primary);

  z-index: 1;
  position: fixed;
  bottom: var(--space-md);
  right: var(--space-md);
  height: auto;
  padding: var(--space-md);
  box-shadow:
    1px 2px 2px 0 var(--color-black-8),
    2px 4px 4px 0 var(--color-black-4),
    4px 8px 8px 0 var(--color-black-2);

  & svg {
    margin-right: 0;
  }

  &:hover, &:focus-visible {
    --background-color: var(--color-primary-20);

    & .countdown-create-btn-title {
      width: 56px;
    }
  }

  &:focus-visible {
    box-shadow:
      inset 0 0 0 2px var(--color-white)
      1px 2px 2px 0 var(--color-black-8),
      2px 4px 4px 0 var(--color-black-4),
      4px 8px 8px 0 var(--color-black-2);
  }
}

.countdown-items {
  overflow-y: auto;
  max-height: 292px;
}

.countdown-item-remove-btn {
  position: absolute;
  top: var(--space-md);
  right: var(--space-md);
  opacity: 0;

  &:hover, &:focus-visible {
    opacity: 1;
  }
}

.countdown-item-timer {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-xl);
}

.countdown-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-md);

  &:hover .countdown-item-remove-btn {
    animation: 0s linear 0.4s forwards delayed-reveal;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-white-10);
  }
}

.countdown-item-title {
  margin-bottom: var(--space-md);
  font-size: var(--text-lg);
  text-align: center;
}

.countdown-item-timer-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
}

.countdown-item-timer-digit {
  font-size: var(--text-xxxl);
}

.countdown-item-date {
  text-align: center;
  color: var(--color-white-60);
}
