.countdown {
  position: relative;
  min-height: 174px;
  border-bottom-right-radius: var(--container-inset-radius);
}

.countdowns-message {
  min-height: inherit;
  font-size: var(--text-lg);
}

.countdown-items-container {
  overflow-y: auto;
  max-height: 292px;
  overflow-x: clip;
  scrollbar-gutter: stable both-edges;
}

.countdown-items {
  display: block;
  height: auto;
}

.countdown-item-dropdown {
  position: absolute;
  top: var(--space-md);
  right: var(--space-md);
  opacity: 0;

  &.visible, &:hover, &:has(:focus-visible) {
    animation-name: opacity-up;
    animation-duration: var(--duration-n);
    animation-fill-mode: both;
  }
}

.countdown-item-dropdown-title {
  padding: var(--space-md);
  font-size: var(--text-sm);
  font-weight: bold;
  text-align: center;
}

.countdown-item-timer {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-xl);
}

.countdown-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-md);

  &:hover .countdown-item-dropdown:not(.visible, :hover) {
    animation-name: opacity-up;
    animation-duration: var(--duration-n);
    animation-fill-mode: both;
    animation-delay: 0.5s;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-white-10);
  }
}

.countdown-item-title {
  margin-bottom: var(--space-md);
  font-size: var(--text-lg);
  text-align: center;
}

.countdown-item-timer-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);

  &.seconds {
    min-width: 64px;
  }
}

.countdown-item-timer-digit {
  font-size: var(--text-xxxl);
}

.countdown-item-date {
  text-align: center;
  color: var(--color-white-60);
}

.countdown-item-dropdown-remove-btn {
  justify-content: center;
}
