.feed-form-title {
  margin-top: var(--space-md);
  margin-bottom: var(--space-xl);
  font-size: var(--text-lg);
  text-align: center;
}

.feed-form {
  width: 240px;
  margin: auto;
}

.feed-form-input {
  width: 100%;
  margin-bottom: var(--space-md);
}

.feed-add-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-md);
}

.feed-message {
  font-size: var(--text-sm);
  font-weight: bold;
  color: var(--color-negative);
}

.feed-form-hide-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}
