.selected-day-header {
  position: relative;
  justify-content: flex-start;
  border-bottom: 1px solid var(--color-white-10);
}

.selected-day-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selected-day-remainders {
  overflow-y: auto;
  flex-grow: 1;
}

.selected-day-remainder {
  display: flex;
  align-items: flex-start;
  gap: var(--space-sm);
  padding: var(--space-sm);
  border-bottom: 1px solid var(--color-white-10);
  word-break: break-word;
}

.selected-day-reminder-color {
  flex-shrink: 0;
  width: 4px;
  height: 24px;
  padding: 0;
  margin-right: var(--space-sm);
  margin-left: var(--space-xs);
  border-radius: 8px;
  transition: var(--duration-n) transform,
              var(--duration-n) background-color;

  &:not(.inert) {
    &:hover, &:focus-visible {
      transform: scaleX(2);
      box-shadow: none;

    }
  }
}

.selected-day-reminder-range {
  margin-top: var(--space-sm);
  font-size: var(--text-xs);
  font-weight: bold;
  color: var(--color-white-60);
}

.reminder-repeat-icon {
  flex-shrink: 0;
  color: var(--color-white-60);
}

.selected-day-remainder-dropdown {
  margin-left: auto;
}

.empty-reminder-list-message {
  margin: auto;
  font-size: var(--text-lg);
}
