.selected-day-header {
  position: relative;
  justify-content: flex-start;
  border-bottom: 1px solid var(--color-white-10);
}

.selected-day-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--text-lg);
  font-weight: normal;
}

.selected-day-remainders {
  overflow-y: auto;
  flex-grow: 1;
}

.selected-day-remainder {
  display: flex;
  align-items: flex-start;
  padding: var(--space-sm);
  border-bottom: 1px solid var(--color-white-10);
}

.selected-day-reminder-color {
  flex-shrink: 0;
  width: 4px;
  height: 24px;
  margin-right: var(--space-md);
  margin-left: var(--space-xs);
  transition: 0.2s transform, 0.2s background-color;

  &:hover {
    transform: scaleX(2);
  }
}

.selected-day-reminder-range {
  margin-top: var(--space-sm);
  font-size: var(--text-xs);
  font-weight: bold;
  color: var(--color-white-60);
}

.reminder-repeat-icon {
  flex-shrink: 0;
  margin-right: var(--space-sm);
  color: var(--color-white-60);
}

.selected-day-remainder-dropdown {
  margin-left: auto;
}

.empty-reminder-list-message {
  margin: auto;
  font-size: var(--text-lg);
}
