.weather {
  --icon-filter:
      drop-shadow(0 1px 1px var(--color-black-16))
      drop-shadow(1px 2px 2px var(--color-black-8))
      drop-shadow(2px 4px 4px var(--color-black-4))
      url("#weather-icon-ambilight");

  z-index: var(--z-index, 1);
  cursor: default;

  &.placement-top-left, &.placement-bottom-left {
    .weather-temperature {
      order: 1;
    }

    .weather-location {
      margin-left: var(--space-md);
      text-align: left;
    }
  }

  &.placement-top-right, &.placement-bottom-right {
    .weather-location {
      margin-right: var(--space-md);
      text-align: right;
    }
  }

  &.moved {
    --x: var(--space-md);
    --y: var(--space-md);

    position: absolute;
    top: var(--y);
    left: var(--x);

    .weather-more:not(.visible) {
      opacity: 0;
      transition: var(--duration-n) opacity;
      transition-delay: var(--duration-f);
    }

    .weather-more.visible .weather-transition-target  {
      transition-delay: 0s;
    }
  }
}

.weather-more {
  display: none;
  width: 580px;
  height: 426px;

  &.reveal {
    display: block;
  }

  &.visible {
    .weather-transition-target {
      opacity: 1;
      transition-delay: var(--duration-f);
    }
  }
}

.weather-transition-target {
  opacity: 0;
  transition: var(--duration-n) opacity;
}
