.weather {
  z-index: var(--z-index, 1);
  position: absolute;
  top: var(--space-md);
  right: var(--space-md);
  cursor: default;

  &:has(.weather-more-btn) {
    &:hover, &:has(:focus-visible) {
      .weather-more-btn {
        --background-color: var(--color-white-10);

        opacity: 1;
      }

      .weather-current {
        scale: 0.5;
      }
    }
  }
}

.weather-current {
  text-shadow:
    0 1px 1px var(--color-black-8),
    1px 2px 2px var(--color-black-4),
    2px 4px 4px var(--color-black-2);
  transition: var(--duration-n) opacity, var(--duration-f) scale;
  transform-origin: top right;
  user-select: none;
}

.weather-more-btn {
  z-index: 1;
  position: absolute;
  right: calc(-1 * var(--space-md));
  top: calc(-1 * var(--space-md));
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 56px;
  border-radius: 0;
  border-bottom-left-radius: 999px;
  backdrop-filter: blur(2px);
  background-image: var(--panel-background-noise);

  .svg-icon {
    transform: translateX(var(--space-md));
  }
}

.weather-temperature-icon-container {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: var(--space-md);
}

.weather-temperature {
  display: flex;
  align-self: center;
}

.weather-temperature-value {
  font-size: var(--text-xxxl);
  line-height: 1;
}

.weather-temperature-units {
  margin-left: var(--space-xs);
  font-size: var(--text-lg);
}

.weather-icon {
  filter:
    drop-shadow(0 1px 1px var(--color-black-8))
    drop-shadow(1px 2px 2px var(--color-black-4))
    drop-shadow(2px 4px 4px var(--color-black-2));
}

.weather-city {
  margin-right: var(--space-md);
  font-weight: bold;
  text-align: right;
  letter-spacing: 1px;
}

.weather-more {
  opacity: 0;
  visibility: hidden;
  width: 580px;
  height: 426px;
  border-bottom-left-radius: 999px;
  transform-origin: top right;
  transform: scale(0);
  transition:
    var(--duration-n) transform,
    var(--duration-n) opacity,
    var(--duration-n) visibility,
    var(--duration-n) border-bottom-left-radius;
  transition-delay: var(--duration-f);

  &.visible {
    opacity: 1;
    visibility: inherit;
    border-bottom-left-radius: var(--container-border-radius);
    transform: scale(1);
    transition-delay: 0s;

    .weather-transition-target {
      opacity: 1;
      transition-delay: var(--duration-f);
    }
  }
}

.weather-transition-target {
  opacity: 0;
  transition: var(--duration-n) opacity;
}
