.weather {
  --icon-filter:
      drop-shadow(0 1px 1px var(--color-black-16))
      drop-shadow(1px 2px 2px var(--color-black-8))
      drop-shadow(2px 4px 4px var(--color-black-4))
      url("#weather-icon-ambilight");

  z-index: var(--z-index, 1);
  cursor: default;

  &.top-left, &.bottom-left {
    .weather-temperature {
      order: 1;
    }

    .weather-location {
      margin-left: var(--space-md);
      text-align: left;
    }
  }

  &.top-right, &.bottom-right {
    .weather-location {
      margin-right: var(--space-md);
      text-align: right;
    }
  }
}

.weather-small {
  &:hover, &:has(:focus-visible) {
    .weather-more-btn {
      opacity: 1;
      translate: 8px 8px;
    }

    .weather-current {
      scale: 0.64;
    }
  }

  &.hidden {
    display: none;
  }
}

.weather-current {
  text-shadow:
    0 1px 1px var(--color-black-8),
    1px 2px 2px var(--color-black-4),
    2px 4px 4px var(--color-black-2);
  transition: var(--duration-n) opacity, var(--duration-f) scale;
  user-select: none;
}

.weather-more-btn {
  z-index: 1;
  position: absolute;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 80%;
  border-radius: 16px;
  backdrop-filter: blur(2px);
  background-image: var(--panel-background-noise);
}

.weather-temperature-icon-container {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: var(--space-md);
}

.weather-temperature {
  display: flex;
  align-self: center;
}

.weather-temperature-value {
  font-size: var(--text-xxxl);
  line-height: 1;
}

.weather-temperature-units {
  margin-left: var(--space-xs);
  font-size: var(--text-lg);
}

.weather-icon {
  filter:
    drop-shadow(0 1px 1px var(--color-black-8))
    drop-shadow(1px 2px 2px var(--color-black-4))
    drop-shadow(2px 4px 4px var(--color-black-2));

  &.icon-13d, &.icon-13n {
    filter:
      brightness(2)
      drop-shadow(0 1px 1px var(--color-black-8))
      drop-shadow(1px 2px 2px var(--color-black-4))
      drop-shadow(2px 4px 4px var(--color-black-2));
  }
}

.weather-location {
  font-weight: bold;
  letter-spacing: 1px;
}

.weather-more {
  display: none;
  width: 580px;
  height: 426px;

  &.reveal {
    display: block;
  }

  &.visible {
    .weather-transition-target {
      opacity: 1;
      transition-delay: var(--duration-f);
    }
  }
}

.weather-transition-target {
  opacity: 0;
  transition: var(--duration-n) opacity;
}
