.weather {
  z-index: var(--z-index, 1);
  position: absolute;
  top: var(--space-md);
  right: var(--space-md);
  cursor: default;
}

.weather-more-btn {
  z-index: 1;
  position: absolute;
  right: -8px;
  top: -8px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% + 32px);
  height: calc(100% + 16px);
  border-radius: 0;
  border-bottom-left-radius: 999px;

  &:hover, &:focus-visible {
    opacity: 1;

    & + .weather-current {
      opacity: 0.4;
    }
  }
}

.weather-current {
  text-shadow: 0 1px 2px var(--color-black-8),
                0 2px 4px var(--color-black-4),
                0 4px 8px var(--color-black-2);
  transition: 0.1s opacity;

  & img {
    filter: drop-shadow(0 4px 8px var(--color-black-16));
  }
}

.weather-temperature-icon-container {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: var(--space-md);
}

.weather-temperature {
  display: flex;
  align-self: center;
}

.weather-temperature-value {
  font-size: var(--text-xxxl);
  line-height: 1;
}

.weather-temperature-units {
  margin-left: var(--space-xs);
  font-size: var(--text-lg);
}

.weather-city {
  margin-right: var(--space-md);
  font-weight: bold;
  text-align: right;
  letter-spacing: 1px;
}

.weather-more {
  opacity: 0;
  visibility: hidden;
  width: 436px;
  height: 270px;
  border-bottom-left-radius: 999px;
  transform-origin: top right;
  transform: scale(0);
  transition: 0.2s transform,
              0.2s opacity,
              0.2s visibility,
              0.2s border-bottom-left-radius;
  transition-delay: 0.1s;

  &.visible {
    opacity: 1;
    visibility: visible;
    border-bottom-left-radius: 8px;
    transform: scale(1);
    transition-delay: 0s;

    & .weather-transition-target {
      opacity: 1;
      transition-delay: 0.1s;
    }
  }
}

.weather-transition-target {
  opacity: 0;
  transition: 0.2s opacity;
}
