.world-form {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 440px;
  max-width: 100%;
  max-height: 100%;
}

.world-form-header {
  position: relative;
}

.world-form-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--text-md);
  font-weight: bold;
}

.world-form-top {
  padding: var(--space-md);
  border-bottom: 1px solid var(--color-white-10);
}

.world-form-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: var(--space-sm);
  padding-right: var(--space-xs);
  border-radius: 999px;
  background-color: var(--color-white-10);

  &:has(> .world-form-input:focus-visible) {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.world-form-input-icon {
  position: absolute;
  box-sizing: content-box;
  padding: var(--space-sm);
  pointer-events: none;
}

.world-form-input {
  --background-color: transparent;

  width: 100%;
  height: auto;
  padding-left: 28px;
  border-color: transparent;
  border-radius: 0;

  &:focus-visible {
    box-shadow: none;
  }
}

.world-form-input-clear-btn {
  padding: var(--space-xs);
  height: auto;
}

.world-form-results {
  overflow: auto;
  flex-grow: 1;
  padding: var(--space-sm);
}

.world-form-result {
  padding: var(--space-sm);

  &.added {
    .world-clock-city, .world-clock-diff {
      color: var(--color-white-40);
    }
  }
}

.world-form-result-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: var(--space-md);
  border-radius: 8px;
  text-align: left;

  &:disabled {
    --color: var(--color-white);
  }
}

.world-form-result-country {
  font-weight: normal;
}

.world-form-message {
  margin: auto;
  font-size: var(--text-lg);
}
