<div class="widget-menu">
    <div class="widget-menu-container" [ngClass]="{ container: visible, visible: visible }">
        <div class="menu-header">
            <h3 class="menu-title menu-transition-target">{{ title }}</h3>
            <button class="font-btn menu-btn" (click)="toggleWidget()" [class.active]="visible"
                title="{{ visible ? 'Close' : 'Open menu'}}">
                <div class="menu-btn-bar menu-btn-bar-1"></div>
                <div class="menu-btn-bar menu-btn-bar-2"></div>
                <div class="menu-btn-bar menu-btn-bar-3"></div>
            </button>
        </div>
        <ul class="menu-item-container menu-transition-target" *ngIf="!selectedItem">
            <li class="menu-item">
                <button class="icon-clock font-btn menu-item-icon" (click)="toggleUpperBlockComp()">
                    <div class="menu-item-title">Timer / Stopwatch</div>
                </button>
            </li>
            <li class="menu-item">
                <button class="icon-dropbox font-btn menu-item-icon" (click)="toggleWidget('Dropbox')">
                    <div class="menu-item-title">Dropbox</div>
                </button>
            </li>
            <li class="menu-item">
                <button class="icon-calendar font-btn menu-item-icon" (click)="toggleWidget('Calendar')">
                    <div class="menu-item-title">Calendar</div>
                </button>
            </li>
            <li class="menu-item">
                <button class="icon-wrench font-btn menu-item-icon" (click)="toggleWidget('Settings')">
                    <div class="menu-item-title">Settings</div>
                </button>
            </li>
        </ul>
        <settings [hidden]="selectedItem !== 'Settings'" (setting)="onSetting($event)"></settings>
        <dropbox *ngIf="selectedItem === 'Dropbox'" (setting)="onSetting($event)"></dropbox>
        <calendar [hidden]="selectedItem !== 'Calendar'"
            (reminders)="onReminders($event)"
            [remidersDisabled]="remidersDisabled"></calendar>
    </div>
</div>
