<div class="container menu-item-content-container" [class.visible]="item.id && !isClosing"
    [style.zIndex]="zIndex"
    (click)="increaseZIndex()">
    <div class="menu-header menu-transition-target">
        <svg viewBox="0 0 24 24">
            <use [attr.href]="'#' + item.iconId"></use>
        </svg>
        <h3 class="menu-title">{{ item.title }}</h3>
        <button class="btn btn-icon" (click)="hideItem()" title="Close">
            <svg viewBox="0 0 24 24">
                <use href="#cross"></use>
            </svg>
        </button>
    </div>
    <div class="menu-transition-target">
        <google-apps *ngIf="item.id === 'google-apps'"></google-apps>
        <settings class="settings-container" *ngIf="item.id === 'settings'"
            (showBackgroundViewer)="onShowBackgroundViewer($event)"></settings>
        <calendar class="calendar-container" [class.visible]="item.id === 'calendar'"
            [isHidden]="!item.id"
            (reminderIndicatorVisible)="showReminderIndicator($event)">
        </calendar>
    </div>
</div>
<ul class="menu" *ngIf="!item.id && !isClosing"
    [style.zIndex]="zIndex"
    (click)="increaseZIndex()">
    <li class="menu-item">
        <button class="btn btn-outside menu-item-btn"
            (click)="showItem('google-apps', 'Google Apps', 'grid')" title="Google Apps">
            <svg viewBox="0 0 24 24">
                <use href="#grid"></use>
            </svg>
        </button>
    </li>
    <li class="menu-item">
        <button class="btn btn-outside menu-item-btn"
            [class.indicator-visible]="countdownIndicatorStatus.running"
            [class.pulse]="countdownIndicatorStatus.hasEnded"
            (click)="toggleUpperBlock()" title="Timers">
            <svg viewBox="0 0 24 24">
                <use href="#clock"></use>
            </svg>
        </button>
    </li>
    <li class="menu-item">
        <button class="btn btn-outside menu-item-btn"
            [class.indicator-visible]="reminderInicatorVisible"
            (click)="showItem('calendar')" title="Calendar">
            <svg viewBox="0 0 24 24">
                <use href="#calendar"></use>
            </svg>
        </button>
    </li>
    <li class="menu-item">
        <button class="btn btn-outside menu-item-btn" (click)="showItem('settings')" title="Settings">
            <svg viewBox="0 0 24 24">
                <use href="#settings"></use>
            </svg>
        </button>
    </li>
</ul>
