@import "./fonts.css";
@import "./variables.css";
@import "./controls.css";

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  interpolate-size: allow-keywords;
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: var(--color-grey-90);
  color: var(--color-white);
  font-family: "Open Sans", sans-serif;
  font-size: var(--text-md);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

svg {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.container {
  --container-border-radius: 12px;
  --container-inset-radius: calc(var(--container-border-radius) - 2px);

  padding: 1px;
  border: 1px solid transparent;
  border-radius: var(--container-border-radius);
  box-shadow:
    inset 0 0 0 1px var(--color-white-10),
    1px 2px 2px 0 var(--color-black-16),
    2px 4px 4px 0 var(--color-black-8),
    4px 8px 8px 0 var(--color-black-4),
    8px 16px 16px 0 var(--color-black-2);
  background-color: hsl(var(--accent-hue) 12% 16% / var(--panel-background-opacity));
  backdrop-filter: blur(var(--panel-background-blur));
  background-image: var(--panel-background-noise);
}

.container-opaque {
  background-color: var(--color-grey-90);
  backdrop-filter: none;
}

.container-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  padding: var(--space-sm);
  border-bottom: 1px solid var(--color-white-10);
  border-top-left-radius: var(--container-inset-radius);
  border-top-right-radius: var(--container-inset-radius);
  box-shadow:
    0 2px 2px 0 var(--color-black-4),
    0 4px 4px 0 var(--color-black-2);
  background-color: var(--color-white-4);

  &:not(:has(.btn)) {
    min-height: 39px;
  }
}

.container-header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--text-md);
  font-weight: bold;
}

.container-body {
  background-color: var(--color-black-4);
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: var(--space-sm);
  border-top: 1px solid var(--color-white-10);
  border-bottom-left-radius: var(--container-inset-radius);
  border-bottom-right-radius: var(--container-inset-radius);
  box-shadow:
    0 -2px 2px 0 var(--color-black-4),
    0 -4px 4px 0 var(--color-black-2);
  background-color: var(--color-white-4);
}

.fullscreen-mask {
  background-color: hsl(var(--accent-hue) 12% 16% / 20%);
  backdrop-filter: blur(var(--panel-background-blur));
  background-image: var(--panel-background-noise);
}

.relative {
  position: relative;
}

.dock-pos {
  z-index: 1000;
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: var(--color-white-10);
  animation-name: dock-ping;
  animation-duration: var(--duration-n);
}

.dock-pos-top-left {
  top: 0;
  left: 0;
  border-bottom-right-radius: 999px;
  transform-origin: top left;
}

.dock-pos-top-right {
  top: 0;
  right: 0;
  border-bottom-left-radius: 999px;
  transform-origin: top right;
}

.dock-pos-bottom-right {
  bottom: 0;
  right: 0;
  border-top-left-radius: 999px;
  transform-origin: bottom right;
}

.dock-pos-bottom-left {
  bottom: 0;
  left: 0;
  border-top-right-radius: 999px;
  transform-origin: bottom left;
}


@keyframes dock-ping {
  0% {
    transform: scale(0.5);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes opacity-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacity-down {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes scale-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scale-tick-up {
  from {
    transform: rotateZ(45deg) scale(0);
  }

  to {
    transform: rotateZ(45deg) scale(1);
  }
}

@keyframes delayed-reveal {
  to {
    opacity: 1;
  }
}
