@import "./fonts.css";
@import "./variables.css";

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 14px;
}

body {
  --panel-background-opacity: 50%;
  --panel-background-blur: 12px;

  --accent-hue: 205deg;
  --accent-saturation: 80%;
  --accent-lightness: 56%;

  --color-primary: hsl(var(--accent-hue) var(--accent-saturation) var(--accent-lightness));
  --color-primary-0-20: hsl(var(--accent-hue) var(--accent-saturation) var(--accent-lightness) / 20%);
  --color-primary-0-40: hsl(var(--accent-hue) var(--accent-saturation) var(--accent-lightness) / 40%);
  --color-primary-10: hsl(var(--accent-hue) calc(var(--accent-saturation) + 4 * 1%) calc(var(--accent-lightness) + 8 * 1%));
  --color-primary-20: hsl(var(--accent-hue) calc(var(--accent-saturation) - 4 * 1%) calc(var(--accent-lightness) - 6 * 1%));

  overflow: hidden;
  margin: 0;
  background-color: var(--color-grey-90);
  color: var(--color-white);
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

svg {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button,
input,
textarea,
select {
  height: 30px;
  border: none;
  background-color: transparent;
  color: inherit;
  line-height: 1.43;
  font-family: inherit;
  font-size: var(--text-md);
}

textarea {
  height: auto;
  padding: var(--space-sm) var(--space-md);
  resize: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-white-10);

  &:hover {
    background-color: var(--color-white-20);
  }
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-primary);
}

#root {
  height: 100%;
}

.container {
  padding: 1px;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow:
    inset 0 0 0 1px var(--color-white-10),
    1px 2px 2px 0 var(--color-black-16),
    2px 4px 4px 0 var(--color-black-8),
    4px 8px 8px 0 var(--color-black-4),
    8px 16px 16px 0 var(--color-black-2);
  background-color: hsl(var(--accent-hue) 10% 15% / var(--panel-background-opacity));
  backdrop-filter: blur(var(--panel-background-blur));
  background-image: var(--panel-background-noise);
}

.fullscreen-mask {
  background-color: hsl(var(--accent-hue) 10% 15% / var(--panel-background-opacity));
  backdrop-filter: blur(var(--panel-background-blur));
}

.input, .btn {
  --background-color: var(--color-white-10);

  border-radius: 999px;
  background-color: var(--background-color);
}

.input {
  padding: var(--space-sm) var(--space-lg);
  border: 1px solid var(--color-white-4);

  &::placeholder {
    color: var(--color-white-40);
  }
}

.btn {
  --color: inherit;

  padding: var(--space-sm) var(--space-xl);
  border: 1px solid var(--color-white-4);
  color: var(--color);
  font-weight: bold;
  transition:
    0.1s color,
    0.1s border-color,
    0.1s background-color,
    0.1s opacity;
  cursor: pointer;

  &:disabled {
    --color: var(--color-white-40);
  }

  &:hover {
    --background-color: var(--color-white-20);

    &:disabled {
      --background-color: var(--color-white-10);

      cursor: default;
    }
  }
}

.outline-btn {
  --background-color: transparent;

  border: 2px solid var(--color-white-4);

  &:hover, &:focus-visible {
    --background-color: var(--color-white-10);

    &:disabled {
      --background-color: transparent;
    }
  }
}

.icon-btn {
  --color: var(--color-white);

  display: block;
  padding: var(--space-sm);
  border-radius: 50%;
}

.alt-icon-btn {
  --color: var(--color-white-60);

  &:hover {
    --color: var(--color-white);
  }
}

.icon-text-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-sm) var(--space-lg) var(--space-sm) var(--space-md);

  & svg {
    margin-right: var(--space-md);
  }
}

.icon-btn, .text-btn, .icon-text-btn {
  --background-color: transparent;

  border-color: transparent;

  &:hover, &:focus-visible {
    --background-color: var(--color-white-10);

    border-color: var(--color-white-4);
  }

  &:hover {
    &:disabled {
      --background-color: transparent;

      border-color: transparent;
    }
  }
}

.text-negative-btn {
  --color: var(--color-negative);

  &:hover, &:focus-visible {
    --background-color: var(--color-negative-10);

    border-color: var(--color-negative-4);
  }
}

.panel-item-btn {
  height: auto;
  padding: 0;
  filter: drop-shadow(0 1px 1px var(--color-black-16)) drop-shadow(0 2px 2px var(--color-black-8));

  &:hover {
    --background-color: transparent;

    border-color: transparent;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.panel-item-btn-icon {
  width: 24px;
  height: 24px;
}

.select-container {
  border: 1px solid var(--color-white-4);
  border-radius: 999px;
  background-color: var(--color-white-10);
}

.select {
  --background-color: transparent;

  padding: var(--space-sm) var(--space-sm) var(--space-sm) var(--space-md);
  min-width: 100px;
  max-width: 156px;
  border: none;
  border-right: var(--space-md) solid transparent;

  & option {
    background-color: var(--color-grey-90);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.sr-only {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--color-white-10);
  border: 1px solid var(--color-white-4);
}

.checkbox-tick {
  display: none;
  width: 32%;
  height: 64%;
  margin-bottom: var(--space-xs);
  border-right: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  transform: rotateZ(45deg) scale(0);
  animation-name: scale-tick-up;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.checkbox-input {
  &:checked + .checkbox .checkbox-tick {
    display: block;
  }

  &:focus-visible + .checkbox {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.checkbox-label-right {
  margin-left: var(--space-md);
}

.radio {
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--color-white-10);
  border: 1px solid var(--color-white-4);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-primary);
    transform: scale(0);
    transition: 0.1s transform;
  }
}

.radio-input {
  &:checked + .radio::after {
    transform: scale(1);
  }

  &:focus-visible + .radio {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.toggle {
  position: relative;
  display: flex;
  min-width: 80px;
  height: 30px;
  padding: var(--space-xs);
  border-radius: 99px;
  background-color: var(--color-white-10);
  user-select: none;
  border: 1px solid var(--color-white-4);

  &::before {
    z-index: -1;
    position: absolute;
    top: var(--space-sm);
    bottom: var(--space-sm);
    left: var(--space-sm);
    content: "";
    display: block;
    width: calc(50% - var(--space-sm));
    border-radius: 99px;
    background-color: var(--color-primary);
    transition: 0.1s transform;
  }
}

.toggle-input {
  &:checked + .toggle::before {
    transform: translateX(100%);
  }

  &:focus-visible + .toggle {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.toggle-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: var(--space-xs) var(--space-md);
  font-weight: bold;
  line-height: 1;
}

.range-input {
  appearance: none;
  height: auto;

  &::-webkit-slider-runnable-track {
    height: 6px;
    border-radius: 999px;
    background-color: var(--color-white-10);
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-primary);
    transform: translateY(calc(-50% + 3px));
  }
}

.multi-input-container {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--color-white-4);
  border-radius: 999px;
  background-color: var(--color-white-10);
}

.multi-input-left {
  --background-color: transparent;

  width: inherit;
  border: none;
  border-right: 1px solid var(--color-white-4);
  border-radius: 999px 0 0 999px;
}

.multi-input-right {
  --background-color: transparent;

  border-radius: 0 999px 999px 0;

  &.select {
    min-width: auto;
  }

  &:not(.select) {
    border: none;
  }
}

.label-left {
  margin-right: var(--space-md);
}

.label-right {
  margin-left: var(--space-md);
}

.indicator {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 2px;
    right: 2px;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-primary);
  }

  & svg {
    mask: url("./assets/svg-mask.svg");
  }
}

.middle-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  gap: var(--space-xl);
  justify-items: center;
  height: 44%;

  &.clock-disabled .greeting {
    grid-row: 2;
  }

  &.full-height {
    height: 100%;

    &:not(.clock-disabled) .greeting {
      align-self: flex-end;
      padding-bottom: 42px;
    }
  }
}

@keyframes opacity-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacity-down {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes scale-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scale-tick-up {
  from {
    transform: rotateZ(45deg) scale(0);
  }

  to {
    transform: rotateZ(45deg) scale(1);
  }
}

@keyframes delayed-reveal {
  to {
    opacity: 1;
  }
}
