button,
input,
textarea,
select {
  height: 30px;
  border: none;
  background-color: transparent;
  color: inherit;
  line-height: 1.43;
  font-family: inherit;
  font-size: var(--text-md);
}

textarea {
  height: auto;
  padding: var(--space-sm) var(--space-md);
  resize: none;
}

.input, .btn {
  --background-color: var(--color-white-10);

  border-radius: 999px;
  background-color: var(--background-color);
}

.input {
  padding: var(--space-sm) var(--space-lg);
  border: 1px solid var(--color-white-4);

  &::placeholder {
    color: var(--color-white-40);
  }
}

.btn {
  --color: inherit;

  padding: var(--space-sm) var(--space-xl);
  border: 1px solid var(--color-white-4);
  color: var(--color);
  font-weight: bold;
  transition:
    0.1s color,
    0.1s border-color,
    0.1s background-color,
    0.1s opacity;
  cursor: pointer;

  &:disabled {
    --color: var(--color-white-40);
  }

  &:hover {
    --background-color: var(--color-white-20);

    &:disabled {
      --background-color: var(--color-white-10);

      cursor: default;
    }
  }
}

.outline-btn {
  --background-color: transparent;

  border: 2px solid var(--color-white-4);

  &:hover, &:focus-visible {
    --background-color: var(--color-white-10);

    &:disabled {
      --background-color: transparent;
    }
  }
}

.icon-btn {
  --color: var(--color-white);

  display: block;
  padding: var(--space-sm);
  border-radius: 50%;
}

.alt-icon-btn {
  --color: var(--color-white-60);

  &:hover {
    --color: var(--color-white);
  }
}

.icon-text-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-sm) var(--space-lg) var(--space-sm) var(--space-md);
  gap: var(--space-md);

  & svg {
    flex-shrink: 0;
  }
}

.icon-btn, .text-btn, .icon-text-btn {
  --background-color: transparent;

  border-color: transparent;

  &:hover, &:focus-visible {
    --background-color: var(--color-white-10);

    border-color: var(--color-white-4);
  }

  &:hover {
    &:disabled {
      --background-color: transparent;

      border-color: transparent;
    }
  }
}

.text-negative-btn {
  --color: var(--color-negative);

  &:hover, &:focus-visible {
    --background-color: var(--color-negative-10);

    border-color: var(--color-negative-4);
  }
}

.panel-item-btn {
  height: auto;
  padding: 0;
  filter: drop-shadow(0 1px 1px var(--color-black-16)) drop-shadow(0 2px 2px var(--color-black-8));

  &:hover {
    --background-color: transparent;

    border-color: transparent;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.panel-item-btn-icon {
  width: 24px;
  height: 24px;
}

.select-container {
  border: 1px solid var(--color-white-4);
  border-radius: 999px;
  background-color: var(--color-white-10);
}

.select {
  --background-color: transparent;

  padding: var(--space-sm) var(--space-sm) var(--space-sm) var(--space-md);
  min-width: 100px;
  max-width: 156px;
  border: none;
  border-right: var(--space-md) solid transparent;

  & option {
    background-color: var(--color-grey-90);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.sr-only {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--color-white-10);
  border: 1px solid var(--color-white-4);
}

.checkbox-tick {
  display: none;
  width: 32%;
  height: 64%;
  margin-bottom: var(--space-xs);
  border-right: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  transform: rotateZ(45deg) scale(0);
  animation-name: scale-tick-up;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.checkbox-input {
  &:checked + .checkbox .checkbox-tick {
    display: block;
  }

  &:focus-visible + .checkbox {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.checkbox-label-right {
  margin-left: var(--space-md);
}

.radio {
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--color-white-10);
  border: 1px solid var(--color-white-4);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-primary);
    transform: scale(0);
    transition: 0.1s transform;
  }
}

.radio-input {
  &:checked + .radio::after {
    transform: scale(1);
  }

  &:focus-visible + .radio {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.toggle {
  position: relative;
  display: flex;
  min-width: 80px;
  height: 30px;
  padding: var(--space-xs);
  border-radius: 99px;
  background-color: var(--color-white-10);
  user-select: none;
  border: 1px solid var(--color-white-4);

  &::before {
    z-index: -1;
    position: absolute;
    top: var(--space-sm);
    bottom: var(--space-sm);
    left: var(--space-sm);
    content: "";
    display: block;
    width: calc(50% - var(--space-sm));
    border-radius: 99px;
    background-color: var(--color-primary);
    transition: 0.1s transform;
  }
}

.toggle-input {
  &:checked + .toggle::before {
    transform: translateX(100%);
  }

  &:focus-visible + .toggle {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.toggle-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: var(--space-xs) var(--space-md);
  font-weight: bold;
  line-height: 1;
}

.range-input {
  appearance: none;
  height: auto;

  &::-webkit-slider-runnable-track {
    height: 6px;
    border-radius: 999px;
    background-color: var(--color-white-10);
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-primary);
    transform: translateY(calc(-50% + 3px));
  }
}

.multi-input-container {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--color-white-4);
  border-radius: 999px;
  background-color: var(--color-white-10);
}

.multi-input-left {
  --background-color: transparent;

  width: inherit;
  border: none;
  border-right: 1px solid var(--color-white-4);
  border-radius: 999px 0 0 999px;
}

.multi-input-right {
  --background-color: transparent;

  border-radius: 0 999px 999px 0;

  &.select {
    min-width: auto;
  }

  &:not(.select) {
    border: none;
  }
}

.label-left {
  margin-right: var(--space-md);
}

.label-right {
  margin-left: var(--space-md);
}

.drag-handle {
  opacity: 0;
  cursor: move;

  &:hover, &:focus-visible {
    opacity: 1;
  }
}
