.calendar-year {
    position: absolute;
    top: 6px;
    right: 8px;
    color: $primary-text-color;
    font-size: 14px;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    padding: 0 4px 4px 4px;

    &.selected { justify-content: center; }
}
.month-btn {
    vertical-align: top;
    padding: 0 2px;
    font-size: 12px;

    &:last-of-type { transform: rotate(180deg); }
}
.calendar-title {
    color: $primary-text-color;
    font-size: 16px;
}
.calendar-week-days {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4px;
    color: $primary-text-color;
}
.calendar-cell {
    width: 56px;
    font-size: 12px;
    text-align: center;
}
.calendar-month-days {
    display: flex;
    flex-wrap: wrap;
}
.calendar-month-day {
    height: 26px;
    padding-top: 6px;
    color: #222;

    &.is-current-month-day { color: $primary-text-color; }
    &.current-day {
        padding-top: 5px;
        border: 1px solid;
    }
    &.has-reminder { color: $brand-color; }
    &:hover {
        background-color: #333;
        cursor: pointer;
    }
}
.selected-day-remainders {
    @include scrollbar($color2);

    overflow-y: auto;
    max-height: 150px;
    margin-bottom: 4px;

}
.selected-day-remainder {
    display: flex;
    justify-content: flex-start;
    margin-right: 4px;
    margin-bottom: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
    border-bottom: 1px solid #222;
    font-size: 14px;
    color: $primary-text-color;

    .font-btn { margin-left: auto; }
}
.is-repeating {
    margin-right: 4px;
    color: #999;
}
.selected-day-input {
    vertical-align: top;
    width: 330px;
}
.calendar-form-section {
    display: flex;

    .btn { padding: 3px 6px; }
}
.calendar-repeat-btn {
    cursor: pointer;

    .checked { color: $brand-color; }
}
.calendar-repeat-checkbox {
    display: none;
}
.calendar-repeat-gap {
    float: right;
    width: 50px;
    margin-top: 4px;
    text-align: center;
}
