.dropbox-logout-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 14px;
}
.dropbox-header {
    display: flex;
    align-items: center;
}
.drobox-path {
    margin-left: auto;
    margin-right: auto;
    color: $primary-text-color;
    font-size: 16px;
}
.dropbox-hero {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
    text-align: center;
    transform: scale(0.8);
    transition: all 0.4s;

    &.show {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}
.dropbox-hero-icon {
    margin-bottom: 12px;
    font-size: 64px;
    color: #2895F1;
}
.dropbox-spinner {
    color: #2895F1;
    font-size: 24px;
}
.dropbox-error-message {
    color: #fff;
}
.dropbox-items {
    @include scrollbar($color3);

    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    height: calc(100% - 22px);
    margin-top: 4px;
    background-color: $color2;
    transform: scale(.8);
    transition: all 0.4s;

    &.show {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}
.dropbox-item {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding: 2px;
    border-bottom: 1px solid $color3;

    &:hover {
        cursor: pointer;

        .dropbox-item-name {
            text-decoration: underline;
        }
    }
    .dropbox-spinner {
        margin-left: 4px;
        font-size: 12px;
    }
}
.dropbox-item-thumbnail {
    vertical-align: top;
    width: 32px;
    height: 20px;
    object-fit: scale-down;
}
.dropbox-item-name {
    margin-left: 4px;
    font-size: 12px;
    color: $primary-text-color;
}
.dropbox-item-error {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 4px;
    background-color: $color2;
    box-shadow: 0 0 4px 8px $color2;
    color: #888;
    transition: all 0.2s;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}
.animate-spin {
    display: inline-block;
    animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(359deg);
  }
}
