@font-face {
  font-family: 'fontello';
  src: url('../resources/fonts/fontello.eot?7670696');
  src: url('../resources/fonts/fontello.eot?7670696#iefix') format('embedded-opentype'),
       url('../resources/fonts/fontello.woff2?7670696') format('woff2'),
       url('../resources/fonts/fontello.woff?7670696') format('woff'),
       url('../resources/fonts/fontello.ttf?7670696') format('truetype'),
       url('../resources/fonts/fontello.svg?7670696#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    width: 1em;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-wrench:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-bell-alt:before { content: '\e802'; } /* '' */
.icon-bell-off:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e806'; } /* '' */
.icon-na:before { content: '\e807'; } /* '' */
.icon-resize-full:before { content: '\e808'; } /* '' */
.icon-resize-small:before { content: '\e809'; } /* '' */
.icon-th:before { content: '\e80a'; } /* '' */
.icon-calendar:before { content: '\e80b'; } /* '' */
.icon-retweet:before { content: '\e80c'; } /* '' */
.icon-twitter:before { content: '\e80d'; } /* '' */
.icon-menu:before { content: '\e80e'; } /* '' */
.icon-star-empty:before { content: '\e80f'; } /* '' */
.icon-edit:before { content: '\e810'; } /* '' */
.icon-mist:before { content: '\e811'; }
.icon-cloud-sun-inv:before { content: '\e812'; } /* '' */
.icon-sun-inv:before { content: '\e813'; } /* '' */
.icon-cloud-moon-inv:before { content: '\e814'; } /* '' */
.icon-moon-inv:before { content: '\e815'; } /* '' */
.icon-cloud-flash-inv:before { content: '\e816'; } /* '' */
.icon-drizzle-inv:before { content: '\e817'; } /* '' */
.icon-windy-rain-inv:before { content: '\e818'; } /* '' */
.icon-rain-inv:before { content: '\e819'; } /* '' */
.icon-windy-inv:before { content: '\e81a'; } /* '' */
.icon-snow-inv:before { content: '\e81b'; } /* '' */
.icon-snow-heavy-inv:before { content: '\e81c'; } /* '' */
.icon-hail-inv:before { content: '\e81d'; } /* '' */
.icon-clouds-inv:before { content: '\e81e'; } /* '' */
.icon-fog-cloud:before { content: '\e81f'; } /* '' */
.icon-left-big:before { content: '\e820'; } /* '' */
.icon-dropbox:before { content: '\e821'; } /* '' */
.icon-spin4:before { content: '\e822'; }
.icon-plus:before { content: '\e823'; }
.icon-rss:before { content: '\e824'; }
