.main-block {
    position: absolute;
    top: 45vh;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
}
.main-block-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    height: 24px;
    padding: 0;
    margin-bottom: 4px;
    user-select: none;
    transition: all 0.2s;

    &.hidden {
        height: 0;
        margin-bottom: 0;
        overflow: hidden;
    }
}
.main-block-nav-item {
    position: relative;
    margin: 1px 2px 0 2px;

    .font-btn {
        font-size: 16px;
    }
}
.indicator {
    z-index: 1;
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $brand-color;
}
.main-block-content {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 212px;
    transition: all 0.2s;

    &.hidden {
        display: none;
    }
    &.is-expanded {
        height: calc(100% - 28px);

        &.is-item-bar-hidden {
            height: 100%;
        }
        &.is-twitter-active {
            width: 572px;
        }
    }
}
.main-block-content-item {
    position: relative;
    flex-grow: 1;
    height: calc(100% - 24px);

    &.hidden {
        display: none;
    }
}
.main-block-expand-btn {
    width: 100%;
    margin-top: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 0;
}
