.main-block {
    position: absolute;
    top: 44%;
    left: 0;
    right: 0;
    width: 500px;
    margin: 0 auto;
    color: $primary-text-color;
}
.main-block-nav {
    @extend %container;

    display: flex;
    justify-content: center;
    height: 24px;
    margin-bottom: 4px;
    user-select: none;
}
.main-block-nav-item {
    &.contains-count { position: relative; }
    .font-btn {
        padding: 1px 2px;
        font-size: 14px;
    }
}
.count-indicator {
    z-index: 1;
    position: absolute;
    bottom: -4px;
    right: -2px;
    border-radius: 50%;
    background-color: $color3;
    font-size: 9px;

    &.show {
        animation-duration: .6s;
        animation-timing-function: ease-in-out;
        animation-name: pulse;
    }
}
@keyframes pulse {
    0% { transform: scale(1); }
    25% { transform: scale(0.8); }
    75% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
.favorite-btn {
    position: absolute;
    top: 4px;
    right: 4px;
}
.main-block-content-item {
    @extend %container;

    &.hidden { display: none; }
}
.main-block-notepad {
    @include input-styles();
    @include scrollbar($color3);

    resize: none;
    vertical-align: top;
    width: 100%;
    height: 204px;
    padding: 4px;
    font-size: 12px;

    &:focus { outline: none; }
}
