.most-visited {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.most-visited-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparentize($color3, 0.2);
}
.most-visited-item {
    overflow: hidden;
    position: relative;
    width: calc(25% - 3px);
    height: calc(50% - 2px);
    margin-right: 4px;
    margin-bottom: 4px;
    background-color: $color2;

    &:nth-of-type(4n) {
        margin-right: 0;
    }

    &:nth-of-type(n + 4) {
        margin-bottom: 0;
    }

    &:hover .remove-page-btn {
        display: initial;
    }
}
.page-title {
    @include text-truncate;

    height: 20px;
    padding: 0 4px;
    border-bottom: 1px solid #444;
    font-size: 12px;
    line-height: 1.66;
}
.remove-page-btn {
    position: absolute;
    top: 1px;
    right: 2px;
    display: none;
    padding: 0;
    box-shadow: -6px 0px 5px 0px $color2;
}
.add-page-btn {
    width: 100%;
    height: 100%;
    font-size: 32px;

    &:hover {
        color: $brand-color;
    }
}
.page-thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.page-thumbnail {
    width: 24px;
    height: 24px;

    &.full {
        width: 118px;
        height: 80px;
    }
}
.new-thumbnail-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 238px;

    .input {
        width: 100%;
        margin-bottom: 4px;
    }
}
.new-thumbnail-window-title {
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 4px;
    text-align: center;
}
.new-thumbnail-window-btn-container {
    display: flex;
    justify-content: space-between;
}
.image-upload-btn {
    cursor: pointer;
}
.file-input {
    display: none;
}
