.notepad-header {
    display: flex;
    height: 20px;
    margin-bottom: 2px;
}

.notepad-header-item {
    position: relative;
    flex: 1;
    margin-right: 2px;
    border-bottom: 2px solid $color2;

    &:hover .notepad-remove-tab-btn {
        display: block;
    }

    &.active {
        border-bottom-color: $brand-color;
    }

    .input, .btn {
        width: 100%;
        height: 100%;
    }

    .btn {
        @include text-truncate;
    }
}

.notepad-remove-tab-btn {
    position: absolute;
    top: 1px;
    right: 2px;
    display: none;
    background-color: $color2;
    box-shadow: -6px 0px 5px 0px $color2;
}

.notepad-create-new-btn {
    padding: 2px 4px;
}

.notepad {
    @include scrollbar($color3);

    resize: none;
    width: 100%;
    height: calc(100% - 22px);
}
