.stopwatch {
    display: flex;
    align-items: baseline;
    height: 78px;
    padding-left: 4px;
    padding-right: 4px;

    &:hover {
        cursor: pointer;
    }
}

.stopwatch-digit {
    font-size: 64px;
}

.stopwatch-digit-sep {
    padding-right: 8px;
    font-size: 32px;
}

.stopwatch-milliseconds {
    font-size: 32px;
}

.stopwatch-control {
    margin-right: 4px;
}
