.timer {
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    width: 320px;
    margin: 0 auto;
}
.timer-displays {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 4px;
}
.timer-input {
    width: 74px;
    height: 74px;
    padding: 0;
    border: none;
    background-color: transparent;
    color: $primary-text-color;
    font-size: 64px;
    text-align: center;

    &:focus {
        outline: none;
    }
}
.timer-time-point {
    color: $primary-text-color;
    font-size: 32px;
}
.timer-controls {
    display: flex;
    padding-top: 4px;
    border-top: 1px solid $color2;
}
.timer-control {
    margin-right: 4px;

    &:last-of-type {
        margin-left: auto;
    }
}
