.time {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45vh;
    transform: translateX(-50%);
}
.clock-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.clock {
    font-size: 140px;
    letter-spacing: -6px;
    line-height: 0.8;
}
.marker {
    margin-left: 8px;
    font-size: 36px;
}
.date {
    text-align: right;
    font-size: 20px;
}
