.timer-stopwatch-container {
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    width: 400px;
    margin: 0 auto;
}

.timer-stopwatch-hide-btn {
    position: absolute;
    top: 4px;
    right: 4px;
}

.timer-displays {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 4px;
}

.timer-input {
    width: 74px;
    height: 74px;
    padding: 0;
    border: none;
    background-color: transparent;
    color: $primary-text-color;
    font-size: 64px;
    text-align: center;

    &:focus {
        outline: none;
    }
}

.timer-input-sep {
    padding-right: 8px;
    font-size: 32px;

    &:last-of-type {
        padding-right: 0;
    }
}

.timer-stopwatch-controls {
    display: flex;
    padding-top: 4px;
    border-top: 1px solid $color2;
}

.timer-control {
    margin-right: 4px;

    &:last-of-type {
        margin-left: auto;
    }
}
