.time {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    color: $primary-text-color;
}
.clock-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.clock {
    font-size: 140px;
    letter-spacing: -6px;
    line-height: 1;
}
.marker {
    margin-left: 4px;
    font-size: 36px;
}
.date {
    margin-top: -18px;
    text-align: right;
    font-size: 20px;

    &.has-marker {
        margin-right: 60px;
    }
}
