.todo {
    position: absolute;
    top: 4px;
    left: 4px;
}
.todo-container {
    @extend %container;

    width: 240px;
}
.todo-toggle-btn {
    position: absolute;
    top: 4px;
    left: 4px;
    padding: 2px 6px;
    font-size: 16px;
}
.todo-header {
    display: flex;
    justify-content: flex-end;
}
.todo-input {
    width: 160px;
}
.todo-add-btn {
    padding: 3px 4px;
    margin-left: 4px;
}
.todos {
    @include scrollbar($color2);

    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
    margin-top: 4px;

    &.has-todo { margin-bottom: 4px; }
}
.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 20px;
    margin-right: 4px;

    .checkbox-label { flex-shrink: 0; }
}
.todo-item-text {
    width: 100%;
    min-height: 20px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid $color2;
    color: $primary-text-color;
    font-size: 12px;

    &.is-empty { margin-right: 0; }
}
.done {
    text-decoration: line-through;
    color: #666;
}
.todo-footer {
    text-align: center;
}
.todo-edit-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;

    .btn:first-child { margin-right: 4px; }
}
.todo-edit-input {
    @include input-styles();
    @include scrollbar($color3);

    vertical-align: top;
    width: 100%;
    height: 100px;
    padding: 2px 4px;
    resize: none;
    font-size: 12px;
}
