.todo {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 240px;
}
.todo-toggle-btn {
    position: absolute;
    padding: 4px 6px;
    border-left: 4px solid $brand-color;
    border-radius: 0;
    font-size: 16px;

    &.is-active {
        border-color: transparent;
    }
}
.todo-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
}
.todo-input {
    width: 156px;
    margin-right: 2px;
}
.todos {
    @include scrollbar($color2);

    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;

    &.has-todo {
        margin-bottom: 4px;
    }
}
.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 20px;
    margin-right: 4px;

    &:hover .todo-pin-btn {
        display: inline-block;
    }

    .checkbox-label {
        flex-shrink: 0;
    }
}
.todo-text {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
    word-break: break-word;
}
.todo-item-text {
    width: 100%;
    min-height: 20px;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid $color2;
    overflow: hidden;

    &.is-empty {
        margin-right: 0;
    }
}
.done {
    text-decoration: line-through;
    color: #666;
}
.todo-pin-btn {
    display: none;

    &.is-pinned {
        transform: rotateZ(-45deg);
    }
}
.todo-footer {
    text-align: center;
}
.pinned-todo-container {
    position: relative;
    top: 30px;
    padding: 4px;
    border-left: 4px solid $brand-color;
    transition: 0.1s background-color;

    &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        background-color: $color3;

        .pinned-todo {
            border-color: $color2;
        }
    }
}
.pinned-todo {
    border-bottom: 1px solid transparent;
}
.todo-edit-header .btn:first-child {
    margin-right: 4px;
}
.todo-edit-input {
    @include scrollbar($color3);

    display: block;
    width: 100%;
    height: 100px;
    resize: none;
}
