$tweet-offset: 56px;

.twitter-container {
    position: relative;
    height: 100%;
}
.twitter-hero {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    text-align: center;
    transition: all 0.6s;

    &.visible {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
.twitter-hero-icon {
    font-size: 64px;
    line-height: 1;
    color: #55acee;
}
.twitter-pin-input {
    display: none;
    width: 80px;
    text-align: center;

    &.visible {
        display: inline-block;
    }
}
.twitter-header {
    position: relative;
    height: 20px;
    padding: 2px;
    margin-bottom: 2px;
    background-color: $color2;

    .twitter-btn {
        padding: 0;
    }
}
.twitter-user-image {
    width: 16px;
    border-radius: 2px;
}
.twitter-user {
    position: absolute;
    display: flex;
    align-items: center;
}
.twitter-user-name {
    margin-left: 4px;
    font-size: 12px;
    color: #fff;

    &:hover {
        text-decoration: underline;
    }
}
.twitter-user-handle {
    margin-left: 4px;
    font-size: 10px;
    color: #bbb;

    &:hover {
        text-decoration: underline;
    }
}
.twitter-btn {
    width: 100%;
    padding: 4px 0;
}
.twitter-logout-btn {
    position: absolute;
    top: 1px;
    right: 2px;
}
.twitter-content {
    visibility: collapse;
    opacity: 0;
    height: 100%;
    transform: scale(0.8);
    transition: 0.6s all;

    &.visible {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
}
.twitter-tweets {
    @include scrollbar($color3);

    position: relative;
    overflow-y: auto;
    height: calc(100% - 22px);
    background-color: $color2;
}
.twitter-tweet {
    overflow: hidden;
    padding: 4px;
    border-bottom: 1px solid $color3;
    transition: background-color 0.2s;

    &:hover {
        background-color: lighten($color2, 2%);
    }
}
.twitter-retweet {
    margin-left: 36px;
    margin-bottom: 4px;
    color: #bbb;
    font-size: 12px;
}
.twitter-retweet-by {
    margin-left: 4px;
    color: #bbb;

    &:hover {
        text-decoration: underline;
    }
}
.twitter-tweet-by-name {
    font-size: 14px;
    font-weight: bold;
    color: #fff;

    &:hover {
        color: #bbb;
        text-decoration: underline;
    }
}
.twitter-tweet-by-handle {
    color: #bbb;
    font-size: 12px;
}
.twitter-tweeted-on {
    @extend .twitter-retweet-by;

    font-size: 12px;
}
.twitter-profile-image {
    float: left;
    width: 48px;
    border-radius: 4px;
    margin-right: 8px;
}
.twitter-tweet-text {
    display: inline-block;
    width: calc(100% - #{$tweet-offset});
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    white-space: pre-wrap;
}
.twitter-tweet-link {
    color: #109ACC;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
.tweet-image-container {
    margin-left: $tweet-offset;
}
.twitter-tweet-img {
    display: block;
    margin-top: 4px;
    margin-left: $tweet-offset;
    max-width: calc(100% - #{$tweet-offset});
    border-radius: 4px;
}
.twitter-tweet-stats-container {
    padding-top: 4px;
    margin-left: $tweet-offset;
    color: #aaa;

    span:nth-of-type(even) {
        margin-left: 2px;
        margin-right: 8px;
    }
}
