.upper-block {
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    visibility: collapse;
    width: 400px;
    margin: 0 auto;
    opacity: 0;
    transform: rotateX(45deg) translateY(-80px) scale(0.94);
    transition: transform 0.2s, opacity 0.18s, visibility 0.18s;

    &.visible {
        visibility: visible;
        opacity: 1;
        transform: none;
    }
}

.upper-block-header {
    display: flex;
    margin-bottom: 4px;
}

.upper-block-header-item {
    padding: 4px;
    border-bottom: 2px solid transparent;
    margin-right: 8px;

    &.active {
        border-bottom-color: $brand-color;
    }

    &:last-of-type {
        margin-left: auto;
        margin-right: 0;
    }
}

.upper-block-content-wrapper {
    font-size: 16px;

    &:-webkit-full-screen {
        width: 100vw;
        height: 100vh;
        padding: 24vh 12vw 0;
        background-color: $color3;
        font-size: 32px;

        .timer-stopwatch-controls {
            visibility: hidden;
            opacity: 0;
            transition: 0.4s all;
        }

        .upper-block-content:hover .timer-stopwatch-controls {
            visibility: visible;
            opacity: 1;
        }
    }
}

.upper-block-item {
    display: none;

    &.visible {
        display: block;
    }
}

.timer-stopwatch-sep {
    padding-right: 0.25em;
    font-size: 2em;
}

.timer-stopwatch-controls {
    display: flex;
    padding-top: 0.25em;
    border-top: 1px solid $color2;
    margin-top: 0.25em;
}

.timer-stopwatch-control:not(:first-of-type) {
    margin-left: 0.5em;
}

.timer, .stopwatch {
    display: flex;
    align-items: baseline;
    height: 4.625em;
}

.timer {
    justify-content: center;
}

.timer-input {
    width: 1.125em;
    height: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
    color: $primary-text-color;
    font-size: 4em;

    &:focus {
        outline: none;
    }
}

.timer-stopwatch-reset-btn {
    margin-right: auto;
}

.stopwatch {
    padding-left: 0.25em;
    padding-right: 0.25em;

    &:hover {
        cursor: pointer;
    }
}

.stopwatch-digit {
    font-size: 4em;
}

.stopwatch-milliseconds {
    font-size: 2em;
}
