.weather {
	position: absolute;
    top: 4px;
	right: 8px;
	color: $primary-text-color;
	text-align: right;
	line-height: 1;

	&.is-fetching {
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-name: blur-in;
		animation-fill-mode: forwards;
	}
	&.done-fetching {
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-name: blur-out;
	}
}
.weather-temp,
.weather-icon {
	display: inline-block;
}
.weather-temp {
    vertical-align: top;
    margin-top: 4px;
    margin-right: 4px;
	font-size: 22px;
}
.weather-icon {
    margin-bottom: 2px;
    font-size: 32px;
}
.weather-city-name { font-size: 14px; }

@keyframes blur-in {
    0% { filter: blur(0); }
    50% { filter: blur(2px); }
    100% { filter: blur(4px); }
}
@keyframes blur-out {
    0% { filter: blur(4px); }
    50% { filter: blur(2px); }
    100% { filter: blur(0); }
}
