.widget-menu {
	position: absolute;
	bottom: 4px;
	right: 4px;
}

.widget-menu-container {
	visibility: collapse;
	width: 20px;
	height: 20px;
	border-top-left-radius: 50%;
	transition: 0.2s all;

	.menu-transition-target {
		opacity: 0;
	}

    &.visible {
		visibility: visible;
		width: 400px;
		height: 236px;
		border-top-left-radius: 0;

		.menu-transition-target {
			opacity: 1;
            transition: 0.2s all;
            transition-delay: 0.2s;
        }
	}
}

.menu-header {
	margin-bottom: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #333;
}

.menu-btn {
	position: absolute;
	top: 4px;
	right: 0;
	visibility: visible;

	&.active {
		right: 4px;

		.menu-btn-bar-1 {
			transform: translateY(6px) rotateZ(45deg);
		}

		.menu-btn-bar-2 {
			opacity: 0;
		}

		.menu-btn-bar-3 {
			transform: translateY(-6px) rotateZ(-45deg);
		}
	}
}

.menu-btn-bar {
	height: 4px;
	width: 20px;
	background-color: $primary-text-color;
	transition: 0.2s all;

	&:not(:last-of-type) {
		margin-bottom: 2px;
	}
}

.menu-title {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
}

.menu-item-container {
	width: 100%;
	height: calc(100% - 25px);
}

.menu-item {
    vertical-align: top;
	display: inline-block;
	width: 60px;
	margin-bottom: 4px;
	text-align: center;
}

.menu-item-icon {
	font-size: 28px;
    line-height: 1;
}

.menu-item-title {
	margin-top: 2px;
	font-size: 12px;
	word-break: break-word;
}
