@import "../../styles/mixins.css";

.sticky-notes {
  position: absolute;
  inset: 0;
}

.sticky-note {
  --scale: 1;
  --text-scale: 1;
  --straight-transform: translateX(-50%);
  --titled-transform: translateX(-50%) rotate(calc(var(--tilt) * 1deg));

  position: absolute;
  top: calc(var(--y) * 1%);
  left: calc(var(--x) * 1%);
  overflow: hidden;
  width: calc(168px * var(--scale));
  height: calc(168px * var(--scale));
  padding: var(--space-md) 0 var(--space-md) var(--space-md);
  background-color: var(--background-color);
  box-shadow:
    0 0 0 1px var(--color-black-4),
    var(--highligh-shadow);
  animation-name: rotate-tilt;
  animation-duration: var(--duration-n);
  animation-fill-mode: both;
  scrollbar-gutter: stable;
  transform-origin: top center;

  &:hover {
    overflow: auto;
  }

  &.discarding {
    animation-name: discard;
  }
}

.sticky-note-content {
  color: var(--color-black-60);
  white-space: pre-wrap;
  font-size: calc(var(--text-xl) * var(--scale) * var(--text-scale));
  font-family: "Caveat";
  line-height: 1.1;
  word-break: break-word;
}

.sticky-note-title {
  font-size: calc(var(--text-xxl) * var(--scale) * var(--text-scale));
}

@keyframes rotate-tilt {
  from {
    transform: var(--straight-transform);
  }

  to {
    transform: var(--titled-transform);
  }
}

@keyframes discard {
  from {
    transform: var(--titled-transform);
    opacity: 1;
  }

  to {
    transform: var(--titled-transform) scale(0.9);
    opacity: 0;
  }
}
