.to-top-button {
  z-index: 1;
  position: absolute;
  right: 14px;
  bottom: var(--space-md);
  display: none;
  height: auto;
  padding: var(--space-md);
  box-shadow: var(--highligh-shadow);
  background-color: var(--color-white-10);
  animation: show-button var(--duration-n) both;

  &:hover {
    background-color: var(--color-white-20);
  }

  &:focus-visible {
    box-shadow:
      var(--focus-shadow),
      var(--highligh-shadow);
  }

  &.visible {
    display: block;
  }
}

@keyframes show-button {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
