.weather-more-hourly-view-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: 0.2s filter, 0.2s opacity;

  &.updating {
    filter: blur(2px);
    opacity: 0.8;
    pointer-events: none;
  }
}

.weather-more-hourly-view-top {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  padding-bottom: var(--space-sm);
  margin-bottom: auto;
}

.weather-more-hourly-view-top-items {
  display: flex;
  justify-content: center;
  gap: var(--space-sm);
  padding-top: var(--space-sm);
}

.weather-more-hourly-view-top-btn {
  padding: var(--space-xs) var(--space-md);
  border: none;
  border-radius: 0;
  font-size: var(--text-sm);

  &:hover, &.active {
    &:focus-visible {
      --background-color: var(--color-white-10);

      box-shadow:
        var(--focus-shadow),
        inset 0 -2px 0 0 var(--color-primary);
    }
  }

  &:hover {
    --background-color: transparent;

    box-shadow: none;
  }

  &.active {
     --color: var(--color-white);
  }
}

.weather-more-hourly-view {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.weather-more-hourly-temp-view {
  width: 576px;
}

.weather-more-hourly-temp-view-text {
  font-size: var(--text-xxs);
  font-weight: bold;
  fill: var(--color-white-80);
}

.weather-more-hourly-prec-view-values {
  display: flex;
  padding: var(--space-sm) 0;
  font-size: var(--text-xxs);
  font-weight: bold;
  color: var(--color-primary-10);
}

.weather-more-hourly-prec-view-value {
  flex: 1;
  text-align: center;
}

.weather-more-hourly-prec-view-graph {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.weather-more-hourly-prec-view-graph-bar {
  flex: 1;
  border-top: 2px solid var(--color-primary);
  background-color: var(--color-primary-0-40);
}

.weather-more-hourly-wind-view {
  flex-direction: row;
}

.weather-more-hourly-wind-view-item-speed {
  padding: var(--space-sm) 0;
  text-align: center;
  font-weight: bold;
  font-size: var(--text-xxs);
  color: var(--color-white-80);
}

.weather-more-hourly-wind-view-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.weather-more-hourly-wind-view-item-icon {
  --max-size: 40;
  --min-size: 20;

  --size: calc(((var(--max-size) - var(--min-size)) * var(--ratio) + var(--min-size)) * 1px);

  width: var(--size);
  height: var(--size);
  margin: auto;
  transform: rotateZ(calc((180 + var(--degrees)) * 1deg));
  transition: all var(--duration-n);
  color: var(--color-primary-10);
}

.weather-more-hourly-view-time {
  display: flex;
  padding: var(--space-sm) 0;
  font-size: var(--text-xs);
  color: var(--color-white-80);
}

.weather-more-hourly-view-time-item {
  flex: 1;
  text-align: center;
}
