.sticky-notes-list-container {
  display: flex;
  flex-direction: column;
  height: 312px;
  width: 272px;
}

.sticky-notes-list {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--space-sm);
  padding: var(--space-sm);
}

.sticky-notes-list-item {
  display: flex;
  justify-content: space-between;
  padding: var(--space-md);
  border-radius: 4px;
}

.sticky-notes-list-item-title {
  margin-bottom: var(--space-md);
  color: var(--color-black-60);
  font-size: var(--text-xxl);
  font-family: "Caveat";
  line-height: 1;
}

.sticky-notes-list-item-content {
  color: var(--color-black-60);
  font-size: var(--text-xl);
  white-space: pre-wrap;
  font-family: "Caveat";
  line-height: 1;
}

.sticky-notes-list-message {
  margin: auto;
}
