.reminder-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 420px;
  height: 480px;
  min-height: 0;
  transition: var(--duration-n) opacity;

  &[inert] {
    opacity: 0.6;
  }
}

.reminder-form-header-icon {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  margin-right: auto;
}

.reminder-form-body {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--space-md);
  padding: var(--space-md);
}

.reminder-form-display-date {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reminder-form-color-picker-container {
  position: absolute;
  left: 0;
  top: 50%;
  overflow: hidden;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: translateY(-50%);

  &:has(:focus-visible) {
    box-shadow: var(--focus-shadow);
  }
}

.reminder-form-color-picker {
  padding: 0;
  scale: 2;
  cursor: pointer;
}

.reminder-form-event-color-dropdown-container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  .dropdown-toggle-btn {
    padding: 0;
    border: none;
  }

  .dropdown {
    left: 0;
    right: auto;
    min-width: 70px;
    padding: var(--space-md);
  }
}

.reminder-form-selecated-event-color {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.reminder-form-event-colors {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
}

.reminder-form-event-color {
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;

  &:hover, &:focus-visible {
    scale: 1.04;
  }

  &.active {
    --color: var(--color-white);

    box-shadow: inset 0 0 0 2px var(--color);
  }
}

.reminder-form-display-date-container {
  position: relative;
}

.reminder-form-display-date-input {
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0;
}

.reminder-form-display-date-dropdown {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.reminder-form-display-date-dropdown-title {
  padding: var(--space-md);
  text-align: center;
  font-weight: bold;
}

.reminder-form-textarea {
  min-height: 2.7lh;
  max-height: 4lh;
  border-radius: 8px;
}

.reminder-form-setting {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.reminder-form-row {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  min-height: 32px;

  &:has(.reminder-form-setting) {
    gap: var(--space-xl);
  }
}

.reminder-form-column {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-sm);
}

.reminder-form-repeat-type-selection {
  margin-left: auto;
}

.reminder-form-weeekdays {
  overflow: hidden;
  display: flex;
  align-items: stretch;
  gap: 0;
  height: 32px;
  border: 1px solid var(--color-white-4);
  border-radius: 999px;
  background-color: var(--color-white-10);
}

.reminder-form-weekday {
  flex: 1;

  &:not(:last-of-type) {
    border-right: 1px solid var(--color-white-4);
  }

  &:first-of-type .reminder-form-weekday-content {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
  }

  &:last-of-type .reminder-form-weekday-content {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
  }

  .checkbox-input:checked + .reminder-form-weekday-content {
    background-color: var(--color-white-10);
    color: var(--color-white);
  }

  .checkbox-input:focus-visible + .reminder-form-weekday-content {
    box-shadow: inset var(--focus-shadow);
  }

  .checkbox-input:disabled + .reminder-form-weekday-content {
    cursor: default;
  }
}

.reminder-form-weekday-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: var(--text-sm);
  color: var(--color-white-60);
  cursor: pointer;

  &:hover {
    background-color: var(--color-white-10);
  }
}

.range-data-list-panel {
  position: absolute;
  background-color: var(--color-grey-90);
  transform: translate(-50%, var(--space-sm));
}

.range-data-list {
  overflow: hidden;
  border-top-right-radius: var(--container-inset-radius);
  border-bottom-right-radius: var(--container-inset-radius);
}

.range-data-list-items {
  overflow-y: auto;
  height: 152px;
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}

.range-data-list-item {
  height: 27px;
  padding: var(--space-sm) var(--space-md);
  white-space: nowrap;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: var(--color-white-10);
  }
}

.repeat-input {
  width: calc(3ch + 26px);
  text-align: center;

  &:disabled {
    color: var(--color-white-60);
  }
}

.reminder-range-input {
  width: 120px;
  text-align: center;
}

.reminder-form-end-date-input {
  width: 140px;

  &:disabled {
    color: var(--color-white-60);
  }
}

.reminder-range-data-list-dropdown {
  min-width: 120px;
  padding: 0;
}

.reminder-form-input-message {
  margin-top: var(--space-sm);
  font-size: var(--text-sm);
  font-weight: bold;
  color: var(--color-negative);
}

.reminder-form-btns {
  gap: var(--space-md);
  margin-top: auto;
}
