.reminder-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 420px;
  height: 480px;
  min-height: 0;
}

.reminder-form-body {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--space-md);
  padding: var(--space-md);
}

.reminder-form-setting {
  display: flex;
  align-items: center;
  gap: var(--space-xl);
  min-height: 32px;
}

.reminder-form-row {
  display: flex;
  align-items: center;
}

.reminder-form-column {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-sm);

  .reminder-form-message {
    margin-top: 0;
  }
}

.reminder-form-repeat-type-selection {
  margin-left: auto;
}

.reminder-form-weeekdays {
  overflow: hidden;
  display: flex;
  align-items: stretch;
  gap: 0;
  height: 30px;
  border: 1px solid var(--color-white-4);
  border-radius: 999px;
  background-color: var(--color-white-10);
}

.reminder-form-weekday {
  flex: 1;

  &:not(:last-of-type) {
    border-right: 1px solid var(--color-white-4);
  }

  &:first-of-type .reminder-form-weekday-content {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
  }

  &:last-of-type .reminder-form-weekday-content {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
  }

  .checkbox-input:checked + .reminder-form-weekday-content {
    background-color: var(--color-white-10);
    color: var(--color-white);
  }

  .checkbox-input:focus-visible + .reminder-form-weekday-content {
    box-shadow: inset var(--focus-shadow);
  }

  .checkbox-input:disabled + .reminder-form-weekday-content {
    cursor: default;
  }
}

.reminder-form-weekday-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: var(--text-sm);
  color: var(--color-white-60);
  cursor: pointer;

  &:hover {
    background-color: var(--color-white-10);
  }
}

.range-data-list-panel {
  position: absolute;
  background-color: var(--color-grey-90);
  transform: translate(-50%, var(--space-sm));
}

.range-data-list {
  overflow: hidden;
  border-top-right-radius: var(--container-inset-radius);
  border-bottom-right-radius: var(--container-inset-radius);
}

.range-data-list-items {
  overflow-y: auto;
  width: 100px;
  height: 152px;
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}

.range-data-list-item {
  height: 27px;
  padding: var(--space-sm) var(--space-md);
  white-space: nowrap;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: var(--color-white-10);
  }
}

.repeat-input-container .repeat-input {
  margin: 0;
}

.repeat-input {
  width: calc(3ch + 26px);
  margin-inline: var(--space-md);
  text-align: center;
}

.reminder-range-input {
  width: 84px;
  text-align: center;
}

.reminder-form-end-date-input {
  width: 140px;
  margin-left: var(--space-md);
}

.reminder-form-message {
  margin-top: var(--space-sm);
  font-size: var(--text-sm);
  font-weight: bold;
  color: var(--color-negative);
}

.reminder-form-btns {
  gap: var(--space-md);
  margin-top: auto;
}
