@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.countdown {
    position: relative;
    font-size: 14px;
}

.countdown-create-btn {
    z-index: 1;
    position: fixed;
    bottom: 8px;
    left: 8px;
    padding: 4px;
    border-radius: 50%;
    background-color: $color-white-10;

    &:hover {
        background-color: $color-white-20;
    }
}

.countdown-items {
    @include scrollbar;

    overflow-y: auto;
    max-height: 310px;
}

.countdown-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;

    &:hover .countdown-item-remove-btn {
        opacity: 1;
    }

    &.ended .countdown-item-timer {
        opacity: 0.6;
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid $color-white-10;
    }
}

.countdown-item-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.countdown-item-remove-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    opacity: 0;

    &.focus-visible {
        opacity: 1;
    }
}

.countdown-item-timer {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.countdown-item-timer-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-size: 24px;
}

.countdown-item-timer-digit {
    font-size: 1.4em;
}

.countdown-item-timer-label {
    font-size: 0.64em;
}

.countdown-item-date {
    text-align: center;
    color: $color-white-60;
}

.countdown-form {
    padding: 8px;
}

.countdown-form-fields-group {
    margin-top: 8px;
}

.countdown-form-fields {
    display: flex;
    margin-bottom: 8px;
}

.countdown-form-date-fields {
    .countdown-form-field-title {
        text-align: center;
    }

    .countdown-form-field {
        width: 56px;
        text-align: center;
    }
}

.countdown-form-field-container {
    margin-right: 8px;
}

.countdown-form-field-title {
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: bold;
}

.countdown-form-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.countdown-form-bottom-btn {
    margin-left: 8px;
}

.countdown-form-field-datalist {
    position: absolute;
    padding: 4px 0;
    border-radius: 4px;
    transform: translate(-50%, 4px);
    background-color: $color-grey-dark;

    &.months .countdown-form-field-datalist-item {
        text-align: left;
    }

    &.days {
        padding: 4px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .countdown-form-field-datalist-item {
            padding: 8px;

            &:hover {
                border-radius: 4px;
            }
        }
    }

    &.hours {
        padding: 4px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 220px;
        height: 296px;

        .countdown-form-field-datalist-item {
            padding: 4px 8px;

            &:hover {
                border-radius: 4px;
            }
        }
    }
}

.countdown-form-field-datalist-item {
    padding: 4px 16px;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: $color-white-10;
    }
}

.countdown-form-bottom-message {
    font-size: 13px;
    font-weight: bold;
    color: $color-danger;
}

.countdown-main-create-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 132px;
    font-size: 16px;
}
