<div class="upper-block-item countdown" [class.visible]="visible">
    <form (submit)="createCountdown($event)" class="countdown-form" autocomplete="off"
        *ngIf="formVisible; else elseBlock" (keydown)="handleFormKeydown($event)" #formElement>
        <label class="countdown-form-field-container">
            <div class="countdown-form-field-title">Title</div>
            <input type="text" class="input countdown-form-field" name="title">
        </label>
        <div class="countdown-form-fields-group ">
            <div class="countdown-form-fields countdown-form-date-fields">
                <label class="countdown-form-field-container">
                    <div class="countdown-form-field-title">Years</div>
                    <input type="text" class="input countdown-form-field" name="years"
                        [value]="formValues.years || ''" required>
                </label>
                <label class="countdown-form-field-container">
                    <div class="countdown-form-field-title">Months</div>
                    <input type="text" class="input countdown-form-field" name="months"
                        [value]="formValues.months || ''" required>
                </label>
                <label class="countdown-form-field-container">
                    <div class="countdown-form-field-title">Days</div>
                    <input type="text" class="input countdown-form-field" name="days"
                        [value]="formValues.days || ''" required>
                </label>
            </div>
            <div class="countdown-form-fields countdown-form-date-fields">
                <label class="countdown-form-field-container">
                    <div class="countdown-form-field-title">Hours</div>
                    <input type="text" class="input countdown-form-field" name="hours"
                        [value]="formValues.hours || ''">
                </label>
                <label class="countdown-form-field-container">
                    <div class="countdown-form-field-title">Minutes</div>
                    <input type="text" class="input countdown-form-field" name="minutes"
                        [value]="formValues.minutes || ''">
                </label>
            </div>
            <ul class="countdown-form-field-datalist" [ngClass]="[activeField.name]" *ngIf="activeField.name"
                [ngStyle]="{'top': activeField.dataListPositionY + 'px', 'left': activeField.dataListPositionX + 'px'}">
                <li class="countdown-form-field-datalist-item" *ngFor="let item of activeField.dataList" [attr.data-item]="item.value">{{ item.displayValue }}</li>
            </ul>
        </div>
        <div class="countdown-form-bottom">
            <div class="countdown-form-bottom-message" *ngIf="formMessage">{{ formMessage }}</div>
            <button type="button" class="btn btn-text countdown-form-bottom-btn" (click)="hideForm()">Cancel</button>
            <button class="btn countdown-form-bottom-btn">Create</button>
        </div>
    </form>
    <ng-template #elseBlock>
        <ng-container *ngIf="countdowns && countdowns.length; else elseBlock2">
            <button class="btn btn-icon countdown-create-btn" (click)="showForm()" title="Create countdown">
                <svg viewBox="0 0 24 24">
                    <use href="#plus"></use>
                </svg>
            </button>
            <div class="countdown-items">
                <div class="countdown-item" *ngFor="let countdown of countdowns; let i = index" [ngStyle]="{'font-size': countdown.fontSize + 'px'}" [class.ended]="countdown.ended">
                    <div class="countdown-item-title" *ngIf="countdown.title">{{ countdown.title }}</div>
                    <div class="countdown-item-timer">
                        <div class="countdown-item-timer-part" *ngIf="countdown.years > 0">
                            <span class="countdown-item-timer-digit">{{ countdown.years }}</span>
                            <span class="countdown-item-timer-label">Year{{ countdown.years === 1 ? "" : "s" }}</span>
                        </div>
                        <div class="countdown-item-timer-part" *ngIf="countdown.months > 0">
                            <span class="countdown-item-timer-digit">{{ countdown.months }}</span>
                            <span class="countdown-item-timer-label">Month{{ countdown.months === 1 ? "" : "s" }}</span>
                        </div>
                        <div class="countdown-item-timer-part" *ngIf="countdown.days > 0">
                            <span class="countdown-item-timer-digit">{{ countdown.days }}</span>
                            <span class="countdown-item-timer-label">Day{{ countdown.days === 1 ? "" : "s" }}</span>
                        </div>
                        <div class="countdown-item-timer-part" *ngIf="countdown.hours > 0">
                            <span class="countdown-item-timer-digit">{{ countdown.hours }}</span>
                            <span class="countdown-item-timer-label">Hour{{ countdown.hours === 1 ? "" : "s" }}</span>
                        </div>
                        <div class="countdown-item-timer-part" *ngIf="countdown.minutes > 0">
                            <span class="countdown-item-timer-digit">{{ countdown.minutes }}</span>
                            <span class="countdown-item-timer-label">Minute{{ countdown.minutes === 1 ? "" : "s" }}</span>
                        </div>
                        <div class="countdown-item-timer-part">
                            <span class="countdown-item-timer-digit">{{ countdown.seconds }}</span>
                            <span class="countdown-item-timer-label">Second{{ countdown.seconds === 1 ? "" : "s" }}</span>
                        </div>
                    </div>
                    <div class="countdown-item-date">{{ countdown.date }}</div>
                    <button class="btn btn-icon countdown-item-remove-btn" (click)="removeCountdown(i)" title="Remove countdown">
                        <svg viewBox="0 0 24 24">
                            <use href="#cross"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </ng-container>
    </ng-template>
    <ng-template #elseBlock2>
        <div class="countdown-main-create-btn-container">
            <button class="btn btn-text" (click)="showForm()">Create countdown</button>
        </div>
    </ng-template>
</div>
