@import "../../../../styles/mixins.css";

.calendar-header-dropdown-container {
  position: absolute;
  top: 5px;
  right: 39px;
}

.calendar-header-dropdown {
  &:has(.calendar-header-dropdown-user) {
    min-width: 180px;
    max-width: 240px;
  }
}

.calendar-header-dropdown-toggle-btn {
  position: relative;
}

.calendar-header-dropdown-toggle-image {
  position: absolute;
  right: -4px;
  bottom: 0;
  display: block;
  width: 16px;
  border-radius: 50%;
}

.calendar-header-dropdown-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  padding-top: var(--space-md);
  margin-bottom: var(--space-md);
}

.calendar-header-dropdown-user-image {
  display: block;
  border-radius: 50%;
}

.calendar-header-dropdown-user-name,
.calendar-header-dropdown-user-email {
  padding-inline: var(--space-md);
  text-align: center;
  font-weight: bold;
}

.calendar-header-dropdown-user-email {
  font-size: var(--text-sm);
  color: var(--color-white-60);
}

.calendar-header-dropdown-user-bottom {
  display: flex;
  justify-content: flex-end;
  padding-inline: var(--space-md);
}

.calendar-header-dropdown-calendar-link {
  margin-right: auto;
}

.calendar-header-dropdown-calendar-logo {
  display: block;
  border-radius: 50%;
}

.calendar-list-toggle-btn {
  position: relative;
  padding: var(--space-md);
  border-radius: 0;
}

.calendar-list-state-icon {
  position: absolute;
  top: 50%;
  right: var(--space-md);
  transform: translateY(-50%);
  transition: var(--duration-n) transform;

  &.expanded {
    transform: translateY(-50%) rotateZ(180deg);
  }
}

.calendar-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  overflow-y: auto;
  max-height: 128px;
  padding: var(--space-md) var(--space-md) 0 var(--space-md);
}

.calendar-list-item {
  display: flex;
  gap: var(--space-md);

  & .checkbox {
    flex-shrink: 0;
  }
}

.calendar-list-item-title {
  @mixin text-truncate;
}

.calendar-connect-container {
  padding: 0 var(--space-md) var(--space-md) var(--space-md);
}

.calendar-connect-container-item {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  padding: var(--space-md);
}
