<ul class="container main-block-content"
    [class.hidden]="!item"
    [class.is-expanded]="itemState[item]"
    [class.is-item-bar-hidden]="isItemBarHidden"
    [class.is-twitter-active]="item === 'twitter'">
    <li class="main-block-content-item" [class.hidden]="item !== 'mostVisited'">
        <most-visited [setting]="mainBlockSetting"></most-visited>
    <li>
    <li class="main-block-content-item" [class.hidden]="item !== 'notepad'">
        <notepad></notepad>
    </li>
    <li class="main-block-content-item" [class.hidden]="item !== 'twitter'">
        <twitter (newTweetCount)="onNewTweets($event)" (toggleTab)="onToggleTab($event)" [item]="item"></twitter>
    </li>
    <li class="main-block-content-item" [class.hidden]="item !== 'rssFeed'">
        <rss-feed (newFeedEntries)="onNewEntries($event)" (toggleTab)="onToggleTab($event)" [item]="item"></rss-feed>
    </li>
    <li *ngIf="item !== 'mostVisited'">
        <button class="btn main-block-expand-btn" (click)="toggleItemState()">
            {{ this.itemState[this.item] ? "Contract" : "Expand" }}
        </button>
    </li>
</ul>
