<div class="storage" *ngIf="initialized; else elseBlock">
    <div class="storage-usage">
        <div class="storage-usage-numerical">
            <div class="storage-usage-current-numerical">
                <span>{{ usedStorageFormated }}</span>
                <span class="storage-usage-current-numerical-units">kB</span>
            </div>
            <div>Used of {{ maxStorageFormated }} kB</div>
        </div>
        <div class="storage-usage-percental">
            <svg viewBox="0 0 100 100" class="storage-usage-visual">
                <circle cx="50" cy="50" r="45" />
                <circle cx="50" cy="50" r="45" class="storage-usage-current-visual"
                    stroke-dasharray="1000"
                    [class.full]="dashoffset < 745.3"
                    [style]="'--dashoffset: ' + dashoffset | safeStyle" />
            </svg>
            <div class="storage-usage-current-percental">{{ usedStorageInPercent }}%</div>
            <div>Used</div>
        </div>
    </div>
    <ul class="storage-items">
        <li class="storage-item" *ngFor="let item of items; let i = index">
            <div class="storage-item-info">
                <div>{{ item.fullName }}</div>
                <div>{{ item.usedStorage }} kB</div>
            </div>
            <div class="storage-item-bar">
                <div class="storage-item-bar-inner"
                    [class.full]="item.usageRatio > 0.9"
                    [style]="'--scale: ' + item.usageRatio + '; --index: ' + i | safeStyle">
                </div>
            </div>
        </li>
    </ul>
</div>
<ng-template #elseBlock>
    <img src="./assets/images/ring.svg" class="storage-spinner" alt="">
</ng-template>

