@import "../../../scss/variables.scss";

.storage-usage {
    display: flex;
    padding: 8px;
}

.storage-usage-numerical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-weight: bold;
}

.storage-usage-current-numerical {
    font-size: 48px;
}

.storage-usage-current-numerical-units {
    margin-left: 4px;
    font-size: 20px;
}

.storage-usage-percental {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    font-weight: bold;
}

.storage-usage-visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    stroke-width: 8px;
    stroke: $color-white-10;
    fill: transparent;
}

.storage-usage-current-visual {
    stroke: transparentize($color-blue-light, 0.6);
    stroke-dashoffset: 1000;
    animation-name: stroke;
    animation-delay: 0.4s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;

    &.full {
        stroke: transparentize($color-danger, 0.4);
    }
}

.storage-usage-current-percental {
    font-size: 24px;
}

.storage-item {
    padding: 8px;

    &:not(:last-of-type) {
        border-bottom: 1px solid $color-white-10;
    }
}

.storage-item-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    font-size: 13px;
    font-weight: bold;
}

.storage-item-bar {
    height: 4px;
    background-color: $color-white-10;
}

.storage-item-bar-inner {
    height: 100%;
    background-color: transparentize($color-blue-light, 0.6);
    transform-origin: left;
    transform: scaleX(0);
    animation-name: scale-h;
    animation-delay: calc(var(--index) * 0.3s);
    animation-duration: 0.4s;
    animation-fill-mode: forwards;

    &.full {
        background-color: transparentize($color-danger, 0.4);
    }
}

.storage-spinner {
    margin: auto;
}

@keyframes stroke {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: var(--dashoffset);
    }
}

@keyframes scale-h {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(var(--scale));
    }
}
