.weather-more-info {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--container-inset-radius);
}

.weather-more-current {
  padding: var(--space-xl);
}

.weather-more-message {
  width: 200px;
  margin: auto;
  text-align: center;
  font-size: var(--text-lg);
}

.weather-more-top {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: end;
  gap: var(--space-sm);
  width: 320px;
  padding: var(--space-sm);

  &::before {
    z-index: -1;
    position: absolute;
    top: -2px;
    right: -2px;
    display: block;
    content: '';
    width: 100%;
    height: calc(100% + 2px);
    border-bottom: 1px solid var(--color-white-4);
    background-color: var(--color-white-4);
    mask-image: linear-gradient(to left, var(--color-black-100) 60%, hsl(0deg 100% 100% / 0%));
  }
}

.weather-more-update-indicator {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.weather-more-settings {
  .dropdown {
    min-width: 180px;
  }
}

.weather-more-setting {
  gap: var(--space-md);
  padding: 0 var(--space-md) var(--space-md) var(--space-md);

  &:last-of-type {
    padding-bottom: 0;
  }
}
