.weather-more-info {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--container-inset-radius);
}

.weather-more-current {
  padding: var(--space-xl);
}

.weather-more-current-icon-container {
  margin: auto var(--space-xl) auto 0;
  border: 1px solid var(--color-white-4);
  border-radius: 50%;
  background-color: var(--color-white-10);
  box-shadow:
    inset 0 1px 1px 0 var(--color-white-10),
    inset 1px 2px 2px 0 var(--color-white-4),
    inset 2px 4px 4px 0 var(--color-white-2),
    var(--highligh-shadow);
}

.weather-more-current-icon {
  display: block;
  filter: var(--icon-filter);

  &.icon-13d, &.icon-13n {
    filter:
      brightness(2)
      var(--icon-filter);
  }
}

.weather-more-current-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.weather-more-current-location {
  font-size: var(--text-xl);
}

.weather-more-current-main-info {
  display: flex;
  align-items: center;
  margin: var(--space-sm) 0;
}

.weather-more-current-temperature {
  display: flex;
  margin-right: auto;
}

.weather-more-current-temperature-value {
  font-size: var(--text-xxxxl);
  line-height: 1;
}

.weather-more-current-temperature-units {
  margin-top: -2px;
  margin-left: var(--space-sm);
  font-size: var(--text-xxl);
}

.weather-more-current-secondary {
  font-size: var(--text-sm);
  font-weight: bold;
}

.weather-more-current-secondary-item {
  display: flex;
  align-items: center;
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: var(--space-sm);
  }
}

.weather-more-current-secondary-name {
  min-width: 80px;
  margin-right: var(--space-sm);
  text-align: right;
}

.weather-more-current-wind {
  display: flex;
  align-items: center;
}

.weather-more-current-wind-icon {
  margin-left: var(--space-sm);
  transform: rotateZ(calc(var(--degrees) * 1deg));
  transition: transform var(--duration-n);
}

.weather-more-current-description {
  font-size: var(--text-lg);
}

.weather-more-hourly-view-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.weather-more-hourly-view-top {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  padding-bottom: var(--space-sm);
  margin-bottom: auto;
}

.weather-more-hourly-view-top-items {
  display: flex;
  justify-content: center;
  gap: var(--space-sm);
  padding-top: var(--space-sm);
}

.weather-more-hourly-view-top-btn {
  padding: var(--space-xs) var(--space-md);
  border: none;
  border-radius: 0;
  font-size: var(--text-sm);

  &:hover, &.active {
    &:focus-visible {
      --background-color: var(--color-white-10);

      box-shadow:
        var(--focus-shadow),
        inset 0 -2px 0 0 var(--color-primary);
    }
  }

  &:hover {
    --background-color: transparent;

    box-shadow: none;
  }

  &.active {
     --color: var(--color-white);
  }
}

.weather-more-hourly-view {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.weather-more-hourly-temp-view {
  width: 576px;
}

.weather-more-hourly-temp-view-text {
  font-size: var(--text-xxs);
  font-weight: bold;
  fill: var(--color-white-80);
}

.weather-more-hourly-prec-view-values {
  display: flex;
  padding: var(--space-sm) 0;
  font-size: var(--text-xxs);
  font-weight: bold;
  color: var(--color-primary-10);
}

.weather-more-hourly-prec-view-value {
  flex: 1;
  text-align: center;
}

.weather-more-hourly-prec-view-graph {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.weather-more-hourly-prec-view-graph-bar {
  flex: 1;
  border-top: 2px solid var(--color-primary);
  background-color: var(--color-primary-0-40);
}

.weather-more-hourly-wind-view {
  flex-direction: row;
}

.weather-more-hourly-wind-view-item-speed {
  padding: var(--space-sm) 0;
  text-align: center;
  font-weight: bold;
  font-size: var(--text-xxs);
  color: var(--color-white-80);
}

.weather-more-hourly-wind-view-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.weather-more-hourly-wind-view-item-icon {
  --max-size: 40;
  --min-size: 20;

  --size: calc(((var(--max-size) - var(--min-size)) * var(--ratio) + var(--min-size)) * 1px);

  width: var(--size);
  height: var(--size);
  margin: auto;
  transform: rotateZ(calc(var(--degrees) * 1deg));
  transition: all var(--duration-n);
  color: var(--color-primary-10);
}

.weather-more-hourly-view-time {
  display: flex;
  padding: var(--space-sm) 0;
  font-size: var(--text-xs);
  color: var(--color-white-80);
}

.weather-more-hourly-view-time-item {
  flex: 1;
  text-align: center;
}

.weather-more-daily {
  justify-content: center;
  padding: 0;
  margin-top: auto;
}

.weather-more-daily-weekday {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-md) var(--space-sm);
}

.weather-more-daily-weekday-name {
  font-weight: bold;
  font-size: var(--text-sm);
}

.weather-more-daily-weekday-icon {
  margin: var(--space-sm);
  filter: var(--icon-filter);

  &.icon-13d, &.icon-13n {
    filter:
      brightness(2)
      var(--icon-filter);
  }
}

.weather-more-daily-weekday-temp {
  display: flex;
  gap: var(--space-sm);
  font-size: var(--text-xs);
  color: var(--color-white-80);
}

.weather-more-spinner {
  width: 48px;
  height: 48px;
  margin: auto;
}

.weather-more-settings {
  position: absolute;
  top: 6px;
  right: 42px;

  .dropdown {
    width: 180px;
  }
}

.weather-more-setting {
  gap: var(--space-md);
  padding: 0 var(--space-md) var(--space-md) var(--space-md);

  &:last-of-type {
    padding-bottom: 0;
  }
}

.weather-more-close-btn {
  position: absolute;
  top: 6px;
  right: 6px;
}
