.weather-more-info {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.weather-more-current {
  display: flex;
  padding: var(--space-xl);
  border-bottom: 1px solid var(--color-white-10);
}

.weather-more-current-icon {
  margin: auto var(--space-xl) auto 0;
  border: 1px solid var(--color-white-4);
  border-radius: 50%;
  background-color: var(--color-white-10);
  mix-blend-mode: plus-lighter;
}

.weather-more-current-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.weather-more-current-city {
  font-size: var(--text-xl);
}

.weather-more-current-main-info {
  display: flex;
  align-items: center;
  margin: var(--space-sm) 0;
}

.weather-more-current-temperature {
  display: flex;
  margin-right: auto;
}

.weather-more-current-temperature-value {
  font-size: var(--text-xxxxl);
  line-height: 1;
}

.weather-more-current-temperature-units {
  margin-left: var(--space-sm);
  font-size: var(--text-xxl);
}

.weather-more-current-secondary {
  font-size: var(--text-sm);
  font-weight: bold;
}

.weather-more-current-secondary-item {
  display: flex;
  align-items: center;
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: var(--space-sm);
  }
}

.weather-more-current-secondary-name {
  min-width: 80px;
  margin-right: var(--space-sm);
  text-align: right;
}

.weather-more-current-wind {
  display: flex;
  align-items: center;
}

.weather-more-current-wind-icon {
  margin-left: var(--space-sm);
  transform: rotateZ(calc(var(--degrees) * 1deg));
  transition: transform 0.2s;
}

.weather-more-current-description {
  font-size: var(--text-lg);
}

.weather-more-hourly-hourly-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.weather-more-hourly-view-top {
  display: flex;
  justify-content: center;
  gap: var(--space-sm);
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}

.weather-more-hourly-view-top-btn {
  height: auto;
  padding: var(--space-xs) var(--space-md);
  border-radius: 0;
  font-size: var(--text-sm);
  color: var(--color-white-80);

  &:hover {
    --background-color: transparent;

    border-color: transparent;
    color: var(--color-white);
  }

  &.active {
    color: var(--color-white);
    box-shadow: 0 2px 0 0 var(--color-primary);
  }
}

.weather-more-hourly-view {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.weather-more-hourly-temp-view {
  width: 576px;
  height: 100px;
}

.weather-more-hourly-temp-view-text {
  font-size: var(--text-xxs);
  font-weight: bold;
  fill: var(--color-white-80);
}

.weather-more-hourly-prec-view-values {
  display: flex;
  padding: var(--space-sm) 0;
  font-size: var(--text-xxs);
  font-weight: bold;
  color: var(--color-primary-10);
}

.weather-more-hourly-prec-view-value {
  flex: 1;
  text-align: center;
}

.weather-more-hourly-prec-view-graph {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.weather-more-hourly-prec-view-graph-bar {
  flex: 1;
  border-top: 2px solid var(--color-primary);
  background-color: var(--color-primary-0-40);
}

.weather-more-hourly-wind-view {
  flex-direction: row;
}

.weather-more-hourly-wind-view-item-speed {
  padding: var(--space-sm) 0;
  text-align: center;
  font-weight: bold;
  font-size: var(--text-xxs);
  color: var(--color-white-80);
}

.weather-more-hourly-wind-view-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.weather-more-hourly-wind-view-item-icon {
  --max-size: 40;
  --min-size: 20;

  --size: calc(((var(--max-size) - var(--min-size)) * var(--ratio) + var(--min-size)) * 1px);

  width: var(--size);
  height: var(--size);
  margin: auto;
  transform: rotateZ(calc(var(--degrees) * 1deg));
  transition: all 0.2s;
  color: var(--color-primary-10);
}

.weather-more-hourly-view-time {
  display: flex;
  padding: var(--space-sm) 0;
  font-size: var(--text-xs);
  color: var(--color-white-80);
}

.weather-more-hourly-view-time-item {
  flex: 1;
  text-align: center;
}

.weather-more-daily {
  display: flex;
  margin-top: auto;
  border-top: 1px solid var(--color-white-10);
}

.weather-more-daily-weekday {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-md) var(--space-sm);
}

.weather-more-daily-weekday-name {
  font-weight: bold;
  font-size: var(--text-sm);
}

.weather-more-daily-weekday-icon {
  margin: var(--space-sm);
  mix-blend-mode: exclusion;
}

.weather-more-daily-weekday-temp {
  display: flex;
  gap: var(--space-sm);
  font-size: var(--text-xs);
  color: var(--color-white-80);
}

.weather-more-spinner {
  width: 48px;
  height: 48px;
  margin: auto;
}

.weather-more-settings {
  position: absolute;
  top: 6px;
  right: 40px;

  & .dropdown {
    width: 200px;
  }
}

.weather-more-setting {
  padding: 0 var(--space-md);

  & > div {
    margin-bottom: var(--space-md);
  }

  &:not(:first-of-type) {
    padding-top: var(--space-md);
    margin-top: var(--space-md);
    border-top: 1px solid var(--color-white-10);
  }
}

.weather-more-hide-btn {
  position: absolute;
  top: 6px;
  right: 6px;
}
