.storage {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.storage-usage {
  display: flex;
  padding: var(--space-md);
}

.storage-usage-numerical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-weight: bold;
}

.storage-usage-current-numerical {
  font-size: 48px;
}

.storage-usage-current-numerical-units {
  margin-left: var(--space-sm);
  font-size: var(--text-xl);
}

.storage-usage-percental {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  font-weight: bold;
}

.storage-usage-visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  stroke-width: 8px;
  stroke: var(--color-white-10);
  fill: transparent;
}

.storage-usage-current-visual {
  stroke: var(--color-primary);
  stroke-dashoffset: 1000;
  animation-name: stroke;
  animation-delay: 0.4s;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;

  &.full {
    stroke: var(--color-negative);
  }
}

.storage-usage-current-percental {
  font-size: var(--text-xxl);
}

.storage-item {
  display: flex;
  align-items: center;
  padding: var(--space-md);
}

.storage-item-main {
  flex: 1;
  margin-right: var(--space-md);
}

.storage-item-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-sm);
  font-size: var(--text-sm);
  font-weight: bold;
}

.storage-item-bar {
  overflow: hidden;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-white-10);
}

.storage-item-bar-inner {
  height: 100%;
  background-color: var(--color-primary);
  transform-origin: left;
  transform: scaleX(0);
  animation-name: scale-h;
  animation-delay: calc(var(--index) * 0.3s);
  animation-duration: 0.4s;
  animation-fill-mode: forwards;

  &.full {
    background-color: var(--color-negative);
  }
}

.storage-spinner {
  margin: auto;
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: var(--dashoffset);
  }
}

@keyframes scale-h {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(var(--scale));
  }
}
