.feed-select-btn {
  &:hover {
    & .feed-new-entry-count-container::before {
      background-color: var(--color-black-8);
      box-shadow: inset 0 1px 2px 0 var(--color-black-16),
                  inset 0 2px 4px 0 var(--color-black-8);
    }
  }
}

.feed-shift-btn.active {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    border-radius: 50%;
    background-color: var(--color-white-10);
    animation-name: ping;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
}

@keyframes ping {
  from {
    opacity: 1;
    transform: scale(0.1);
  }
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}

.feed-new-entry-count-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: var(--space-md);
  font-size: 10px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    background-color: transparent;

    &::before {
      transform: scale(1.2);
    }
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 var(--color-black-8),
                0 2px 4px 0 var(--color-black-4);
    background-color: var(--color-white-10);
    transition: 0.1s transform, 0.1s box-shadow, 0.1s background-color;
  }
}

.feed-list-btn.indicator::after {
  bottom: 5px;
  right: var(--space-sm);
  background-color: var(--color-negative);
}

.feed-entries {
  overflow-y: auto;
  flex-grow: 1;

  &:focus-visible {
    box-shadow: inset 0 0 0 2px var(--color-primary);
  }
}

.feed-entry {
  padding: var(--space-md);
  box-shadow: 0 1px 0 0 var(--color-white-10);
}

.feed-entry-title {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-md);
}

.feed-entry-link {
  font-weight: bold;
  word-break: break-word;

  &:hover {
    text-decoration: underline;
  }
}

.new-entry-indicator {
  padding: var(--space-xs) var(--space-md);
  margin-right: var(--space-md);
  border-radius: 99px;
  background-color: var(--color-white-10);
  box-shadow: 0 1px 2px 0 var(--color-black-8),
              0 2px 4px 0 var(--color-black-4);
  font-size: var(--text-xs);
  font-weight: bold;
  cursor: default;
}

.feed-entry-expand-btn {
  display: none;
  width: 100%;
  border-top: 1px solid var(--color-white-10);
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  &:hover {
    background-color: var(--color-white-10);
  }
}
