.feed-select-btn {
  &:not(.one):hover {
    .feed-new-entry-count-container::before {
      background-color: var(--color-black-8);
      box-shadow:
        inset 1px 1px 2px 0 var(--color-black-8),
        inset 2px 2px 4px 0 var(--color-black-4);
    }
  }
}

.feed-shift-btn.active {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;

  &::before {
    position: absolute;
    inset: 0;
    content: "";
    display: block;
    border-radius: 50%;
    background-color: var(--color-white-10);
    animation-name: ping;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
}

@keyframes ping {
  from {
    opacity: 1;
    transform: scale(0.1);
  }

  to {
    opacity: 0;
    transform: scale(1.5);
  }
}

.feed-list-btn.indicator::after {
  bottom: 5px;
  right: var(--space-sm);
  background-color: var(--color-negative);
}

.feed-entries {
  overflow-y: auto;
  flex-grow: 1;
}

.feed-entry {
  padding: var(--space-md);
  box-shadow: 0 1px 0 0 var(--color-white-10);
}

.feed-entry-title {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  min-height: 20px;
  margin-bottom: var(--space-md);
}

.feed-entry-link {
  font-weight: bold;
  word-break: break-word;

  &:hover {
    text-decoration: underline;
  }
}

.new-entry-indicator {
  padding: var(--space-xs) var(--space-md);
  border-radius: 99px;
  box-shadow:
    inset 0 1px 1px 0 var(--color-white-4),
    inset 1px 2px 2px 0 var(--color-white-2),
    var(--fg-shadow);
  background-color: var(--color-white-10);
  font-size: var(--text-xs);
  font-weight: bold;
  cursor: default;
}

.feed-entry-expand-btn {
  display: none;
  width: 100%;
  border-top: 1px solid var(--color-white-10);
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  &:hover {
    background-color: var(--color-white-10);
  }
}
