.secondary-panel {
  z-index: var(--z-index, 1);
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  gap: var(--space-md);

  &.placement-top-left:not(.moved), &.placement-top-right:not(.moved) {
    top: 42px;
  }

  &.placement-bottom-left:not(.moved), &.placement-bottom-right:not(.moved) {
    bottom: 42px;
  }

  &.moved {
    --x: var(--space-md);
    --y: var(--space-md);

    position: absolute;
    top: var(--y);
    left: var(--x);
  }
}

.secondary-panel-transition-target {
  opacity: 0;
  transition: var(--duration-n) opacity;
}

.secondary-panel-item-container {
  &.calendar-container {
    display: none;

    &.revealed {
      display: block;
    }
  }

  &:not(.visible) {
    opacity: 0;
    transition: var(--duration-s) opacity;
  }

  &.visible {
    position: static;

    .secondary-panel-transition-target {
      opacity: 1;
      transition-delay: var(--duration-f);
    }
  }
}

.secondary-panel-item-selection {
  display: flex;
  justify-content: end;
  gap: var(--space-md);

  &.placement-top-left {
    justify-content: start;
    order: -1;
  }

  &.placement-bottom-left {
    justify-content: start;
  }
}

.secondary-panel-item-header {
  justify-content: space-between;
  padding-left: var(--space-md);
}

.secondary-panel-item-title {
  font-size: var(--text-md);
  font-weight: bold;
}
