.secondary-panel {
  z-index: var(--z-index, 1);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  &.top-left {
    .secondary-panel-item-selection {
      justify-content: start;
      order: -1;
    }
  }

  &.bottom-left {
    .secondary-panel-item-selection {
      justify-content: start;
    }
  }
}

.secondary-panel-transition-target {
  opacity: 0;
  transition: var(--duration-n) opacity;
}

::view-transition-old(item-container),
::view-transition-new(item-container) {
  height: 100%;
  width: 100%;
}

::view-transition-group(item-container) {
  overflow: clip;
  animation-duration: var(--duration-f);
}

.secondary-panel-item-container {
  view-transition-name: item-container;

  &.visible {
    .secondary-panel-transition-target {
      opacity: 1;
      transition-delay: var(--duration-f);
    }
  }

  &.hidden {
    display: none;
  }
}

.secondary-panel-item-selection {
  display: flex;
  justify-content: end;
  gap: var(--space-md);
}

.secondary-panel-item-header {
  justify-content: space-between;
  padding-left: var(--space-md);
}

.secondary-panel-item-title {
  font-size: var(--text-md);
  font-weight: bold;
}

.secondary-panel-item-content.hidden {
  display: none;
}
