.weather-setting-message {
  margin-top: var(--space-md);
  font-size: var(--text-sm);
  color: var(--color-negative);
}

.weather-settings-message {
  padding: var(--space-md);
  border-bottom: 1px solid var(--color-white-10);
  font-size: var(--text-md);
}

.setting-weather-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
