.twitter-timelines {
  width: calc(100% - var(--space-xxl));
}

.twitter-timelines-title {
  margin-bottom: var(--space-md);
  margin-left: var(--space-md);
  font-size: var(--text-lg);
}

.twitter-timelines-items {
  overflow: auto;
  max-height: 166px;
}

.twitter-timelines-item {
  display: flex;
  align-items: center;
  padding-right: var(--space-md);
}

.twitter-timelines-item-btn {
  width: 100%;
  border-radius: 8px;
  text-align: left;

  &:focus-visible {
    box-shadow: inset var(--focus-shadow);
  }
}

.twitter-timelines-user-image {
  border-radius: 50%;
  margin-right: var(--space-md);
}

.twitter-timelines-user-handle {
  color: var(--color-white-60);
  font-weight: normal;
}

.twitter-timelines-checkmark {
  margin-left: var(--space-xl);
}

.twitter-timelines-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-md);
}

.twitter-timelines-notice {
  display: flex;
  align-items: center;
  color: var(--color-white-60);

  & svg {
    margin-right: var(--space-sm);
  }
}
