.tabs-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  min-width: 0;
}

.active-tab-indicator {
  --offset: 0;
  --scale: 0;

  position: absolute;
  bottom: 0;
  left: 0;
  transition: var(--duration-n) transform;

  &.static {
    transition: none;
  }

  &.h {
    right: 0;
    border-bottom: 2px solid var(--color-primary);
    transform-origin: left;
    transform: translateX(calc(var(--offset) * 1%)) scaleX(var(--scale));
  }

  &.v {
    top: 0;
    border-left: 2px solid var(--color-primary);
    transform-origin: top;
    transform: translateY(calc(var(--offset) * 1%)) scaleY(var(--scale));
  }
}
