.modal-mask {
  z-index: 1;
  position: absolute;
  inset: 1px;
  display: flex;
  border-radius: 8px;
  background-color: hsl(var(--accent-hue) 7% 12% / 50%);
}

.modal {
  min-width: 280px;
  padding: var(--space-xl) var(--space-md) var(--space-md) var(--space-md);
  margin: auto;
  background-color: hsl(var(--accent-hue) 7% 12%);
  backdrop-filter: none;
}

.modal-title {
  margin-left: var(--space-md);
  margin-bottom: var(--space-xl);
  font-size: var(--text-lg);
}

.modal-title-center {
  margin-left: 0;
  text-align: center;
}

.modal-text-body {
  margin-left: var(--space-md);
  margin-right: var(--space-md);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--space-xl);

  & .btn:last-of-type {
    margin-left: var(--space-md);
  }
}
