.modal-mask {
  z-index: 1;
  position: absolute;
  inset: -1px;
  display: flex;

  &:not(.transparent) {
    border-radius: var(--container-border-radius);
    background-color: var(--color-grey-90-50);
    animation-duration: var(--duration-f);
    animation-fill-mode: both;
    animation-name: opacity-up;

    .modal {
      background-color: var(--color-grey-90);
      backdrop-filter: none;
    }
  }

  &.hiding {
    animation-duration: var(--duration-n);
    animation-name: opacity-down;

    .modal {
      animation-duration: var(--duration-n), var(--duration-f);
      animation-name: opacity-down, slide-down;
    }
  }
}

.modal {
  max-width: calc(100% - var(--space-xl));
  min-width: 280px;
  padding: var(--space-xl);
  margin: auto;
  animation-duration: var(--duration-n);
  animation-fill-mode: both;
  animation-name: reveal-modal;
}

.modal-title {
  margin-left: var(--space-md);
  margin-bottom: var(--space-xl);
  font-size: var(--text-md);
  font-weight: bold;
}

.modal-title-center {
  margin-left: 0;
  text-align: center;
}

.modal-text-body {
  margin-left: var(--space-md);
  margin-right: var(--space-md);
  white-space: pre-line;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-md);
  margin-top: var(--space-xl);
}

@keyframes reveal-modal {
  from {
    transform: translateY(calc(-1 * var(--space-md)));
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: none;
  }

  to {
    transform: translateY(calc(1 * var(--space-md)));
  }
}
