.countdown-form-fields-group {
  margin-top: var(--space-md);
}

.countdown-form-fields {
  display: flex;
  margin-bottom: var(--space-md);
}

.countdown-form-date-fields {
  & .countdown-form-field-title {
    text-align: center;
  }

  & .countdown-form-field {
    width: 68px;
    text-align: center;
  }
}

.countdown-form-field-container {
  margin-right: var(--space-md);
}

.countdown-form-field-title {
  margin-bottom: var(--space-sm);
  font-size: var(--text-sm);
  font-weight: bold;
}

.countdown-form-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.countdown-form-bottom-btn {
  margin-left: var(--space-md);
}

.countdown-form-field-datalist {
  position: absolute;
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
  transform: translate(-50%, var(--space-sm));
  background-color: var(--color-grey-90);

  &.months {
    width: 100px;
  }

  &.days {
    padding: var(--space-md);
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    & .countdown-form-field-datalist-item {
      padding: var(--space-md);

      &:hover {
        border-radius: var(--space-md);
      }
    }
  }

  &.hours {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(8, 1fr);
    padding: var(--space-md);

    & .countdown-form-field-datalist-item {
      width: 64px;
      padding: var(--space-sm) var(--space-md);

      &:hover {
        border-radius: var(--space-md);
      }
    }
  }
}

.countdown-form-field-datalist-item {
  padding: var(--space-sm) var(--space-xl);
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: var(--color-white-10);
  }
}

.countdown-form-bottom-message {
  margin-left: var(--space-sm);
  margin-right: auto;
  font-size: var(--text-sm);
  font-weight: bold;
  color: var(--color-negative);
}
