<div class="menu-item-container">
    <div *ngIf="!daySelected">
        <div class="calendar-header">
            <button class="icon-left-big font-btn month-btn"
                (click)="setCurrentMonthAndYear(-1)" title="Previous month"></button>
            <span class="calendar-title">{{ calendar.currentMonth.name }} {{ calendar.currentYear }}</span>
            <button class="icon-left-big font-btn month-btn"
                (click)="setCurrentMonthAndYear(1)" title="Next month"></button>
        </div>
        <ul class="calendar-week-days">
            <li class="calendar-cell">Mon</li>
            <li class="calendar-cell">Tue</li>
            <li class="calendar-cell">Wed</li>
            <li class="calendar-cell">Thu</li>
            <li class="calendar-cell">Fri</li>
            <li class="calendar-cell">Sat</li>
            <li class="calendar-cell">Sun</li>
        </ul>
        <ul class="calendar-month-days">
            <li class="calendar-cell calendar-month-day"
                *ngFor="let day of calendar.currentMonth.days; let i = index"
                [class.is-current-month-day]="day.direction === 0"
                [class.has-reminder]="day.reminders.length"
                [class.current-day]="day.currentDay"
                (click)="showDay(day, i)">{{ day.number }}</li>
        </ul>
    </div>
    <div *ngIf="daySelected">
        <calendar-selected-day [day]="selectedDay"
        (event)="showCalendar($event)"
        (notify)="sendReminders($event)"
        (remove)="removeReminder($event)"
        (repeat)="repeatReminder($event)"></calendar-selected-day>
    </div>
</div>
