@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.calendar-container {
    display: none;
    height: 324px;

    &.visible {
        display: flex;
    }
}

.calendar-sidebar {
    --initial-width: 220px;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--initial-width);
    border-right: 1px solid $color-white-10;
    transition: 0.2s width;

    &.collapsed {
        width: 33px;

        .calendar-sidebar-item {
            opacity: 0.1;
        }
    }
}

.calendar-sidebar-item {
    width: var(--initial-width);
    transition: 0.2s opacity;
}

.calendar-sidebar-date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-white-10;
}

.calendar-sidebar-date-day {
    margin-right: 8px;
    font-size: 48px;
}

.calendar-sidebar-date-weekday {
    font-size: 20px;
}

.current-day-reminders {
    @include scrollbar;

    overflow-y: auto;
    flex-grow: 1;
    padding: 4px 0 4px 4px;
}

.current-day-reminder {
    padding: 4px 4px 4px 8px;
    border-left: 2px solid transparent;
    transition: 0.2s border-left-color;

    &:not(:first-of-type) {
        margin-top: 4px;
    }
}

.calendar-reminder-range {
    margin-top: 4px;
    font-size: 13px;
    color: $color-white-60;
}

.calendar-sidebar-toggle-btn {
    margin: auto 4px 4px 4px;
    flex-shrink: 0;
}

.calendar-wrapper {
    overflow: hidden;
}

.calendar-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
}

.calendar-title {
    min-width: 130px;
    padding: 1px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.calendar {
    position: relative;
    width: 378px;
    height: 100%;
    transform-origin: var(--x) var(--y);

    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-name: opacity-up;

    &.transitioning {
        animation-duration: 0.16s, 0.6s;
        animation-name: opacity-down, calendar-scale-up;
    }
}

.calendar-week-days {
    display: flex;
    height: 32px;
    margin-left: 1px;
    margin-right: 1px;

    .calendar-cell {
        flex: 1;
    }
}

.calendar-days {
    display: grid;
    grid-gap: 1px;
    grid-template: repeat(6, 1fr) / repeat(7, 1fr);
    height: calc(100% - 64px);
    padding: 0 1px 1px 1px;
}

.calendar-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-day {
    position: relative;
    border: 1px solid transparent;
    color: $color-white-60;
    transition: 0.2s background-color, 0.2s box-shadow;
    cursor: pointer;

    &.current {
        font-weight: bold;
    }

    &.current-month-day {
        color: $color-white;
    }

    &:hover, &.current {
        background-color: $color-white-10;
        box-shadow: inset 0 0 0 1px $color-grey-darker-60;
    }
}

.day-reminders {
    position: absolute;
    left: 1px;
    bottom: 1px;
    right: 1px;
    display: flex;
    height: 2px;
}

.day-reminder {
    flex-basis: 100%;

    &:not(:last-of-type) {
        margin-right: 1px;
    }
}

.calendar-months {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: calc(100% - 32px);
}

.calendar-month {
    padding: 4px;
    border-top: 1px solid $color-white-10;
    transition: 0.2s background-color, 0.2s box-shadow;
    cursor: pointer;

    &.current {
        font-weight: bold;
    }

    &:not(:nth-of-type(4n)) {
        border-right: 1px solid $color-white-10;
    }

    &:hover, &.current {
        background-color: $color-white-10;
        box-shadow: inset 0 0 0 1px $color-grey-darker-60,
                    -1px 0 0 0 $color-white-10,
                    0 1px 0 0 $color-white-10;
    }
}

@keyframes calendar-scale-up {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(4);
    }
}
