.top-panel-content {
  opacity: 0;
  transition: var(--duration-n) opacity;
}

.top-panel {
  --size-multiplier: 1;

  z-index: var(--z-index, 1);
  position: absolute;
  top: var(--space-md);
  left: 50%;
  opacity: 0;
  visibility: hidden;
  width: 610px;
  border-bottom-left-radius: 999px;
  border-bottom-right-radius: 999px;
  transform-origin: top center;
  transform: translateX(-50%) scale(0);
  transition:
    var(--duration-n) transform,
    var(--duration-n) opacity,
    var(--duration-n) visibility,
    var(--duration-n) border-bottom-left-radius,
    var(--duration-n) border-bottom-right-radius;
  transition-delay: var(--duration-f);
  will-change: transform;
  cursor: default;

  &.visible {
    opacity: 1;
    visibility: visible;
    border-bottom-left-radius: var(--container-border-radius);
    border-bottom-right-radius: var(--container-border-radius);
    transform: translateX(-50%) scale(1);
    transition-delay: 0s;

    .top-panel-content {
      opacity: 1;
      transition-delay: var(--duration-f);
    }
  }

  &.no-delay {
    transition-delay: 0s;
  }

  &.minimal {
    --size-multiplier: 0.6;

    z-index: 1;
    position: relative;
    top: 0;
    grid-area: timers;
    align-self: var(--timers-alignment);
    text-shadow:
      0 1px 1px var(--color-black-8),
      1px 2px 2px var(--color-black-4),
      2px 4px 4px var(--color-black-2);
    user-select: none;

    .top-panel-hide-target {
      display: none;
    }

    .top-panel-item-content {
      height: auto;
      background-color: transparent;
    }

    .top-panel-item-actions {
      display: none;
    }

    .timer-display-btns {
      display: none;
    }

    &.timer .top-panel-item {
      &:not(.timer) {
        display: none;
      }

      &.timer {
        display: block;
      }
    }

    &.stopwatch .top-panel-item {
      &:not(.stopwatch) {
        display: none;
      }

      &.stopwatch {
        display: block;
      }

      .stopwatch-splits-preview {
        display: none;
      }
    }

    &.pomodoro .top-panel-item {
      &:not(.pomodoro) {
        display: none;
      }

      &.pomodoro {
        display: block;
      }

      .pomodoro-stage {
        font-size: var(--text-xxs);
      }
    }

    .top-panel-item-content-label {
      min-height: auto;
      font-size: var(--text-md);
    }
  }

  &.expanded {
    --size-multiplier: var(--fullscreen-text-scale, 1.5);

    top: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    border-radius: 0;

    .top-panel-hide-target {
      display: none;
    }

    .top-panel-content {
      margin: auto;
    }

    .top-panel-item-content {
      height: auto;
      background-color: transparent;
      text-shadow:
        0 1px 1px var(--color-black-8),
        1px 2px 2px var(--color-black-4),
        2px 4px 4px var(--color-black-2);
    }

    .top-panel-item-content-label {
      min-height: auto;
    }

    .timer-display-btns {
      display: none;
    }

    .stopwatch-splits-preview {
      display: none;
    }
  }
}

.top-panel-header {
  flex-grow: 1;
  padding: var(--space-sm) var(--space-sm) var(--space-sm) 0;
}

.top-panel-header-item {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 0 var(--space-sm);

  &.active {
    .top-panel-header-item-btn {
      --color: var(--color-white);
    }
  }
}

.top-panel-header-item-btn {
  width: 100%;
  padding: var(--space-sm) var(--space-md);
  font-weight: normal;

  .indicator::after {
    bottom: 1px;
    right: 1px;
  }
}

.top-panel-close-btn {
  margin-left: var(--space-sm);
}

.top-panel-item-placeholder {
  height: 174px;
}

.top-panel-item {
  display: none;

  &.first {
    animation-duration: var(--duration-n);
    animation-fill-mode: both;
    animation-name: opacity-up;
  }

  &.visible {
    display: block;
  }
}

.top-panel-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 135px;
}

.top-panel-item-content-top {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: var(--space-md) 0;
}

.top-panel-item-content-label {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 46px;
  text-wrap: balance;
  text-align: center;
  font-size: calc(var(--text-lg) * var(--size-multiplier));
}

.top-panel-item-content-top-dropdown {
  position: absolute;
  top: 0;
  right: var(--space-md);
}

.top-panel-item-display {
  display: flex;
  align-items: baseline;
  gap: calc(var(--space-md) * var(--size-multiplier));
  margin-block: auto;
}

.top-panel-digit {
  height: 2ch;
  font-size: calc(64px * var(--size-multiplier));
}

.top-panel-digit-sep {
  margin-left: calc(var(--space-sm) * var(--size-multiplier));
  font-size: calc(var(--text-xxxl) * var(--size-multiplier));
}

.top-panel-item-actions {
  gap: var(--space-md);
}

.top-panel-item-action-btn {
  min-width: 64px;
}

.top-panel-secondary-actions {
  display: flex;
  gap: var(--space-sm);
  margin-left: auto;
}

.top-panel-collapse-btn {
  position: absolute;
  top: var(--space-sm);
  right: var(--space-sm);
}
