.weather-more-daily {
  justify-content: center;
  padding: 0;
  margin-top: auto;
  transition: 0.2s filter, 0.2s opacity;

  &.updating {
    filter: blur(2px);
    opacity: 0.8;
    pointer-events: none;
  }
}

.weather-more-daily-weekday {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-md) var(--space-sm);
}

.weather-more-daily-weekday-name {
  font-weight: bold;
  font-size: var(--text-sm);
}

.weather-more-daily-weekday-icon {
  margin: var(--space-sm);
  filter: var(--icon-filter);

  &.icon-13d, &.icon-13n {
    filter:
      brightness(2)
      var(--icon-filter);
  }
}

.weather-more-daily-weekday-temp {
  display: flex;
  gap: var(--space-sm);
  font-size: var(--text-xs);
  color: var(--color-white-80);
}
