.task-form-label-input-container {
  display: flex;
  align-items: center;
  margin-top: var(--space-md);
  margin-right: var(--space-sm);
}

.task-form-color-picker-container {
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin-left: var(--space-md);
  margin-right: var(--space-md);
  border-radius: 50%;

  &:focus-within {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.task-form-color-picker {
  opacity: 0;
  cursor: pointer;
}

.task-form-label-title-input {
  flex-grow: 1;
  min-width: 0;
  margin-right: var(--space-md);
}

.task-form-labels {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  margin: var(--space-md) var(--space-sm) 0 var(--space-sm);
}

.task-form-label {
  display: flex;
  align-items: center;
}

.task-form-label-btn {
  position: relative;
  padding: var(--space-sm) var(--space-md);
  border-radius: 999px;
  font-weight: normal;

  &.flagged {
    & .task-form-label-btn-tick {
      display: block;
      animation-name: scale-tick-up;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }

    & .task-label-color,
    & .task-label-title {
      opacity: 0.4;
    }
  }
}

.task-form-label-btn-tick {
  position: absolute;
  display: none;
  width: 7px;
  height: 14px;
  border-color: var(--color-positive);
}

.task-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding-top: var(--space-md);
}

.task-form-group-select-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: var(--space-sm);
  margin-left: auto;
}

.task-form-group-select-input-name {
  font-weight: bold;
  margin-right: var(--space-md);
}

.task-form-textarea-container {
  overflow: hidden;
  width: calc(100% - var(--space-md));
  margin: var(--space-md) var(--space-sm);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.task-form-textarea {
  flex-shrink: 0;
  display: block;
  width: 100%;
  height: 76px;
  padding: var(--space-md);
  border-radius: 8px;

  &:focus-visible {
    box-shadow: inset 0 0 0 2px var(--color-primary);
  }
}

.subtask-add-btn {
  flex-shrink: 0;
  margin-left: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.task-form-subtasks {
  overflow-y: auto;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
  padding: var(--space-sm) var(--space-sm) 0 var(--space-sm);
}

.task-form-subtask {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-sm);

  & .input {
    flex-grow: 1;
    margin-right: var(--space-sm);
  }
}
