.task-form-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: var(--space-md);
  padding-left: var(--space-lg);
  padding-right: var(--space-md);
  font-weight: bold;
}

.task-form-labels {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  width: 100%;
  padding: var(--space-sm) var(--space-md) 0 var(--space-md);
}

.task-form-label {
  display: flex;
  align-items: center;
}

.task-form-label-btn-tick {
  position: absolute;
  animation-name: scale-up;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.task-form-label-btn {
  position: relative;
  height: auto;
  padding: var(--space-sm) var(--space-md);
  border-radius: 999px;
  font-weight: normal;

  &.flagged {
    & .task-label-color,
    & .task-label-title {
      opacity: 0.4;
    }
  }

  & .task-form-label-btn-tick {
    margin-right: 0;
  }
}

.task-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.task-form-body {
  overflow-y: auto;
  flex-grow: 1;
  flex-basis: 0;
}

.task-form-textarea-container {
  overflow: hidden;
  width: calc(100% - var(--space-xl));
  margin: var(--space-md) var(--space-md) 0 var(--space-md);
  border-radius: 8px;

  &:focus-within {
    box-shadow: 0 0 0 2px var(--color-primary);
  }
}

.task-form-textarea {
  flex-shrink: 0;
  display: block;
  width: 100%;
  height: 76px;
  padding: var(--space-sm) var(--space-md);
  border-radius: 8px;

  &:focus-visible {
    box-shadow: none;
  }
}

.task-form-subtasks {
  width: 100%;
  padding: var(--space-sm) var(--space-md) 0 var(--space-md);
  margin-top: var(--space-sm);
}

.task-form-subtask {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-sm);
}

.task-form-subtask-input {
  flex-grow: 1;
  margin-right: var(--space-md);
}

.task-form-item-title {
  padding-left: var(--space-md);
  box-shadow: -2px 0 0 0 var(--color-primary);
  font-weight: bold;
  font-size: var(--text-sm);
}
