<div class="calendar-header">
    <button class="icon-left-big font-btn" (click)="showCalendar()" title="Back to calendar"></button>
    <span class="calendar-title">{{ day.date }}, {{ day.year }}</span>
</div>
<ul class="selected-day-remainders" *ngIf="day.reminders.length">
    <li class="selected-day-remainder" *ngFor="let reminder of day.reminders; let i = index;">
        <span class="icon-retweet is-repeating" title="Repeating" *ngIf="reminder.repeat"></span>
        <span>{{ reminder.text }}</span>
        <button class="icon-cancel font-btn" (click)="removeReminder(i)" title="Remove"></button>
    </li>
</ul>
<button class="icon-plus btn add-reminder-btn" (click)="toggleReminderInput()">Add reminder</button>
<div class="calendar-new-reminder-section" *ngIf="reminderInputEnabled">
    <input type="text" class="input selected-day-input" name="reminder" autocomplete="off"
        placeholder="Remind me to..."
        (keyup.enter)="createReminder(reminder)" #reminder>
    <div class="calendar-reminer-settings">
        <div class="calendar-reminder-setting">
            <div *ngIf="repeatEnabled">
                <span>Repeat every</span>
                <input class="input calendar-repeat-gap" autocomplete="off" (input)="validateInput($event)">
                <span>days</span>
                <div class="repeat-setting-msg" *ngIf="!isValidInput">Please insert a whole number</div>
            </div>
            <div class="reminder-setting-desc">
                <input type="checkbox" id="calendar-repeat-checkbox" class="checkbox"
                (click)="toggleRepeat()">
                <label for="calendar-repeat-checkbox"></label>
                <span class="reminder-setting-title">Repeat</span>
            </div>
        </div>
    </div>
    <button class="btn" (click)="createReminder(reminder)">Create</button>
    <button class="btn" (click)="toggleReminderInput()">Cancel</button>
</div>
