<div class="calendar-header">
    <button class="btn-icon calendar-header-btn" (click)="showCalendar()" title="Back to calendar">
        <svg viewBox="0 0 24 24">
            <use href="#chevron-left"></use>
        </svg>
    </button>
    <span class="calendar-title">{{ dateString }}</span>
</div>
<div class="selected-day" *ngIf="!formVisible; else elseBlock">
    <ul class="selected-day-remainders" *ngIf="day.reminders.length">
        <li class="selected-day-remainder" *ngFor="let reminder of day.reminders; let i = index;">
            <svg viewBox="0 0 24 24" class="reminder-repeat-icon" *ngIf="reminder.repeat">
                <title>Repeating</title>
                <path d="M17,17H7V14L3,18L7,22V19H19V13H17M7,7H17V10L21,6L17,2V5H5V11H7V7Z" />
            </svg>
            <span>{{ reminder.text }}</span>
            <button class="btn-icon" (click)="removeReminder(i)" title="Remove">
                <svg viewBox="0 0 24 24">
                    <use href="#cross"></use>
                </svg>
            </button>
        </li>
    </ul>
    <button class="btn-icon new-reminder-btn" (click)="showReminderForm()">
        <svg viewBox="0 0 24 24">
            <use href="#plus"></use>
        </svg>
        <span>New reminder</span>
    </button>
</div>
<ng-template #elseBlock>
    <div class="selected-day">
        <input type="text" class="input reminder-input" #reminder
            name="reminder"
            autocomplete="off"
            placeholder="Remind me to..."
            (keyup.enter)="createReminder(reminder)">
        <div class="reminder-settings">
            <div class="reminder-setting">
                <label>
                    <input type="checkbox" class="checkbox-input"
                        (click)="toggleRange()"
                        [checked]="!isRangeVisible">
                    <div class="checkbox"></div>
                </label>
                <span class="reminder-setting-title">All day</span>
            </div>
            <div class="reminder-setting">
                <label>
                    <input type="checkbox" class="checkbox-input" (click)="toggleRepeat()">
                    <div class="checkbox"></div>
                </label>
                <span class="reminder-setting-title">Repeat</span>
            </div>
        </div>
        <div class="reminder-range-setting" *ngIf="isRangeVisible">
            <div class="reminder-setting">
                <div>
                    <span>From</span>
                    <div class="range-input-container">
                        <input type="text" class="input range-input from"
                            (keyup)="validateRangeInput($event, 'from')"
                            [pattern]="timePattern"
                            [(ngModel)]="range.from.string" required>
                        <ul class="reminder-timetable">
                            <li class="reminder-timetable-item" *ngFor="let item of timeTable" (mousedown)="updateTimeRange(item, 'from')">{{ item.string }}</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <span>To</span>
                    <div class="range-input-container">
                        <input type="text" class="input range-input to"
                            (keyup)="validateRangeInput($event, 'to')"
                            [pattern]="timePattern"
                            [(ngModel)]="range.to.string">
                        <ul class="reminder-timetable">
                            <li class="reminder-timetable-item" *ngFor="let item of timeTable" (mousedown)="updateTimeRange(item, 'to')">{{ item.string }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="reminder-error-message" *ngIf="rangeMessage">{{ rangeMessage }}</div>
        </div>
        <div class="reminder-repeat-setting" *ngIf="repeatEnabled">
            <div class="reminder-setting">
                <span>Repeat every</span>
                <input class="input repeat-gap-input" autocomplete="off" (keyup)="validateGapInput($event)" pattern="^[0-9]+$">
                <span>days</span>
            </div>
            <div class="reminder-error-message" *ngIf="!isGapInputValid">Please insert a whole number</div>
        </div>
        <button class="btn" (click)="createReminder(reminder)">Add</button>
        <button class="btn" (click)="hideReminderForm()">Cancel</button>
    </div>
</ng-template>
