.clock {
  --scale: 1;
  --font-family: "Inter";
  --date-above: 0;

  grid-area: clock;
  align-self: var(--clock-alignment);
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr min-content;
  grid-row-gap: var(--space-lg);
  align-items: baseline;
  text-shadow:
    0 1px 1px var(--color-black-8),
    1px 2px 2px var(--color-black-4),
    2px 4px 4px var(--color-black-2);
  font-family: var(--font-family), "Open Sans", sans-serif;
  user-select: none;

  &.date-top {
    --date-above: 1;
  }

  @media (height <= 720px) {
    .clock-time {
      --size: 5.6rem;
    }

    .clock-time-period {
      --size: var(--text-xxl);
    }

    .clock-date {
      --size: var(--text-lg);
    }
  }
}

.clock-time-container {
  position: relative;
  grid-row: calc(1 + var(--date-above));
  grid-column: 1 / 3;
  justify-self: center;
}

.clock-time {
  --size: 6.5rem;

  font-size: calc(var(--size) * var(--scale));
  font-variant-numeric: tabular-nums;
  line-height: 0.8;
}

.clock-time-hours {
  margin-bottom: calc(var(--scale) * var(--space-md));
}

.clock-time-period {
  --size: var(--text-xxxl);

  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  font-size: calc(var(--size) * var(--scale));
  line-height: 1;
}

.clock-date {
  --date-scale: 1;
  --size: var(--text-xl);

  grid-row: calc(2 - var(--date-above));
  grid-column: 1 / 3;
  font-size: calc(var(--size) * var(--scale) * var(--date-scale));
  letter-spacing: 1px;
  line-height: 1;
  text-align: var(--date-alignment);
}
