.clock {
  --scale: 1;

  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 1px 1px var(--color-black-8),
                1px 2px 2px var(--color-black-4),
                2px 4px 4px var(--color-black-2);
  user-select: none;

  @media (max-height: 720px) {
    & .clock-time {
      --size: 6rem;
    }

    & .clock-time-period {
      --size:  var(--text-xxl);
    }

    & .clock-date {
      --size:  var(--text-sm);

      margin-top: var(--space-sm);
    }
  }
}

.clock-time-container {
  position: relative;
  display: flex;
  line-height: 0.8;
}

.clock-time {
  --size: 7.2rem;

  font-size: calc(var(--size) * var(--scale));
}

.clock-time-period {
  --size: var(--text-xxxl);

  position: absolute;
  right: -4px;
  bottom: 0;
  transform: translateX(100%);
  font-size: calc(var(--size) * var(--scale));
}

.clock-date {
  --size: var(--text-md);

  margin-top: var(--space-md);
  font-weight: bold;
  font-size: calc(var(--size) * var(--scale));
  letter-spacing: 1px;
  text-align: right;
}
