.timer-presets {
  --size-multiplier: 0.8;

  display: flex;
  flex-direction: column;
  width: 360px;
  height: 400px;
  max-width: 100%;
  max-height: 100%;

  .container-header {
    flex-direction: column;
  }
}

.timer-presets-form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-md) var(--space-md) 0 var(--space-md);
}

.timer-presets-form-name-input {
  width: 100%;
  margin-bottom: var(--space-md);
}

.timer-presets-form-footer {
  display: flex;
  justify-content: center;
  gap: var(--space-md);
  padding-top: var(--space-md);
  padding-bottom: var(--space-sm);
}

.timer-presets-form-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--space-sm);
  font-size: var(--text-sm);
  font-weight: bold;
  color: var(--color-negative);
}

.timer-preset-list {
  overflow-y: auto;
  flex: 1;
  height: 160px;
}

.timer-preset {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--space-md);
  border-bottom: 1px solid var(--color-white-10);

  &.updating {
    border-left: 4px solid var(--color-primary);
  }

  &.dragging {
    z-index: 1000;
    border-bottom: none;
    background-color: var(--color-white-10);
  }
}

.timer-preset-name {
  font-weight: bold;
}

.timer-preset-time {
  font-weight: bold;
  font-size: var(--text-sm);
  color: var(--color-white-60);
}

.timer-preset-dropdown {
  margin-left: auto;
}

.timer-presets-message {
  flex: 1;
  font-size: var(--text-lg);
}
