.notifications {
  z-index: 1000;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  &.top-left {
    top: var(--space-lg);
    left: var(--space-lg);

    .notification {
      animation-name: show-notification-left;

      &.hiding {
        animation-name: opacity-down, hide-notification-left;
      }
    }
  }

  &.top-right {
    top: var(--space-lg);
    right: var(--space-lg);

    .notification {
      animation-name: show-notification-right;

      &.hiding {
        animation-name: opacity-down, hide-notification-right;
      }
    }
  }

  &.top-center {
    top: var(--space-lg);
    right: 50%;
    transform: translateX(50%);

    .notification {
      animation-name: show-notification-top-center;

      &.hiding {
        animation-name: opacity-down, hide-notification-top-center;
      }
    }
  }

  &.bottom-left {
    left: var(--space-lg);
    bottom: var(--space-lg);

    .notification {
      animation-name: show-notification-left;

      &.hiding {
        animation-name: opacity-down, hide-notification-left;
      }
    }
  }

  &.bottom-right {
    right: var(--space-lg);
    bottom: var(--space-lg);

    .notification {
      animation-name: show-notification-right;

      &.hiding {
        animation-name: opacity-down, hide-notification-right;
      }
    }
  }


  &.bottom-center {
    right: 50%;
    bottom: var(--space-lg);
    transform: translateX(50%);

    .notification {
      animation-name: show-notification-bottom-center;

      &.hiding {
        animation-name: opacity-down, hide-notification-bottom-center;
      }
    }
  }
}

.notification {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 360px;
  animation-duration: var(--duration-n);
  animation-fill-mode: both;
  animation-delay: 0.2s;

  &.hiding {
    animation-delay: 0s;
    animation-duration: var(--duration-f), var(--duration-n);
  }

  &:not(:has(.notification-top + .notification-content)) {
    .notification-content {
      margin-top: var(--space-md);
    }
  }
}

.notification-top {
  display: flex;
  justify-content: flex-start;
  gap: var(--space-md);
  padding: var(--space-md);
}

.notification-title {
  font-size: var(--text-sm);
  font-weight: bold;
}

.notification-body {
  padding: var(--space-md);
}

.notification-text {
  padding-inline: var(--space-md);
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.notification-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--space-lg);

  &:has(:nth-last-child(n + 2)) {
    justify-content: space-between;
  }
}

.notification-duration-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.notification-duration-bar-fill {
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  transform-origin: left;
  transition: transform var(--duration-n);
}

@keyframes show-notification-right {
  from {
    transform: translateX(50%);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes hide-notification-right {
  to {
    transform: translate(50%);
  }
}

@keyframes show-notification-top-left {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes hide-notification-top-left {
  to {
    transform: translate(-50%);
  }
}

@keyframes show-notification-top-center {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes hide-notification-top-center {
  to {
    transform: translateY(-50%);
  }
}

@keyframes show-notification-bottom-center {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes hide-notification-bottom-center {
  to {
    transform: translateY(50%);
  }
}
