.greeting-editor {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 800px;
  max-width: 100%;
  max-height: 100%;
}

.greeting-editor-header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--space-sm);
  border-bottom: 1px solid var(--color-white-10);
}

.greeting-editor-dropdown {
  right: auto;
  left: 0;
  padding: var(--space-xl);
}

.greeting-editor-info-items {
  padding-left: var(--space-xl);
  list-style: disc;
}

.greeting-editor-space-usage {
  margin-left: var(--space-md);
  color: var(--color-white-60);
  font-weight: bold;
}

.greeting-editor-header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.greeting-editor-settings-btn {
  margin-left: auto;
  margin-right: var(--space-sm);
}

.greeting-settings {
  display: flex;
  padding: var(--space-md);
  border-bottom: 1px solid var(--color-white-10);
}

.greeting-setting {
  display: flex;
  flex: 1;
}

.greeting-editor-message-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm) var(--space-sm) var(--space-sm) var(--space-lg);
  border-bottom: 1px solid var(--color-white-10);
}

.greeting-editor-message {
  color: var(--color-negative);
  font-weight: bold;
}

.greeting-editor-textarea {
  flex-grow: 1;

  &:focus {
    outline: none;
    box-shadow: inset 0 -1px 0 0 var(--color-primary);
  }
}
