.greeting-editor {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 800px;
  max-width: 100%;
  max-height: 100%;
  border-bottom-left-radius: var(--container-inset-radius);
  border-bottom-right-radius: var(--container-inset-radius);
}

.greeting-editor-dropdown {
  right: auto;
  left: 0;
  padding: var(--space-xl);
}

.greeting-editor-info-items {
  padding-left: var(--space-xl);
  list-style: disc;
}

.greeting-editor-space-usage {
  margin-left: var(--space-md);
  margin-right: auto;
  color: var(--color-white-60);
  font-weight: bold;
}

.greeting-editor-textarea {
  flex-grow: 1;

  &:focus {
    outline: none;
    box-shadow: inset 0 -1px 0 0 var(--color-primary);
  }
}
