.tasks-groups-form {
  display: flex;
  padding: var(--space-md);
  border-bottom: 1px solid var(--color-white-10);
}

.group-create-input-container {
  width: 100%;
}

.tasks-groups-items {
  overflow-y: auto;
  height: 100%;
}

.tasks-group-input {
  width: 100%;
}

.tasks-groups-message {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-lg);
}
