/* @import "styles/mixins.css"; */

.middle-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  gap: var(--space-xl);
  justify-items: center;
  height: 44%;

  &.clock-disabled .greeting {
    grid-row: 2;
  }

  &.full-height {
    height: 100%;

    &:not(.clock-disabled) .greeting {
      align-self: flex-end;
      padding-bottom: 42px;
    }
  }
}
