<div class="container-fullscreen tweet-image-viewer" (click)="handleClick($event)">
    <img src="./assets/images/ring.svg" *ngIf="loading" alt="">
    <div class="viewer-image-container" [class.hidden]="loading">
        <button class="btn-secondary viewer-direction-btn left"
            *ngIf="images.length > 1"
            (click)="nextImage(-1)"
            aria-label="Previous image">
            <svg class="viewer-direction-icon" viewBox="0 0 24 24">
                <use href="#chevron-left"></use>
            </svg>
        </button>
        <img [src]="images[index].url" class="viewer-image" (load)="handleLoad($event)" alt="">
        <div class="container viewer-bottom-bar">
            <span *ngIf="images.length > 1">{{ index + 1 }}/{{ images.length }}</span>
            <a [href]="images[index].url" class="btn-secondary btn-secondary-alt viewer-open-btn"
                title="Open image in new tab" target="_blank">
                <svg viewBox="0 0 24 24">
                     <use href="#open-in-new"></use>
                </svg>
            </a>
        </div>
        <button class="btn-secondary viewer-direction-btn right"
            *ngIf="images.length > 1"
            (click)="nextImage(1)"
            aria-label="Next image">
            <svg class="viewer-direction-icon" viewBox="0 0 24 24">
                <use href="#chevron-right"></use>
            </svg>
        </button>
    </div>
    <button class="btn-secondary btn-secondary-alt viewer-close-btn"
        (click)="closeViewer()" title="Close">
        <svg viewBox="0 0 24 24">
            <use href="#cross"></use>
        </svg>
    </button>
</div>
