<div class="main-block-content rss-feed" [class.visible]="isVisible">
    <ul class="main-block-content-header feed-header" *ngIf="feeds.length">
        <li class="feed-header-item" *ngFor="let feed of feeds; let i = index" [class.active]="activeFeed && feed.url === activeFeed.url">
            <button class="btn-icon feed-select-btn" title="Select feed" (click)="showFeed(feed)">
                <span class="feed-new-entry-count" *ngIf="feed.newEntryCount">{{ feed.newEntryCount }}</span>
                <span>{{ feed.title || "RSS Feed " + i }}</span>
            </button>
            <div class="feed-title-btns">
                <button class="btn-icon" title="Mark new entries as read" *ngIf="feed.newEntryCount" (click)="markEntriesAsRead(feed)">
                    <svg viewBox="0 0 24 24">
                        <path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
                    </svg>
                </button>
                <button class="btn-icon" (click)="removeFeed(i)" title="Remove feed">
                    <svg viewBox="0 0 24 24">
                        <use href="#cross"></use>
                    </svg>
                </button>
            </div>
        </li>
        <li class="feed-header-btns">
            <button class="btn-icon" title="Add new feed" (click)="addNewFeed()">
                <svg viewBox="0 0 24 24">
                    <use href="#plus"></use>
                </svg>
            </button>
            <button class="btn-icon" title="Toggle size" (click)="toggleContainerSize()">
                <svg viewBox="0 0 24 24">
                    <use attr.href="#vertical-{{isExpanded ? 'shrink' : 'expand'}}"></use>
                </svg>
            </button>
        </li>
    </ul>
    <ul class="feeds" *ngIf="activeFeed; else elseBlock">
        <li class="feed" *ngFor="let entry of activeFeed.entries">
            <a [href]="entry.link" class="feed-link" (click)="markEntryAsRead(entry)" target="_blank">{{ entry.title }}</a>
            <p class="feed-desc" [innerHTML]="entry.desc"></p>
            <span class="feed-date" *ngIf="entry.date">{{ entry.date }}</span>
            <span class="is-new-entry" *ngIf="entry.newEntry">New</span>
        </li>
    </ul>
    <ng-template #elseBlock>
        <div class="feed-hero">
            <svg viewBox="0 0 24 24" class="feed-hero-icon">
                <use href="#rss"></use>
            </svg>
            <div class="feed-hero-content">
                <ul class="feed-initiation-status" *ngIf="feedsToLoad.length; else elseIf1">
                    <li class="feed-initiation-item" *ngFor="let feed of feedsToLoad">
                        <span class="feed-initiation-item-title">{{ feed.title }}</span>
                        <div class="feed-initiation-item-status">
                            <img src="./assets/images/ring.svg" *ngIf="feed.isLoading" alt="">
                            <svg viewBox="0 0 24 24" class="feed-initiation-success" *ngIf="feed.success">
                                <use href="#circle-tick"></use>
                            </svg>
                            <svg viewBox="0 0 24 24" class="feed-initiation-error" *ngIf="feed.error">
                                <use href="#circle-cross"></use>
                            </svg>
                        </div>
                    </li>
                </ul>
                <ng-template #elseIf1>
                    <img src="./assets/images/ring.svg" *ngIf="loading; else elseIf2" alt="">
                </ng-template>
                <ng-template #elseIf2>
                    <form (submit)="handleFormSubmit($event)">
                        <label class="feed-input-group">
                            <div>Title (optional)</div>
                            <input type="text" class="input feed-input" name="title" autocomplete="off">
                        </label>
                        <label class="feed-input-group">
                            <div>URL</div>
                            <input type="text" class="input feed-input" name="url" required>
                        </label>
                        <div class="feed-add-btn-container">
                            <div class="feed-message" *ngIf="message">{{ message }}</div>
                            <button class="btn" [disabled]="fetching">Add</button>
                        </div>
                    </form>
                </ng-template>
            </div>
        </div>
    </ng-template>
</div>
