<div class="main-block-content" [class.visible]="isVisible">
    <ul class="feed-header" *ngIf="feeds.length">
        <li class="feed-header-item" *ngFor="let feed of feeds; let i = index" [class.active]="activeFeed && feed.url === activeFeed.url">
            <button class="btn-icon feed-select-btn" title="Select feed" (click)="showFeed(feed)">
                <span class="feed-new-entry-count" *ngIf="feed.newEntries">{{ feed.newEntries }}</span>
                <span>{{ feed.title }}</span>
            </button>
            <div class="feed-title-btns">
                <button class="btn-icon" title="Mark new entries as read" *ngIf="feed.newEntries" (click)="markEntriesAsRead(feed)">
                    <svg viewBox="0 0 24 24">
                        <path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
                    </svg>
                </button>
                <button class="btn-icon" (click)="removeFeed(i)" title="Remove feed">
                    <svg viewBox="0 0 24 24">
                        <use href="#cross"></use>
                    </svg>
                </button>
            </div>
        </li>
        <li>
            <button class="btn-icon add-new-feed-btn" title="Add new feed" (click)="addNewFeed()">
                <svg viewBox="0 0 24 24">
                    <use href="#plus"></use>
                </svg>
            </button>
        </li>
    </ul>
    <ul class="feed" *ngIf="activeFeed; else elseBlock">
        <li class="feed-entry" *ngFor="let entry of activeFeed.entries">
            <a [href]="entry.link" class="feed-entry-link" (click)="markEntryAsRead(entry)" target="_blank">{{ entry.title }}</a>
            <p class="feed-entry-desc" [innerHTML]="entry.desc"></p>
            <span class="feed-entry-date" *ngIf="entry.date">{{ entry.date }}</span>
            <span class="is-new-entry" *ngIf="entry.newEntry">New</span>
        </li>
    </ul>
    <ng-template #elseBlock>
        <div class="feed-hero" [class.has-no-feeds]="!feeds.length">
            <svg viewBox="0 0 24 24" class="feed-hero-icon">
                <use href="#rss"></use>
            </svg>
            <h2 class="feed-hero-title">RSS Feed</h2>
            <form (submit)="handleFormSubmit($event)" *ngIf="!loading">
                <label class="feed-input-group">
                    <div>Title (optional)</div>
                    <input type="text" class="input feed-input" name="title" autocomplete="off">
                </label>
                <label class="feed-input-group">
                    <div>URL</div>
                    <input type="text" class="input feed-input" name="url" required>
                </label>
                <div class="feed-add-btn-container">
                    <img src="./assets/images/ring.svg" *ngIf="fetching" alt="">
                    <span>{{ message }}</span>
                    <button class="btn" [disabled]="fetching">Add</button>
                </div>
            </form>
        </div>
    </ng-template>
</div>
