<div class="container main-block-content" [class.visible]="isVisible">
    <div class="twitter-content" *ngIf="tweets.length; else elseBlock"
        [style.--profile-color]="user.profileColor">
        <div class="main-block-content-header">
            <a href="{{ user.homepage }}" class="twitter-user" target="_blank">
                <img src="{{ user.profileImage }}" class="twitter-user-image" alt="">
                <span class="twitter-user-name">{{ user.name }}</span>
                <span class="twitter-user-handle">{{ user.handle }}</span>
            </a>
            <div class="main-block-content-header-separator"></div>
            <button class="btn btn-icon main-block-content-header-btn"
                title="Log out" (click)="logout()">
                <svg viewBox="0 0 24 24">
                    <use href="#logout"></use>
                </svg>
            </button>
        </div>
        <ul class="tweets">
            <li *ngIf="tweetsToLoad.length">
                <button class="btn btn-text new-tweet-btn" (click)="loadNewTweets()">View {{ tweetsToLoad.length }} new tweet{{ tweetsToLoad.length > 1 ? "s": "" }}</button>
            </li>
            <li class="tweet" *ngFor="let tweet of tweets" (click)="handleClickOnTweet($event, tweet.tweetUrl)">
                <div class="retweet" *ngIf="tweet.retweetedBy">
                    <svg class="retweet-icon" viewBox="0 0 24 24">
                        <use href="#retweet"></use>
                    </svg>
                    <a href="{{ tweet.retweetedBy.userUrl }}" class="retweet-by" target="_blank">{{ tweet.retweetedBy.name }}</a>
                    <span>Retweeted</span>
                </div>
                <div>
                    <a href="{{ tweet.userUrl }}" class="tweet-header-profile" target="_blank">
                        <img src="{{ tweet.profileImg }}" class="twitter-profile-image" alt="">
                        <span class="tweeted-by-name">{{ tweet.name }}</span>
                        <span class="tweeted-by-handle">{{ tweet.handle }}</span>
                    </a>
                    <a href="{{ tweet.tweetUrl }}" class="tweeted-on" target="_blank">{{ tweet.created.at }}</a>
                </div>
                <p class="tweet-text" *ngIf="tweet.text" [innerHTML]="tweet.text"></p>
                <div class="tweet-media-container" *ngIf="tweet.media.length">
                    <div class="tweet-image-container"
                        *ngIf="tweet.media[0].type === 'photo'; else elseBlock"
                        [class.two]="tweet.media.length === 2"
                        [class.three]="tweet.media.length === 3"
                        [class.four]="tweet.media.length === 4">
                        <div class="tweet-media-item"
                            *ngFor="let media of tweet.media; let i = index"
                            (click)="handleImageClick($event, tweet.media, i)">
                            <img src="{{ media.url }}" class="tweet-image" alt=""
                                [class.width]="media.smallestDimension === 'width'"
                                [class.height]="media.smallestDimension === 'height'">
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <div class="tweet-video-container" (click)="handleVideoClick($event, tweet.media[0])">
                            <video src="{{ tweet.media[0].url }}" class="tweet-video"
                                [poster]="tweet.media[0].thumbUrl"
                                [controls]="tweet.media[0].type === 'video' && tweet.media[0].active"
                                [loop]="tweet.media[0].type === 'gif' || tweet.media[0].durationInSeconds < 8"
                                preload="none">
                            </video>
                            <svg viewBox="0 0 24 24" class="tweet-video-play-icon" *ngIf="!tweet.media[0].active">
                                <use href="#play-circle"></use>
                            </svg>
                            <div class="tweet-media-info" *ngIf="tweet.media[0].type === 'gif'; else elseBlock">GIF</div>
                            <ng-template #elseBlock>
                                <div class="tweet-media-info" *ngIf="tweet.media[0].duration && !tweet.media[0].active">{{ tweet.media[0].duration }}</div>
                            </ng-template>
                        </div>
                    </ng-template>
                </div>
                <div class="tweet-stats-container">
                    <svg viewBox="0 0 24 24">
                        <use href="#retweet"></use>
                    </svg>
                    <span>{{ tweet.retweetCount }}</span>
                    <svg viewBox="0 0 24 24">
                        <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" />
                    </svg>
                    <span>{{ tweet.likeCount }}</span>
                </div>
            </li>
            <li>
                <button class="btn btn-text more-tweets-btn" (click)="fetchMoreTweets()"
                    [disabled]="fetchingMoreTweets">Show More</button>
            </li>
        </ul>
    </div>
    <ng-template #elseBlock>
        <div class="twitter-hero">
            <svg viewBox="0 0 24 24" class="twitter-hero-icon">
                <use href="#twitter"></use>
            </svg>
            <div class="twitter-hero-content">
                <img src="./assets/images/ring.svg" class="twitter-hero-spinner" *ngIf="initializing; else elsePinBlock" alt="">
                <ng-template #elsePinBlock>
                    <div class="twitter-pin-input-container">
                        <input type="text" class="input twitter-pin-input" placeholder="Enter PIN" [class.visible]="showPinInput" #pin (keyup.enter)="login(pin)">
                        <button class="btn" (click)="login(pin)" *ngIf="!isLoggedIn">Log in</button>
                    </div>
                    <p *ngIf="message">{{ message }}</p>
                </ng-template>
            </div>
        </div>
    </ng-template>
</div>
