.about-tab-header {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  padding: var(--space-md);
}

.about-tab-header-img {
  width: 40px;
  height: 40px;
}

.about-tab-header-text {
  font-size: var(--text-xl);
}

.about-tab-subtitle {
  font-size: var(--text-lg);
}

.about-tab-bottom {
  padding: var(--space-md) var(--space-lg);
  border-top: 1px solid var(--color-white-10);
  text-wrap-style: pretty;
}

.about-tab-link {
  color: var(--color-primary);

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

.about-tab-text {
  padding: var(--space-sm) var(--space-md);
}

.about-tab-tip {
  margin-top: auto;
  padding-bottom: var(--space-md);
}

.about-tab-tip-links {
  padding-inline: var(--space-md);
}
