<div class="main-block-content top-sites-container" [class.visible]="isVisible">
    <form class="container top-site-form"
        *ngIf="isFormVisible; else elseBlock" (submit)="addSite($event)">
        <h3 class="main-block-modal-title">{{ editedSite ? "Edit" : "Add" }} site</h3>
        <div class="top-site-form-content">
            <div class="top-site-thumbnail-container top-site-form-thumbnail">
                <ng-container *ngIf="formThumbnail; else elseBlock">
                    <img class="top-site-thumbnail" [src]="formThumbnail.url" [class.favicon]="formThumbnail.isFavicon" alt="">
                    <button type="button" class="btn top-site-form-remove-btn"
                        (click)="removeFormThumbnail()" title="Remove icon">Remove</button>
                </ng-container>
                <ng-template #elseBlock>
                    <label class="btn btn-text top-site-file-input" tabindex="0">
                        <div>Add icon</div>
                        <input type="file" class="file-input" accept="image/*"
                            (change)="handleFileInputChange($event)">
                    </label>
                </ng-template>
            </div>
            <div>
                <label class="top-site-form-label">
                    <div class="top-site-form-input-title">Title</div>
                    <input type="text" class="input top-site-form-input"
                        [value]="editedSite?.title"
                        name="title" autocomplete="off">
                </label>
                <label class="top-site-form-label">
                    <div class="top-site-form-input-title">URL</div>
                    <input type="text" class="input top-site-form-input"
                        [value]="editedSite?.url"
                        name="url" autocomplete="off" required>
                </label>
            </div>
        </div>
        <div class="top-site-form-buttons">
            <button type="button" class="btn" *ngIf="editedSite" (click)="removeSite(i)">Remove</button>
            <button type="button" class="btn top-site-form-cancel-btn" (click)="hideForm()">Cancel</button>
            <button class="btn">{{ editedSite ? "Edit" : "Add" }}</button>
        </div>
    </form>
    <ng-template #elseBlock>
        <ul class="top-sites">
            <li class="top-site" *ngFor="let site of visibleSites; let i = index">
                <a [href]="site.url" class="top-site-link" [attr.aria-label]="site.title">
                    <div class="top-site-container top-site-title">{{ site.title }}</div>
                    <div class="top-site-container top-site-thumbnail-container">
                        <img alt="" class="top-site-thumbnail"
                            [class.favicon]="site.image.isFavicon"
                            [src]="site.image.url">
                    </div>
                </a>
                <button class="btn btn-icon top-site-edit-btn delay-reveal" (click)="editSite(i)" title="Edit site">
                    <svg viewBox="0 0 24 24">
                        <use href="#vertical-dots"></use>
                    </svg>
                </button>
            </li>
            <li class="top-site" *ngIf="addSiteButtonVisible">
                <button class="top-site-link top-site-add-btn" (click)="showForm()">
                    <div class="top-site-container top-site-title">Add site</div>
                    <div class="top-site-container top-site-thumbnail-container">
                        <svg viewBox="0 0 24 24" class="top-site-add-btn-icon">
                            <use href="#plus"></use>
                        </svg>
                    </div>
                </button>
            </li>
        </ul>
    </ng-template>
</div>

