<div class="main-block-content top-sites-container" [class.visible]="isVisible" #root>
    <ul class="top-sites">
        <li class="top-site" *ngFor="let site of visibleSites; let i = index">
            <a [href]="site.url" [title]="site.title">
                <div class="site-title">
                    <span>{{ site.title }}</span>
                    <button class="btn-icon remove-site-btn" (click)="removeSite($event, i)" title="Remove">
                        <svg viewBox="0 0 24 24">
                            <use href="#cross"></use>
                        </svg>
                    </button>
                </div>
                <div class="site-thumbnail-container">
                    <img class="site-thumbnail" alt="" [src]="site.image" [class.full]="site.uploaded">
                </div>
            </a>
        </li>
        <li class="top-site" *ngIf="addButtonVisible" (click)="showPanel()">
            <button class="btn-icon add-site-btn" title="Add new site">
                <svg viewBox="0 0 24 24">
                    <use href="#plus"></use>
                </svg>
            </button>
        </li>
    </ul>
    <div class="main-block-mask" *ngIf="isNewSitePanelVisible">
        <form class="container main-block-mask-content" (submit)="addSite($event)">
            <h2 class="new-site-form-title">Add new site</h2>
            <input type="text" class="input new-site-form-input" placeholder="Title" name="title" autocomplete="off">
            <input type="text" class="input new-site-form-input" placeholder="URL" name="url" autocomplete="off" required>
            <div class="new-site-form-btn-container">
                <label class="btn file-input-btn">
                    <span>Choose thumbnail</span>
                    <input type="file" class="file-input" name="thumb">
                </label>
                <button class="btn">Add</button>
                <button type="button" class="btn" (click)=hidePanel()>Close</button>
            </div>
        </form>
    </div>
    <div class="main-block-mask" *ngIf="isFetching">
        <img src="./assets/images/ring.svg" class="main-block-mask-content" alt="">
    </div>
</div>

