@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.dropdown-container {
    position: relative;

    &.workaround {
        position: static;

        .dropdown {
            left: 100%;
            transform: translate(calc(-50% - 12px), 4px);
        }
    }
}

.dropdown {
    z-index: 1;
    position: absolute;
    top: var(--top, auto);
    left: 50%;
    min-width: 200px;
    padding: 8px;
    transform: translate(-50%, 4px);
    background-color: $color-grey-dark;
}

.dropdown-item {
    width: 100%;
    justify-content: flex-start;
    padding: 4px;

    &:not(:last-of-type) {
        margin-bottom: 4px;
    }
}
