.feed-list-header {
  gap: var(--space-sm);
}

.feed-list-items {
  overflow-y: auto;
  flex-grow: 1;
}

.feed-list-item {
  padding: var(--space-md);
  border-bottom: 1px solid var(--color-white-10);

  &.dragging {
    z-index: 1000;
    display: block;
    border-bottom: none;
    background-color: var(--color-white-10);

    .drag-handle {
      opacity: 1;
      background-color: var(--color-white-10);
    }
  }

  &.fetching {
    position: relative;

    .feed-list-item-content {
      opacity: 0.4;
    }
  }

  &:hover .drag-handle {
    animation: 0s linear 0.5s forwards delayed-reveal;
  }

  &:has(.feed-list-item-title-input) {
    .drag-handle {
      display: none;
    }
  }
}

.feed-list-item-header {
  display: flex;
  align-items: flex-start;
  gap: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.feed-list-item-logo {
  margin-right: var(--space-sm);
  object-fit: scale-down;
}

.feed-list-item-title-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.inactive-feed-icon {
  width: 16px;
  height: 16px;
  margin-left: var(--space-sm);
}

.feed-list-item-title {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  min-height: 24px;
  padding: 0;
  margin-right: auto;
  font-size: var(--text-md);
  font-weight: bold;

  &:not(.inactive) {
    &:hover, &:focus-visible {
      box-shadow: none;
      cursor: pointer;

      & span {
        text-decoration: underline;
      }
    }
  }

  .feed-new-entry-count-container {
    margin-left: var(--space-sm);
  }
}

.feed-list-item-url {
  margin-right: auto;
  font-size: var(--text-sm);
  font-weight: bold;
  color: var(--color-white-60);
  word-break: break-word;

  &:hover {
    text-decoration: underline;
  }
}

.feed-list-item-error {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: var(--space-md);
  font-size: var(--text-sm);
  font-weight: bold;
  color: var(--color-negative);

  .btn {
    margin-left: var(--space-md);
  }
}

.feed-list-item-mask {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
