.feed-list-header {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  padding: var(--space-sm);
  border-bottom: 1px solid var(--color-white-10);

  & .icon-btn {
    margin-left: var(--space-sm);
  }
}

.feed-list-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--text-lg);
}

.feed-list-items {
  overflow-y: auto;
  flex-grow: 1;

  &:focus-visible {
    box-shadow: inset 0 0 0 2px var(--color-primary);
  }
}

.feed-list-item {
  padding: var(--space-md);
  border-bottom: 1px solid var(--color-white-10);

  &:hover .feed-list-item-drag-handle {
    animation: 0s linear 0.4s forwards delayed-reveal;
  }

  &.dragging {
    z-index: 1000;
    display: block;
    border-bottom: none;
    background-color: var(--color-white-10);
  }

  &.fetching {
    position: relative;

    & .feed-list-item-content {
      opacity: 0.4;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-image: url("./assets/ring.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &.inactive {
    & .feed-list-item-title span:hover {
      text-decoration: none;
    }
  }
}

.feed-list-item-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--space-sm);
}

.feed-list-item-logo {
  margin-right:  var(--space-sm);
  object-fit: scale-down;
}

.feed-list-item-title-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: var(--space-sm);
}

.inactive-feed-icon {
  width: 16px;
  height: 16px;
  margin-right: var(--space-sm);
}

.feed-list-item-title {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: auto;
  border-radius: 0;
  text-align: left;
  font-size: var(--text-md);
  font-weight: bold;

  & span:hover {
    text-decoration: underline;
  }

  &:hover {
    background-color: transparent;
  }
}

.feed-list-item-url {
  margin-right: auto;
  font-size: var(--text-sm);
  font-weight: bold;
  color: var(--color-white-60);

  &:hover {
    text-decoration: underline;
  }
}

.feed-list-item-drag-handle {
  opacity: 0;
  margin-right: var(--space-sm);
  cursor: move;

  &:hover, &:focus-visible {
    opacity: 1;
  }
}

.feed-list-item-error {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: var(--space-md);
  font-size: var(--text-sm);
  font-weight: bold;
  color: var(--color-negative);

  & .btn {
    margin-left: var(--space-md);
  }
}
