.feed-list-header {
  position: relative;
  gap: var(--space-sm);
}

.feed-list-items {
  overflow-y: auto;
  flex-grow: 1;
}

.feed-list-item {
  padding: var(--space-md);
  border-bottom: 1px solid var(--color-white-10);

  &.dragging {
    z-index: 1000;
    display: block;
    border-bottom: none;
    background-color: var(--color-white-10);

    .drag-handle {
      opacity: 1;
      background-color: var(--color-white-10);
    }
  }

  &.fetching {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      display: block;
      background-image: url("./assets/ring.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    .feed-list-item-content {
      opacity: 0.4;
    }
  }

  &:hover .drag-handle {
    animation: 0s linear 0.5s forwards delayed-reveal;
  }

  &:has(.feed-list-item-title-input) {
    .drag-handle {
      display: none;
    }
  }

  &.inactive {
    .feed-list-item-title span:hover {
      text-decoration: none;
    }

    .drag-handle {
      display: none;
    }
  }
}

.feed-list-item-header {
  display: flex;
  align-items: flex-start;
  gap: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.feed-list-item-logo {
  margin-right: var(--space-sm);
  object-fit: scale-down;
}

.feed-list-item-title-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.inactive-feed-icon {
  width: 16px;
  height: 16px;
  margin-right: var(--space-sm);
}

.feed-list-item-title {
  --color: var(--color-white);

  display: flex;
  align-items: center;
  height: auto;
  min-height: 24px;
  padding: 0;
  margin-right: auto;
  border: none;
  border-radius: 0;

  & span:hover {
    text-decoration: underline;
  }

  &:hover, &:focus-visible {
    --background-color: transparent;

    box-shadow: none;
  }
}

.feed-list-item-url {
  margin-right: auto;
  font-size: var(--text-sm);
  font-weight: bold;
  color: var(--color-white-60);

  &:hover {
    text-decoration: underline;
  }
}

.feed-list-item-error {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: var(--space-md);
  font-size: var(--text-sm);
  font-weight: bold;
  color: var(--color-negative);

  .btn {
    margin-left: var(--space-md);
  }
}
