.tooltip {
  z-index: 100;
  position: absolute;
  position-area: top;
  position-visibility: anchors-visible;
  position-try-fallbacks: flip-inline flip-block;
  margin-block: var(--space-sm);
  padding: var(--space-sm) var(--space-xl);
  border-radius: 999px;
  box-shadow:
    inset 0 1px 1px 0 var(--color-white-10),
    inset 1px 2px 2px 0 var(--color-white-4),
    inset 2px 4px 4px 0 var(--color-white-2),
    var(--highligh-shadow);
  background-color: hsl(var(--accent-hue) 12% 16% / var(--panel-background-opacity));
  backdrop-filter: blur(var(--panel-background-blur));
  background-image: var(--panel-background-noise);
  animation-duration: var(--duration-n);
  animation-fill-mode: both;
  animation-name: show-tooltip;
}

.tooltip-text {
  font-size: var(--text-sm);
  white-space: nowrap;
}

@keyframes show-tooltip {
  from {
    transform: scale(0.96);
  }

  to {
    transform: scale(1);
  }
}
