.pomodoro-label {
  flex-direction: column;
  gap: var(--space-xs);
}

.pomodoro-stage {
  text-transform: uppercase;
  font-size: min(calc(var(--text-xxs) * var(--size-multiplier)), var(--text-xl));
  color: var(--color-white-60);
  letter-spacing: calc(1px * var(--size-multiplier));
  font-weight: bold;

  &.top-panel-item-content-label {
    font-size: calc(var(--text-lg) * var(--size-multiplier));
    color: var(--color-white);
  }
}
