*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    overflow: hidden;
    margin: 0;
    background-color: $color-grey-light;
    color: $color-white;
    font-family: $font-family;
    font-size: 14px;
    line-height: 1.15;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    outline: none;
    text-decoration: none;
    color: inherit;
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: currentColor;
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

button,
input,
textarea {
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

textarea {
    @include scrollbar;

    resize: none;
    padding: 4px 6px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.container {
    padding: 1px;
    border: 1px solid transparent;
    background-color: $color-grey-darker-60;
    box-shadow: inset 0 0 0 1px $color-white-10;
    backdrop-filter: blur(16px);

    @supports not (backdrop-filter: blur(0)) {
        background-color: $color-grey-dark;
    }
}

.container-solid {
    padding: 1px;
    border: 1px solid transparent;
    background-color: $color-grey-dark;
    box-shadow: inset 0 0 0 1px $color-white-10;
}

.container-fullscreen {
    background-color: $color-grey-darker-60;
    backdrop-filter: blur(16px);

    @supports not (backdrop-filter: blur(0)) {
        background-color: $color-grey-dark;
    }
}

.input {
    padding: 4px 6px;
    border-radius: 2px;
    background-color: $color-white-10;

    &::placeholder {
        color: $color-white-40;
    }

    &.focus-visible {
        outline: none;
        box-shadow: 0 0 0 1px $color-blue;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    border-radius: 2px;
    background-color: $color-white-10;
    font-weight: bold;
    transition: 0.1s color,
                0.1s background-color,
                0.1s opacity;
    cursor: pointer;

    &:hover {
        background-color: $color-white-20;
    }

    &:disabled {
        color: $color-white-20;
        cursor: default;

        &:hover {
            color: $color-white-20;
            background-color: $color-white-10;
        }
    }

    &.focus-visible {
        outline: none;
        box-shadow: 0 0 0 1px $color-blue;
    }
}

.btn-icon {
    padding: 2px;
    background-color: transparent;

    &:hover {
        background-color: $color-white-10;

        &:disabled {
            background-color: transparent;
        }
    }

    span {
        margin-left: 4px;
    }
}

.btn-icon-alt {
    color: $color-white-40;

    &:hover {
        background-color: transparent;
        color: $color-white;
    }
}

.btn-text {
    background-color: transparent;

    &:hover {
        background-color: $color-white-10;
    }
}

.btn-text-alt {
    background-color: transparent;

    &:hover {
        background-color: transparent;
        color: $color-blue-light;
    }
}

.btn-outside {
    padding: 0;
    background-color: transparent;
    filter: drop-shadow(0 1px 1px $color-black-20);

    &:hover {
        background-color: transparent;
    }
}

.sr-only {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-input {
    &:checked + .checkbox .checkbox-tick {
        display: block;
    }

    &.focus-visible + .checkbox {
        outline: none;
        box-shadow: 0 0 0 1px $color-blue;
    }
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background-color: $color-white-10;
}

.checkbox-tick {
    display: none;
    width: 32%;
    height: 64%;
    margin-bottom: 2px;
    border-right: 2px solid $color-blue;
    border-bottom: 2px solid $color-blue;
    transform: rotateZ(45deg) scale(0);
    animation-name: scale-tick-up;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

.checkbox-label-right, .radio-label-right {
  margin-left: 8px;
}

.radio {
    width: 18px;
    height: 18px;
    padding: 5px;
    border-radius: 50%;
    background-color: $color-white-10;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $color-blue;
        transform: scale(0);
        transition: 0.1s transform;
    }
}

.radio-input {
    &:checked + .radio::after {
        transform: scale(1);
    }

    &.focus-visible + .radio {
        outline: none;
        box-shadow: 0 0 0 1px $color-blue;
    }
}

.toggle {
    position: relative;
    display: flex;
    padding: 2px;
    border-radius: 2px;
    background-color: $color-white-10;
    cursor: pointer;
    user-select: none;

    &::before {
        z-index: -1;
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        content: "";
        display: block;
        width: calc(50% - 2px);
        border-radius: 2px;
        background-color: $color-blue;
        transition: 0.1s transform;
    }

    &.checked::before {
        transform: translateX(100%);
    }

    &.focus-visible {
        outline: none;
        box-shadow: 0 0 0 1px $color-blue;
    }

    div {
        padding: 2px 8px;
        text-align: center;
    }
}

.indicator-visible {
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-blue;
    }

    &.pulse::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-blue;
        animation-name: ping-slow;
        animation-duration: 8s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }

    svg {
        -webkit-mask-box-image: url(./assets/images/svg-mask.svg);
    }
}

.cdk-drag-preview {
    display: none !important;
}

@keyframes ping-slow {
    0% {
        opacity: 1;
        transform: scale(0.1);
    }
    20%, 100% {
        opacity: 0;
        transform: scale(3.2);
    }
}

@keyframes scale-tick-up {
    from {
        transform: rotateZ(45deg) scale(0);
    }
    to {
        transform: rotateZ(45deg) scale(1);
    }
}

@keyframes opacity-up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacity-down {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
