*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: $color-grey-light;
    color: $primary-text-color;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.15;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: currentColor;
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

button,
input,
textarea {
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
}

textarea {
    @include scrollbar;

    resize: none;
    padding: 4px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.container {
    padding: 1px;
    border: 1px solid transparent;
    background-color: $color-grey-darker-60;
    background-image: url("./assets/images/img-noise-64x64.png");
    box-shadow: inset 0 0 0 1px $container-inset-box-shadow-color;
    backdrop-filter: blur(16px);

    @supports not (backdrop-filter: blur(0)) {
        background-color: $secondary-container-background-color;
    }
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(90%);
}

%btn-styles {
    transition: 0.2s color,
                0.2s background-color,
                0.2s opacity;
    cursor: pointer;

    &:disabled {
        color: $button-disabled-color;
        cursor: default;

        &:hover {
            color: $button-disabled-color;
        }
    }
}

.btn,
.input,
.checkbox,
.radio,
.toggle {
    border-radius: 2px;
    background-color: $input-background-color;
}

.input {
    padding: 4px 6px;

    &::placeholder {
        color: $input-placeholder-color;
    }
}

.btn {
    @extend %btn-styles;

    padding: 4px 12px;

    &:hover {
        background-color: $button-hover-background-color;
    }

    &:disabled:hover {
        background-color: $button-background-color;
    }
}

.btn-secondary {
    @extend %btn-styles;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;

    &:hover {
        color: $button-hover-color;
    }

    &:disabled:hover {
        background-color: transparent;
    }
}

.btn-secondary-alt {
    border-radius: 2px;

    &:hover {
        color: $primary-text-color;
        background-color: $secondary-button-hover-background-color;
    }
}

.btn-secondary-dim {
    color: $secondary-text-color;

    &:hover {
        color: $primary-text-color;
    }
}

.btn-secondary-large {
    padding: 4px 8px;
}

.btn-outside {
    padding: 0;
    filter: drop-shadow($icon-shadow);
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.checkbox {
    width: 16px;
    height: 16px;

    &::after {
        content: "\2713";
        display: block;
        color: $color-blue;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        transform: scale(0);
        transition: 0.2s transform;
    }

    &.checked::after {
        transform: scale(1);
    }
}

.radio {
    width: 16px;
    height: 16px;
    padding: 5px;
    border-radius: 50%;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $color-blue;
        transform: scale(0);
        transition: 0.2s transform;
    }
}

.radio-input {
    display: none;

    &:checked + .radio::after {
        transform: scale(1);
    }
}

.toggle {
    position: relative;
    display: flex;
    padding: 2px;
    cursor: pointer;
    user-select: none;

    &::before {
        z-index: -1;
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        content: "";
        display: block;
        width: calc(50% - 2px);
        border-radius: 2px;
        background-color: $color-blue;
        transition: 0.2s transform;
    }

    &.checked::before {
        transform: translateX(100%);
    }

    div {
        padding: 2px 8px;
        text-align: center;
    }
}

.indicator-visible {
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-blue;
    }

    svg {
        -webkit-mask-box-image: url(./assets/images/svg-mask.svg);
    }
}

.delay-reveal {
    visibility: hidden;
    animation-name: make-visible;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes scale-up {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes opacity-up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacity-down {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes make-visible {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}
