.calendar-container {
    display: flex;
    height: 305px;
}

.current-day-reminder-container {
    flex-shrink: 0;
    width: 240px;
    height: 100%;
    margin-right: 8px;
}

.current-day-reminders {
    @include scrollbar($color2);

    overflow-y: auto;
    height: 100%;
}

.current-day-reminder {
    padding: 4px;
    border-left: 2px solid;

    &:not(:first-of-type) {
        margin-top: 4px;
    }
}

.current-day-reminder-range {
    margin-top: 4px;
    font-size: 13px;
    color: #aaa;
}

.calendar {
    width: 356px;
    height: 100%;
}

.calendar-header {
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
}

.calendar-header-btn {
    svg {
        width: 32px;
        height: 32px;
    }
}

.calendar-title {
    flex-grow: 1;
    font-size: 16px;
    text-align: center;
}

.calendar-week-days,
.calendar-month-days {
    display: flex;
    justify-content: space-between;
}

.calendar-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 38px;
    margin-top: 1px;
}

.calendar-month-days {
    flex-wrap: wrap;
}

.calendar-month-day {
    position: relative;
    color: $secondary-text-color;

    &.is-current-month-day {
        color: $primary-text-color;
    }

    &.current-day {
        background-color: $color2;
    }

    &:hover {
        background-color: $color2;
        cursor: pointer;
    }
}

.day-reminders {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 4px;
}

.day-reminder {
    flex-basis: 100%;

    &:not(:last-of-type) {
        margin-right: 1px;
    }
}

.selected-day {
    display: flex;
    flex-direction: column;
    height: calc(100% - 32px);
    padding: 4px;
}

.selected-day-remainders {
    @include scrollbar($color2);

    overflow-y: auto;
    max-height: calc(100% - 29px);
    margin-bottom: 4px;

}

.selected-day-remainder {
    display: flex;
    padding: 4px;
    border-bottom: 1px solid $color2;

    .btn-icon {
        margin-left: auto;
    }
}

.reminder-repeat-icon {
    flex-shrink: 0;
    margin-right: 4px;
    color: #999;
}

.new-reminder-btn {
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
}

.reminder-input {
    width: 100%;
    margin-bottom: 8px;
    border: 1px solid $color2;
}

.reminder-settings {
    display: flex;
    margin-bottom: 8px;
}

.reminder-setting {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
        margin-right: 8px;
    }
}

.reminder-range-setting,
.reminder-repeat-setting {
    margin-bottom: 8px;
}

.reminder-setting-title {
    margin-left: 4px;
}

.repeat-gap-input {
    width: 40px;
    margin-left: 4px;
    margin-right: 4px;
}

.repeat-gap-input,
.range-input {
    border: 1px solid $color2;
    text-align: center;
}

.range-input-container {
    position: relative;
    display: inline-block;
    margin-right: 8px;
}

.range-input {
    width: 80px;

    &.from:focus + .reminder-timetable {
        display: block;
    }

    &.to:focus + .reminder-timetable {
        display: block;
    }
}

.reminder-timetable {
    @include scrollbar($color3);

    display: none;
    overflow-y: auto;
    position: absolute;
    top: 24px;
    right: 0;
    width: 100%;
    max-height: 120px;
    background-color: $color2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.reminder-timetable-item {
    padding-top: 2px;
    padding-bottom: 2px;

    &:hover {
        background-color: #3d3d3d;
        cursor: default;
    }
}

.reminder-length-setting-container {
    margin-top: 8px;

    .reminder-setting {
        margin-bottom: 4px;
    }
}

.reminder-error-message {
    margin-top: 4px;
    font-size: 12px;
    color: $color-danger;
}

.reminder-btns {
    margin-top: auto;
}
