.calendar-container {
    display: none;
    height: 324px;

    &.visible {
        display: block;
    }
}

.current-day-reminder-container {
    --initial-width: 220px;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--initial-width);
    border-right: 1px solid $primary-border-color;
    transition: 0.2s width;

    &.collapsed {
        width: 33px;

        .current-day-reminders {
            opacity: 0.1;
        }
    }

    .btn-secondary {
        margin: 4px;
        flex-shrink: 0;
    }
}

.current-day-reminders {
    @include scrollbar;

    overflow-y: auto;
    flex-grow: 1;
    width: var(--initial-width);
    padding: 4px 0 4px 4px;
    transition: 0.2s opacity;
}

.current-day-reminder {
    padding: 4px 4px 4px 8px;
    border-left: 2px solid transparent;
    transition: 0.2s border-left-color;

    &:not(:first-of-type) {
        margin-top: 4px;
    }
}

.calendar-reminder-range {
    margin-top: 4px;
    font-size: 13px;
    color: $secondary-text-color;
}

.calendar {
    width: 378px;
    height: 100%;
}

.calendar-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
}

.calendar-title {
    min-width: 120px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 16px;
    text-align: center;
}

.calendar-week-days {
    display: flex;
    height: 32px;
    margin-left: 4px;
    margin-right: 4px;

    .calendar-cell {
        flex: 1;
    }
}

.calendar-days {
    display: grid;
    grid-gap: 2px;
    grid-template: repeat(6, 1fr) / repeat(7, 1fr);
    height: calc(100% - 64px);
    padding: 0 4px 4px 4px;
}

.calendar-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-day {
    position: relative;
    color: $secondary-text-color;
    transition: 0.2s background-color;
    cursor: pointer;

    &.current-month-day {
        color: $primary-text-color;
    }

    &:hover, &.current-day {
        background-color: $secondary-button-hover-background-color;
        box-shadow: inset 0 0 0 1px $color-grey-darker-72,
                    0 0 0 1px $color-white-10;
    }
}

.day-reminders {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 2px;
}

.day-reminder {
    flex-basis: 100%;

    &:not(:last-of-type) {
        margin-right: 1px;
    }
}

.selected-day-header-btn {
    position: absolute;
    top: 4px;
    left: 4px;
}

.selected-day {
    display: flex;
    flex-direction: column;
    height: calc(100% - 32px);
    padding-top: 4px;
}

.selected-day-remainders {
    @include scrollbar;

    overflow-y: auto;
}

.selected-day-remainder {
    display: flex;
    align-items: flex-start;
    padding: 4px;
    border-bottom: 1px solid $primary-border-color;

    .btn-secondary {
        margin-left: auto;
    }
}

.selected-day-reminder-color {
    flex-shrink: 0;
    width: 4px;
    height: 24px;
    margin-right: 6px;
    margin-left: 2px;
    transition: 0.2s transform, 0.2s background-color;

    &:hover {
        transform: scaleX(2);
    }
}

.reminder-repeat-icon {
    flex-shrink: 0;
    margin-right: 6px;
    color: $secondary-text-color;
}

.empty-reminder-list-message {
    margin-top: auto;
    font-size: 20px;
    text-align: center;
}

.new-reminder-btn {
    flex-shrink: 0;
    margin-top: 2px;
    margin-bottom: auto;
}

.selected-day-form {
    padding: 4px;
}

.reminder-input {
    width: 100%;
}

.reminder-form-row {
    display: flex;
    align-items: center;
}

.reminder-setting {
    margin-top: 8px;

    .reminder-form-row {
        margin-top: 4px;
    }
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.checkbox-label {
    margin-left: 8px;
}

.repeat-input {
    width: 40px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
}

.range-input-container {
    position: relative;
    margin-left: 8px;
    margin-right: 12px;
}

.range-input {
    width: 80px;
    text-align: center;

    &:focus + .reminder-timetable {
        display: block;
    }
}

.reminder-timetable {
    @include scrollbar;

    overflow-y: auto;
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 0;
    display: none;
    width: 100%;
    max-height: 120px;
    background-color: $color-grey-dark-light;
    box-shadow: $box-shadow;
    text-align: center;
}

.reminder-timetable-item {
    padding: 4px;

    &:hover {
        background-color: $secondary-button-hover-background-color;
        cursor: default;
    }
}

.reminder-error-message {
    margin-top: 4px;
    font-size: 13px;
    color: $color-danger;
}

.reminder-form-btns {
    margin-top: auto;

    .btn:first-of-type {
        margin-right: 4px;
    }
}
