.calendar-container {
    display: none;
    height: 324px;

    &.visible {
        display: flex;
    }
}

.calendar-sidebar {
    --initial-width: 220px;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--initial-width);
    border-right: 1px solid $color-white-10;
    transition: 0.2s width;

    &.collapsed {
        width: 33px;

        .calendar-sidebar-item {
            opacity: 0.1;
        }
    }
}

.calendar-sidebar-item {
    width: var(--initial-width);
    transition: 0.2s opacity;
}

.calendar-sidebar-date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-white-10;
}

.calendar-sidebar-date-day {
    margin-right: 8px;
    font-size: 48px;
}

.calendar-sidebar-date-weekday {
    font-size: 20px;
}

.current-day-reminders {
    @include scrollbar;

    overflow-y: auto;
    flex-grow: 1;
    padding: 4px 0 4px 4px;
}

.current-day-reminder {
    padding: 4px 4px 4px 8px;
    border-left: 2px solid transparent;
    transition: 0.2s border-left-color;

    &:not(:first-of-type) {
        margin-top: 4px;
    }
}

.calendar-reminder-range {
    margin-top: 4px;
    font-size: 13px;
    color: $color-white-60;
}

.calendar-sidebar-toggle-btn {
    margin: auto 4px 4px 4px;
    flex-shrink: 0;
}

.calendar-wrapper {
    overflow: hidden;
}

.calendar {
    position: relative;
    width: 378px;
    height: 100%;
    transform-origin: var(--x) var(--y);

    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-name: opacity-up;

    &.transitioning {
        animation-duration: 0.16s, 0.6s;
        animation-name: opacity-down, calendar-scale-up;
    }
}

@keyframes calendar-scale-up {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(4);
    }
}

.calendar-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
}

.calendar-title {
    min-width: 130px;
    padding: 1px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.calendar-week-days {
    display: flex;
    height: 32px;
    margin-left: 1px;
    margin-right: 1px;

    .calendar-cell {
        flex: 1;
    }
}

.calendar-days {
    display: grid;
    grid-gap: 1px;
    grid-template: repeat(6, 1fr) / repeat(7, 1fr);
    height: calc(100% - 64px);
    padding: 0 1px 1px 1px;
}

.calendar-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-day {
    position: relative;
    border: 1px solid transparent;
    color: $color-white-60;
    transition: 0.2s background-color, 0.2s box-shadow;
    cursor: pointer;

    &.current {
        font-weight: bold;
    }

    &.current-month-day {
        color: $color-white;
    }

    &:hover, &.current {
        background-color: $color-white-10;
        box-shadow: inset 0 0 0 1px $color-grey-darker-60;
    }
}

.day-reminders {
    position: absolute;
    left: 1px;
    bottom: 1px;
    right: 1px;
    display: flex;
    height: 2px;
}

.day-reminder {
    flex-basis: 100%;

    &:not(:last-of-type) {
        margin-right: 1px;
    }
}

.calendar-months {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: calc(100% - 32px);
}

.calendar-month {
    padding: 4px;
    border-top: 1px solid $color-white-10;
    transition: 0.2s background-color, 0.2s box-shadow;
    cursor: pointer;

    &.current {
        font-weight: bold;
    }

    &:not(:nth-of-type(4n)) {
        border-right: 1px solid $color-white-10;
    }

    &:hover, &.current {
        background-color: $color-white-10;
        box-shadow: inset 0 0 0 1px $color-grey-darker-60,
                    -1px 0 0 0 $color-white-10,
                    0 1px 0 0 $color-white-10;
    }
}

.selected-day-header-btn {
    position: absolute;
    top: 4px;
    left: 4px;
}

.selected-day {
    display: flex;
    flex-direction: column;
    height: calc(100% - 32px);
    padding-top: 4px;
}

.selected-day-remainders {
    @include scrollbar;

    overflow-y: auto;

    & + .new-reminder-btn {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

.selected-day-remainder {
    display: flex;
    align-items: flex-start;
    padding: 4px;
    border-bottom: 1px solid $color-white-10;

    .btn-icon {
        margin-left: auto;
    }
}

.selected-day-reminder-color {
    flex-shrink: 0;
    width: 4px;
    height: 24px;
    margin-right: 6px;
    margin-left: 2px;
    transition: 0.2s transform, 0.2s background-color;

    &:hover {
        transform: scaleX(2);
    }
}

.reminder-repeat-icon {
    flex-shrink: 0;
    margin-right: 6px;
    color: $color-white-60;
}

.empty-reminder-list-message {
    margin-top: auto;
    margin-bottom: 4px;
    font-size: 18px;
    text-align: center;
}

.new-reminder-btn {
    flex-shrink: 0;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0 auto auto auto;
}

.selected-day-form {
    padding: 4px;
}

.reminder-input {
    width: 100%;
}

.reminder-form-row {
    display: flex;
    align-items: center;
}

.reminder-setting {
    margin-top: 8px;

    .reminder-form-row {
        margin-top: 4px;
    }
}

.calendar-checkbox-container {
    margin-right: 16px;
}

.repeat-input {
    width: 40px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;

    &:invalid {
        outline: 1px auto transparentize($color-danger, 0.2);
    }
}

.range-input-container {
    position: relative;
    margin-left: 8px;
    margin-right: 12px;
}

.range-input {
    width: 84px;
    text-align: center;

    &:focus + .reminder-timetable {
        display: block;
    }

    &:invalid {
        box-shadow: 0 0 1px 1px $color-danger;
    }
}

.reminder-timetable {
    @include scrollbar;

    overflow-y: auto;
    z-index: 1;
    position: absolute;
    top: 24px;
    right: 0;
    display: none;
    width: 100%;
    max-height: 120px;
    border-radius: 2px;
    background-color: $color-grey-darker-60;
    backdrop-filter: blur(8px);
    text-align: center;

    @supports not (backdrop-filter: blur(0)) {
        background-color: $color-grey-dark;
    }
}

.reminder-timetable-item {
    height: 24px;
    padding: 4px;
    font-size: 13px;

    &:hover {
        background-color: $color-white-10;
        cursor: pointer;
    }
}

.reminder-error-message {
    margin-top: 4px;
    font-size: 13px;
    color: $color-danger;
}

.reminder-form-btns {
    display: flex;
    margin-top: auto;

    .btn:first-of-type {
        margin-right: 8px;
    }
}
