.dropbox-container {
    overflow: hidden;
}

.dropbox-header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 4px;
    border-bottom: 1px solid $primary-border-color;
}

.drobox-path {
    margin-left: auto;
    margin-right: auto;
}

.dropbox-items {
    @include scrollbar;

    overflow-y: auto;
    flex-grow: 1;
}

.dropbox-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px;
    transition: 0.2s background-color;

    &:hover {
        background-color: $secondary-button-hover-background-color;
        cursor: pointer;
    }
}

.dropbox-item-name {
    margin-left: 4px;

    @include text-truncate;
}

.dropbox-item-spinner {
    height: 20px;
    margin-left: 4px;
}

.dropbox-item-error {
    position: absolute;
    right: 4px;
    backdrop-filter: blur(1px);
}

.dropbox-folder-message {
    margin: auto;
    font-size: 16px;
}

.dropbox-init-spinner {
    margin: auto;
}
