$brand-color: #2895F1;

.dropbox-container {
    width: 400px;
    height: 200px;
}

.dropbox-header {
    display: flex;
    align-items: center;
}

.drobox-path {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.dropbox-hero {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transform: translateY(-50%) scale(0.8);
    transition: all 0.4s;

    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(-50%) scale(1);
    }
}

.dropbox-hero-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 12px;
    color: $brand-color;
}

.dropbox-login-btn-container {
    display: flex;
    justify-content: center;
}

.dropbox-spinner {
    height: 20px;
    margin-left: 4px;
}

.dropbox-error-message {
    color: $primary-text-color;
}

.dropbox-items {
    @include scrollbar($color3);

    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    height: calc(100% - 22px);
    margin-top: 4px;
    background-color: $color2;
    font-size: 12px;
    transform: scale(.8);
    transition: all 0.4s;

    &.show {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}

.dropbox-item {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    height: 24px;
    padding: 2px;

    &:hover {
        cursor: pointer;
        background-color: #3b3b3b;
    }
}

.dropbox-item-name {
    margin-left: 4px;
}

.dropbox-item-error {
    position: absolute;
    right: 4px;
    background-color: inherit;
    box-shadow: 0 0 4px 8px inherit;
    color: $secondary-text-color;
}
