.main-block {
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.2s;

    &.hidden {
        display: none;
    }

    &.expanded {
        top: 4px;

        .main-block-nav {
            display: none;
        }

        .main-block-content {
            height: 100vh;
            max-height: calc(100vh - 16px);
        }
    }
}

.main-block-nav {
    display: flex;
    justify-content: center;

    &.is-tab-visible {
        margin-bottom: 8px;
    }

    &.hidden {
        height: 0;
        margin-bottom: 0;
        overflow: hidden;
    }
}

.main-block-nav-item:not(:last-of-type) {
    margin-right: 4px;
}

.main-block-nav-item-btn {
    position: relative;

    &.indicator-visible::after {
        content: "";
        display: block;
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 1px solid $color3;
        background-color: $color-accent;
    }
}

.main-block-content {
    position: relative;
    display: none;
    width: 588px;
    height: 318px;
    max-height: calc(55vh - 40px);
    transition: height 0.2s, max-height 0.2s;
    will-change: height, max-height;

    &.visible {
        display: block;
    }
}

.main-block-content-header {
    display: flex;
    height: 25px;
    border-bottom: 1px solid $color2;
}

.main-block-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparentize($color3, 0.2);
}

.main-block-mask-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
