.main-block {
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.2s;

    &.hidden {
        display: none;
    }

    &.expanded {
        top: 4px;

        .main-block-nav {
            display: none;
        }
    }
}

.main-block-nav {
    display: flex;
    justify-content: center;
    min-width: 400px;

    &.is-tab-visible {
        margin-bottom: 4px;
    }

    &.hidden {
        height: 0;
        margin-bottom: 0;
        overflow: hidden;
    }
}

.main-block-nav-item {
    position: relative;

    &:not(:last-of-type) {
        margin-right: 4px;
    }
}

.indicator {
    z-index: 1;
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid $color3;
    background-color: $brand-color;
}

.main-block-content {
    position: relative;
    display: none;
    width: 588px;
    height: 318px;
    max-height: calc(55vh - 36px);

    &.visible {
        display: block;
    }
}

.main-block-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparentize($color3, 0.2);
}

.main-block-mask-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
