$main-block-nav-height: 32px;

.main-block {
    position: absolute;
    top: calc(44% + #{$main-block-nav-height});
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s top;
    will-change: top, height;
    pointer-events: none;

    &.hidden {
        display: none;
    }

    &.expanded {
        top: 4px;

        .main-block-nav {
            opacity: 0;
            visibility: hidden;
            transform: translate(-50%, 100%);
            transition-delay: 0s;
        }

        .main-block-content {
            height: calc(100vh - 8px);
        }
    }

    @media (max-height: 638px) {
        top: calc(36% + #{$main-block-nav-height});
    }
}

.main-block-nav {
    position: absolute;
    top: -$main-block-nav-height;
    left: 50%;
    opacity: 1;
    visibility: visible;
    display: flex;
    padding-bottom: 8px;
    transform: translateX(-50%);
    transition: 0.2s opacity,
                0.2s visibility,
                0.2s transform;
    transition-delay: 0.2s;
    pointer-events: auto;

    &.hidden {
        display: none;
    }
}

.main-block-nav-item:not(:last-of-type) {
    margin-right: 8px;
}

.main-block-nav-item-btn {
    position: relative;

    svg {
        width: 24px;
        height: 24px;
    }
}

.main-block-sidebar {
    position: absolute;
    top: 0;
    left: 100%;
    pointer-events: auto;
    transform: translate(-8px, 4px);
    transition: 0.2s transform;

    &.expanded {
        transform: translateX(4px);
    }
}

.main-block-sidebar-show-btn {
    display: block;
    width: 12px;
    height: 22px;

    &:hover {
        background-color: $color-white-10;
        cursor: pointer;
    }
}

.main-block-sidebar-btn {
    margin: 4px;
}

.main-block-content {
    overflow: hidden;
    position: relative;
    display: none;
    flex-direction: column;
    width: 588px;
    height: 320px;
    transition: height 0.2s;
    pointer-events: auto;

    &.visible {
        display: flex;
    }
}

.main-block-content-header {
    display: flex;
    flex-shrink: 0;
    padding: 4px;
    border-bottom: 1px solid $color-white-10;
}

.main-block-content-header-btn:not(:last-of-type) {
    margin-right: 4px;
}

.main-block-content-header-items {
    display: flex;
    flex-grow: 1;
    min-width: 0;
    margin-right: 4px;
}

.main-block-content-header-item {
    position: relative;
    flex: 1;
    min-width: 0;

    &:hover .main-block-content-header-item-btn {
        display: flex;
    }

    &.active::after {
        content: "";
        position: absolute;
        bottom: -5px;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-blue;
        pointer-events: none;
    }

    &.hidden {
        display: none;
    }
}

.main-block-content-header-separator {
    width: 1px;
    margin-right: 4px;
    background-color: $color-white-10;
}

.main-block-content-header-item-select-btn {
    width: 100%;
    height: 100%;
    padding: 2px 6px;
    font-weight: normal;
}

.main-block-content-header-item-title {
    @include text-truncate;
}

.main-block-content-header-item-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;

    &:hover {
        background-color: transparent;
    }
}

.main-block-modal-title {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    text-align: center;
}

.main-block-modal-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}
