%spinner {
    z-index: 1;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("/assets/images/ring.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin spinner {
    position: relative;

    &::after {
        @extend %spinner;

        @content;
    }
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $input-background-color;
    }
}
