.notepad {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transform-origin: top center;
    transition: 0.2s opacity,
                0.2s visibility,
                0.2s transform;

    &.initialized {
        opacity: 1;
        visibility: visible;
        transform: none;
    }
}

.notepad-input {
    flex-grow: 1;
    background-color: transparent;

    &:focus {
        outline: none;
        box-shadow: 0 2px 0 0 $color-blue;
    }
}

.notepad-modal-form {
    margin: auto;
    text-align: center;

    .btn:last-of-type {
        margin-left: 4px;
    }
}
