.notepad-spinner {
    margin: auto;
}

.notepad-input {
    flex-grow: 1;
    background-color: transparent;

    &:focus {
        outline: none;
        box-shadow: 0 2px 0 0 $color-blue;
    }
}

.notepad-form {
    margin: auto;
    text-align: center;

    .btn:last-of-type {
        margin-left: 4px;
    }
}
