.rss-feed.visible {
    display: flex;
    flex-direction: column;
}

.feed-header {
    flex-shrink: 0;
}

.feed-header-item {
    overflow: hidden;
    position: relative;
    flex: 1;

    &:hover .feed-title-btns {
        display: flex;
    }

    &.active {
        box-shadow: 0 1px 0 0 $color-accent;
    }
}

.feed-select-btn {
    @include text-truncate;

    display: block;
    width: 100%;
    height: 100%;
    padding-left: 4px;
    padding-right: 4px;
}

.feed-new-entry-count {
    margin-right: 2px;
}

.feed-title-btns {
    position: absolute;
    top: 50%;
    right: 2px;
    display: none;
    background-color: $color3;
    box-shadow: 2px 0 4px 4px $color3;
    transform: translateY(-50%);
}

.add-new-feed-btn {
    padding: 2px 4px;
}

.feed-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.feed-hero-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
    color: #fa9b39;
}

.feed-hero-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 200px;
    height: 136px;
}

.feed-initiation-status {
    @include scrollbar($color2);

    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.feed-initiation-item {
    display: flex;
    align-items: center;
    padding: 2px;
    margin-bottom: 2px;
    border-bottom: 1px solid $color2;
}

.feed-initiation-item-title {
    @include text-truncate;

    margin-right: 2px;
}

.feed-initiation-item-status {
    margin-left: auto;
    height: 20px;

    img {
        height: 100%;
    }
}

.feed-initiation-success {
    color: #00ad45;
}

.feed-initiation-error {
    color: #f15e4b;
}

.feed-input-group {
    display: block;
    margin-bottom: 8px;
}

.feed-input {
    width: 200px;
    margin-top: 4px;
}

.feed-add-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.feed-message {
    margin-right: 4px;
}

.feeds {
    @include scrollbar($color2);

    overflow-y: auto;
    height: calc(100% - 25px);
}

.feed {
    padding: 8px 4px;
    border-bottom: 1px solid $color2;
}

.feed-link:hover {
    text-decoration: underline;
}

.feed-desc {
    margin-top: 4px;
    margin-bottom: 4px;
    overflow: hidden;
    word-break: break-word;
    white-space: pre-line;

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    img {
        max-width: 100px;
        object-fit: scale-down;
    }

    a {
        all: unset;
        color: $color-accent;

        &:hover {
            color: $color-accent;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    tr {
        display: flex;
    }

    td {
        padding-right: 4px;
        white-space: normal;
    }
}

.feed-date {
    color: $secondary-text-color;
    font-size: 12px;
}

.is-new-entry {
    float: right;
    color: $color-accent;
    font-style: italic;
}
