.feed-header {
    display: flex;
    height: 20px;
    margin-bottom: 2px;
}

.feed-titles {
    display: flex;
    align-items: stretch;
    width: calc(100% - 22px);

    &.is-empty {
        width: 100%;
        background-color: $color2;
    }
}

.feed-title {
    @include text-truncate;

    position: relative;
    flex: 1 1 100px;
    height: 20px;
    padding: 3px 2px 0 2px;
    margin-right: 1px;
    margin-left: 1px;
    border-bottom: 2px solid $color2;
    background-color: $color2;
    text-align: center;
    cursor: pointer;
    user-select: none;

    &:hover {
        color: $brand-color;

        .feed-title-btns {
            display: flex;
        }
    }

    &:last-of-type {
        margin: 0;
    }

    &.active {
        border-color: $brand-color;
    }
}

.feed-title-btns {
    position: absolute;
    top: 1px;
    right: 2px;
    display: none;
    background-color: $color2;
    box-shadow: 2px 0 4px 4px $color2;
}

.add-new-feed-btn {
    margin-left: 2px;
    padding: 2px 4px;
    background-color: $color2;
}

.feed-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 22px);

    svg {
        width: 64px;
        height: 64px;
        color: #fa9b39;
    }

    span {
        font-size: 18px;
    }
}

.feed-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 22px);
    background-color: $color2;
}

.feed-hero-title {
    margin-top: 0;
    margin-bottom: 8px;
}

.feed-input-container {
    text-align: right;

    .btn {
        background-color: $color3;
    }
}

.feed-input-label {
    display: block;
    margin-bottom: 2px;
    text-align: left;
}

.feed-input {
    display: block;
    width: 200px;
    margin-bottom: 4px;
}

.feed-add-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
        height: 20px;
        margin-right: 4px;
    }
}

.feed-message {
    font-size: 14px;
}

.feeds {
    @include scrollbar($color3);

    overflow-y: auto;
    height: calc(100% - 22px);
    background-color: $color2;
}

.feed-entry {
    padding: 4px;
    margin: 4px 4px 0 4px;
    border-bottom: 1px solid $color3;

    &:last-of-type {
        border-bottom: none;
    }
}

.feed-entry-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;

    &:hover {
        color: #bbb;
        text-decoration: underline;
    }
}

.feed-entry-title {
    margin-bottom: 4px;
    font-weight: bold;
}

.feed-entry-desc {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    overflow: hidden;
    word-break: break-word;
    white-space: pre-line;

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    img {
        max-width: 100px;
        object-fit: scale-down;
    }

    a {
        color: lighten($brand-color, 20%);

        &:hover {
            text-decoration: underline;
        }
    }

    tr {
        display: flex;
    }

    td {
        padding-right: 4px;
        white-space: normal;
    }
}

.feed-entry-date {
    color: #bbb;
    font-size: 12px;
}

.is-new-entry {
    float: right;
    color: $brand-color;
    font-style: italic;
}
