.feed-new-entry-count {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    padding: 0;
    margin-right: 8px;
    border-radius: 50%;
    background-color: $color-white;
    color: $color-grey-dark;
    font-size: 13px;
    transition: box-shadow 0.2s;

    &:hover {
        box-shadow: 0 0 0 2px $color-white;
    }
}

.feed-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.feed-hero-icon {
    width: 64px;
    height: 64px;
    color: #fa9b39;
}

.feed-hero-spinner {
    height: 28px;
    margin-top: 8px;
}

.feed-hero-content {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 150px;
    transition: 0.2s height;

    &.loading {
        height: 28px;
    }
}

.feed-initiation-status {
    @include scrollbar;

    overflow-y: auto;
    opacity: 0;
    width: 100%;
    height: 100%;
    animation-name: opacity-up;
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.feed-initiation-item {
    display: flex;
    align-items: center;
    padding: 4px;
    border-bottom: 1px solid $primary-border-color;
}

.feed-initiation-item-title {
    @include text-truncate;

    margin-right: 4px;
}

.feed-initiation-item-status {
    margin-left: auto;
    height: 20px;

    img {
        height: 100%;
    }
}

.feed-initiation-success {
    color: $color-success;
}

.feed-initiation-error {
    color: $color-danger;
}

.feed-input {
    width: 100%;
    margin-bottom: 8px;
}

.feed-add-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btn:disabled {
        @include spinner;
    }
}

.feed-message {
    margin-right: 8px;
}

.feed-shift-btn.active {
    position: relative;
    overflow: hidden;

    &::before {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        display: block;
        border-radius: 50%;
        animation-name: pulse;
        animation-duration: 1.6s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

@keyframes pulse {
    from {
        transform: scale(0);
        background-color: transparent;
    }
    to {
        transform: scale(2);
        background-color: $button-background-color;
    }
}

.feed-entries {
    @include scrollbar;

    overflow-y: auto;
    flex-grow: 1;
}

.feed-entry {
    padding: 8px;

    &:not(:last-of-type) {
        border-bottom: 1px solid $primary-border-color;
    }
}

.feed-entry-title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.feed-entry-link {
    font-size: 16px;

    &:hover {
        text-decoration: underline;
    }
}

.is-new-entry {
    padding: 2px 6px;
    margin-right: 8px;
    border-radius: 4px;
    background-color: $color-blue-light;
    color: $color-grey-dark;
    font-size: 13px;
    cursor: default;
}

.feed-description {
    overflow: hidden;
    line-height: 1.4;
    word-break: break-word;
    white-space: pre-line;

    img {
        max-height: 64px;
    }

    a {
        all: unset;
        color: $color-blue-light;

        &:hover {
            color: $color-blue-light;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    tr {
        display: flex;
    }

    td {
        padding: 0 4px 0 0;
        white-space: normal;
    }
}

.feed-date {
    margin-top: 4px;
    color: $secondary-text-color;
    font-size: 13px;
}

.feed-list-header {
    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
    padding: 4px;
    border-bottom: 1px solid $primary-border-color;

    .btn-secondary {
        margin-left: 4px;
    }
}

.feed-list-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
}

.feed-list-items {
    @include scrollbar;

    overflow-y: auto;
    flex-grow: 1;
}

.feed-list-item {
    padding: 8px;
    border-bottom: 1px solid $primary-border-color;

    &.disabled {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            background-image: url("./assets/images/ring.svg");
            background-repeat: no-repeat;
            background-position: center;
            backdrop-filter: blur(2px);
        }
    }
}

.feed-list-item-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4px;

    img {
        height: 36px;
        margin-right: 8px;
    }
}

.feed-list-item-btn:first-of-type {
    margin-left: auto;
}

.feed-list-item-title-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 8px;
}

.feed-list-item-title {
    display: flex;
    align-items: center;
    font-size: 16px;

    .feed-new-entry-count:hover {
        color: $color-grey-dark;
        cursor: pointer;
    }
}

.feed-list-item-title-btn {
    padding: 2px 0;
    font-size: inherit;

    &:hover {
        color: $primary-text-color;
        text-decoration: underline;
    }
}

.feed-list-item-title-input {
    padding: 2px 4px;
    border-radius: 0;
    background-color: transparent;
    font-size: 16px;
}

.feed-list-item-url {
    font-size: 13px;
    color: $secondary-text-color;
}

.feed-list-item-error {
    display: flex;
    align-items: center;
    margin-top: 8px;
    color: $color-danger;

    .btn-secondary {
        margin-left: 8px;
        font-weight: bold;

         &:hover {
            color: $color-danger;
         }
    }
}
