.settings-container {
    display: flex;
    width: 440px;
    height: 200px;
}

.settings-nav {
    flex-shrink: 0;
    width: 100px;
    border-right: 1px solid $primary-border-color;
}

.settings-nav-item.active {
    box-shadow: inset 2px 0 0 0 $color-blue;
}

.settings-nav-item-btn {
    width: 100%;
    padding: 6px;
    border-radius: 0;
}

.setting {
    flex-grow: 1;
    display: none;

    &.active {
        display: block;
    }
}

.setting-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 38px;
    padding: 4px 4px 4px 8px;
    border-bottom: 1px solid $primary-border-color;
    transition: 0.2s opacity;

    &.disabled {
        opacity: 0.4;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.setting-item-add-desc {
    font-size: 13px;
    color: $secondary-text-color;
}

.setting-item-message {
    margin-top: 8px;
    color: $color-danger;
}

.setting-input {
    width: 100px;
}

.settings-dropbox-btn {
    &:disabled {
        @include spinner;
    }

    svg {
         margin-right: 4px;
    }
}
