.settings-container {
    display: flex;
    width: 440px;
    height: 200px;
}

.settings-nav {
    display: flex;
    flex-direction: column;
    width: 92px;
}

.settings-nav-item {
    transition: 0.2s transform;

    &.active {
        transform: translateX(2px);
        box-shadow: -2px 0 0 0 $color-accent;
    }

    .btn-icon {
        padding: 4px 6px;
    }
}

.setting {
    flex-grow: 1;
    display: none;

    &.active {
        display: block;
    }
}

.setting-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 33px;
    padding: 4px;
    border-bottom: 1px solid $color2;

    &.disabled::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparentize($color3, 0.2);
    }
}

.setting-item-add-desc {
    font-size: 13px;
    color: $secondary-text-color;
}

.setting-input {
    width: 100px;
}

.setting-selection {
    padding: 2px 8px;
}

.settings-dropbox-btn {
    &:disabled {
        @include spinner;
    }

    svg {
         margin-right: 4px;
    }
}
