.settings-container {
    display: flex;
    width: 440px;
    height: 200px;
}

.settings-nav {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.settings-nav-item {
    transition: 0.2s transform;

    &.active {
        transform: translateX(2px);
        box-shadow: -2px 0 0 0 $brand-color;
    }
}

.setting {
    flex-grow: 1;
    display: none;

    &.active {
        display: block;
    }
}

.setting-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    border-bottom: 1px solid $color2;
}

.setting-item-add-desc {
    font-size: 13px;
    color: $secondary-text-color;
}

.setting-input {
    width: 100px;
}

.setting-selection {
    padding: 2px 8px;
}
