.tasks-component-toggle-btn {
    position: absolute;
    top: 4px;
    left: 4px;
    padding: 4px 6px;
    text-shadow: $text-shadow;
    transition: 0.2s transform;
    transition-delay: 0.2s;

    &.shifted {
        transform: translate(5px, 5px);
        transition-delay: 0s;
    }
}

.tasks-component {
    position: absolute;
    top: 4px;
    left: 4px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border-bottom-right-radius: 50%;
    transform-origin: top left;
    transform: scale(0);
    transition: 0.2s transform,
                0.2s opacity,
                0.2s visibility,
                0.2s border-bottom-right-radius;
    transition-delay: 0.2s;
    will-change: border-bottom-right-radius;

    &.visible {
        opacity: 1;
        visibility: visible;
        border-bottom-right-radius: 0;
        transform: scale(1);
        transition-delay: 0s;

        .task-transition-target {
            opacity: 1;
            transition-delay: 0.2s;
        }
    }
}

.task-transition-target {
    opacity: 0;
    transition: 0.2s opacity;
}

.tasks-component-header {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    padding: 4px;
    border-bottom: 1px solid $primary-border-color;
}

.task-add-btn {
    padding-left: 6px;
    padding-right: 6px;
}

.tasks {
    @include scrollbar;

    overflow-y: auto;
    flex-grow: 1;
}

.task {
    overflow: hidden;
    padding-left: 24px;
    padding-right: 4px;

    &:not(:last-of-type) {
        border-bottom: 1px solid $primary-border-color;
    }

    &.removing {
        animation-duration: 0.2s, 0.4s;
        animation-name: opacity-down, collapse;
        animation-fill-mode: both;
    }
}

@keyframes collapse {
    from {
        max-height: 1000px;
    }
    to {
        max-height: 0;
    }
}

.task-checkbox {
    float: left;
    margin-left: -20px;
    margin-right: 6px;
}

.task-labels {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    margin-left: 2px;
}

.task-label {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    &:not(:last-of-type) {
        margin-right: 8px;
    }
}

.task-label-color {
    width: 10px;
    height: 10px;
    margin-right: 4px;
    border-radius: 50%;
}

.task-label-title {
    font-size: 13px;
}

.task-text {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    transition: 0.2s opacity;

    &.completed {
        opacity: 0.4;
        text-decoration: line-through;
    }
}

.subtasks {
    margin-top: 4px;
    margin-left: 20px;
}

.subtask {
    display: flex;
    align-items: flex-start;
    padding-top: 4px;

    &:not(:last-of-type) {
        padding-bottom: 4px;
    }
}

.task-footer {
    display: flex;
    margin-top: 8px;
    margin-bottom: 4px;
}

.task-pin-icon {
    transform: rotate3d(0, 0, 1, -45deg);
    transition: 0.2s transform;

    &.pinned {
        transform: none;
    }
}

.task-footer-btn {
    overflow: hidden;
    margin-right: 8px;
    font-size: 13px;

    svg {
        margin-right: 2px;
    }
}

.task-form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 8px;
}

.task-form-label-input-container {
    display: grid;
    grid-template-columns: 32px 1fr auto;
    align-items: center;
    margin-right: 4px;
}

.task-form-color-picker-container {
    overflow: hidden;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    border-radius: 50%;
}

.task-form-color-picker {
    opacity: 0;
    cursor: pointer;
}

.task-from-label-title-input {
    flex-grow: 1;
    margin-right: 4px;
}

.task-form-labels {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
}

.task-form-label {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-left: 4px;
}

.task-form-label-btn {
    position: relative;
    padding: 4px;

    &.flagged {
        &::before {
            content: "\2713";
            z-index: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            color: $color-success;
            font-size: 20px;
        }

        .task-label-color,
        .task-label-title {
            opacity: 0.4;
        }
    }
}

.task-form-label-message {
    margin-top: 4px;
    margin-left: 4px;
    font-size: 13px;
    color: $color-danger;
}

.task-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.task-input {
    flex-shrink: 0;
    display: block;
    width: calc(100% - 8px);
    height: 80px;
    margin: 8px 4px;
}

.subtask-add-btn {
    flex-shrink: 0;
    padding: 2px 4px;
    margin-left: 4px;
}

.task-form-subtasks {
    @include scrollbar;

    overflow-y: auto;
    flex-grow: 1;
    width: 100%;
    padding: 4px 4px 0 4px;
    margin-top: 4px;
}

.task-form-subtask {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    .input {
        flex-grow: 1;
        margin-right: 4px;
    }
}

.task-form-footer {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 100%;
    margin-top: auto;
    padding: 4px;
    border-top: 1px solid $primary-border-color;
}

.task-notice {
    margin: auto;
    font-size: 20px;
}
