.time {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45vh;
    transform: translateX(-50%);
    text-shadow: $text-shadow;
}

.clock {
    font-size: 128px;
    letter-spacing: -2px;
    line-height: 0.8;
}

.period {
    margin-left: 4px;
    font-size: 32px;
    line-height: 1;
}

.date {
    margin-top: 2px;
    text-align: right;
    font-size: 18px;
}
