.time {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 44%;
    transform: translateX(-50%);
    text-shadow: $text-shadow;
    font-family: $large-number-font-family;
    cursor: default;

    @media (max-height: 638px) {
        height: 36%;
    }
}

.clock-container {
    position: relative;
}

.clock {
    font-size: 8em;
    line-height: 0.8;
}

.period {
    position: absolute;
    right: -4px;
    bottom: 0;
    transform: translateX(100%);
    font-size: 2.2em;
    line-height: 1;
}

.date {
    margin-top: 4px;
    text-align: right;
    font-size: 1.25em;
}
