.todo {
    z-index: 2;
    position: absolute;
    top: 4px;
    left: 4px;

    &.is-in-background {
        z-index: 0;
    }
}

.todo-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 46px;
    height: 26px;
    border-bottom-right-radius: 50%;
    transition: 0.2s all;
    visibility: collapse;

    .todo-transition-target {
        opacity: 0;
    }

    &.visible {
        visibility: visible;
        width: 280px;
        height: 368px;
        border-bottom-right-radius: 0;

        .todo-transition-target {
            transition: 0.2s all;
            transition-delay: 0.2s;
            opacity: 1;
        }
    }
}

.todo-header {
    flex-shrink: 0;
    display: flex;
    margin-bottom: 4px;
}

.todo-toggle-btn {
    visibility: visible;
    padding: 2px 8px 2px 4px;
    font-size: 16px;
    text-shadow: $text-shadow;
}

.todo-header-input-container {
    flex-grow: 1;
    display: flex;
}

.todo-header-edit-btns {
    display: flex;
    margin-left: auto;

    .btn {
        margin-left: 2px;
    }
}

.todo-input {
    flex-grow: 1;
    margin-right: 2px;
}

.todo-edit-input {
    @include scrollbar($color3);

    flex-shrink: 0;
    height: 100px;
    margin-bottom: 4px;
    resize: none;
}

.todo-message {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    text-align: center;
}

.todos {
    @include scrollbar($color2);

    flex-grow: 1;
    overflow-y: auto;
    backface-visibility: hidden;
}

.todo-item {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid $color2;
    margin-right: 4px;
    margin-left: 4px;

    &.hidden {
        display: none;
    }
}

.todo-text {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.todo-item-text {
    margin-left: 4px;
}

.done {
    text-decoration: line-through;
    color: $secondary-text-color;
}

.todo-pin-icon {
    transition: 0.2s transform;
    transform: rotateZ(-45deg);

    &.is-pinned {
        transform: rotateZ(0);
    }
}

.todo-item-content {
    display: flex;
    align-items: center;
}

.todo-item-footer {
    display: flex;
    margin-top: 4px;
    margin-left: 18px;
}

.todo-item-btn {
    margin-right: 4px;
    color: $secondary-text-color;
    font-size: 12px;

    &:hover {
        color: $primary-text-color;
    }
}

.todo-footer {
    flex-shrink: 0;
    margin-top: 4px;
    text-align: center;
}

.todo-footer-btn {
    display: inline-flex;
    padding: 4px;
}
