$tweet-text-color-alt: #bbb;

.twitter {
    transition: height 0.2s, max-height 0.2s;
    will-change: height, max-height;

    &.expanded {
        height: 100vh;
        max-height: calc(100vh - 16px);
    }
}

.twitter-hero {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: scale(0.8);
    transition: all 0.6s;

    &.visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}

.twitter-hero-icon {
    width: 64px;
    height: 64px;
    color: #55acee;
    margin-bottom: 8px;
}

.twitter-hero-content {
    height: 24px;
}

.twitter-pin-input-container {
    display: flex;
    align-items: center;
}

.twitter-pin-input {
    display: none;
    width: 80px;
    margin-right: 2px;
    text-align: center;

    &.visible {
        display: inline-block;
    }
}

.twitter-spinner {
    width: 24px;
}

.twitter-header {
    padding: 0 0 4px 4px;
}

.twitter-user {
    display: flex;
    align-items: center;
    height: 100%;
}

.twitter-user-image {
    height: 100%;
    border-radius: 50%;
}

.twitter-user-name {
    margin-left: 4px;
    color: $primary-text-color;

    &:hover {
        text-decoration: underline;
    }
}

.twitter-user-handle,
.retweet-by,
.tweeted-on {
    margin-left: 4px;
    color: $tweet-text-color-alt;

    &:hover {
        text-decoration: underline;
    }
}

.twitter-header-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.new-tweet-btn {
    width: 100%;
    background-color: $color3;
    box-shadow: 0 1px 0 0 $color2;
}

.twitter-content {
    visibility: collapse;
    opacity: 0;
    height: 100%;
    transform: scale(0.8);
    transition: 0.6s all;

    &.visible {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
}

.tweets {
    @include scrollbar($color2);

    overflow-y: auto;
    backface-visibility: hidden;
    height: calc(100% - 25px);
}

.tweet {
    overflow: hidden;
    padding: 8px 4px 4px 64px;
    border-bottom: 1px solid $color2;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
        background-color: $color1;
    }
}

.retweet {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    color: $tweet-text-color-alt;
    font-size: 12px;
    line-height: 1;
}

.tweet-retweet-icon {
    width: 16px;
    height: 16px;
    margin-left: -20px;
}

.retweet-by {
    margin-right: 4px;
}

.tweet-header-profile:hover .tweeted-by-name {
    text-decoration: underline;
    color: $tweet-text-color-alt;
}

.tweeted-by-name {
    font-weight: bold;
    color: $primary-text-color;
}

.tweeted-by-handle {
    margin-left: 4px;
    color: $tweet-text-color-alt;
}

.twitter-profile-image {
    float: left;
    width: 48px;
    margin-left: -56px;
    margin-right: 8px;
    border-radius: 50%;
}

.tweet-text {
    margin-top: 4px;
    margin-bottom: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.tweet-link {
    color: $color-accent;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.tweet-media-container {
    overflow: hidden;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: -4px;
    border-radius: 4px;
}

.tweet-image-container {
    display: grid;
    grid-gap: 1px;
    max-height: 510px;

    &.two {
        --image-count: 2;
    }

    &.three {
        --image-count: 3;
    }

    &.four {
        --image-count: 4;
    }

    &.two, &.three, &.four {
        grid-template-rows: repeat(calc(var(--image-count) - 1), 1fr);
        grid-template-columns: 1fr calc(100% / var(--image-count));
        max-height: calc(510px * (var(--image-count) - 1) / var(--image-count));
        width: 510px;

        .tweet-media-item {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        &:not(.two) .tweet-media-item:first-of-type {
            grid-row: span calc(var(--image-count) - 1);
        }

        .tweet-image {
            max-width: none;

            &.width {
                width: 100%;
            }

            &.height {
                height: 100%;
            }
        }
    }
}

.tweet-image {
    display: block;
    max-width: 100%;
}

.tweet-video-container {
    position: relative;
}

.tweet-video {
    display: block;
    width: 510px;
    max-height: 510px;
    margin: 0 auto;
}

.tweet-video-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    color: $primary-text-color;
    transform: translate(-50%, -50%);
    filter: drop-shadow($text-shadow);
}

.tweet-stats-container {
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: $tweet-text-color-alt;

    svg {
        width: 16px;
        height: 16px;
    }

    span {
        margin-left: 4px;
        margin-right: 12px;
    }
}

.more-tweets-btn {
    width: 100%;
    padding: 4px 8px;
}
