.twitter-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.twitter-hero-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
    color: #55acee;
}

.twitter-hero-content {
    height: 28px;
}

.twitter-pin-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.twitter-pin-input {
    display: none;
    width: 80px;
    margin-right: 4px;
    text-align: center;

    &.visible {
        display: inline-block;
    }
}

.twitter-hero-spinner {
    height: 28px;
}

.twitter-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.twitter-user {
    display: flex;
    align-items: center;
    margin-right: auto;

    &:hover .twitter-user-name {
        color: var(--profile-color, $secondary-text-color);
        text-decoration: underline;
    }
}

.twitter-user-image {
    height: 24px;
    border-radius: 50%;
}

.twitter-user-name {
    margin-left: 4px;
    margin-right: 4px;
    font-weight: bold;
}

.twitter-user-handle {
    color: $secondary-text-color;
}

.new-tweet-btn,
.more-tweets-btn {
    width: 100%;
    padding: 6px;

    &:hover {
        background-color: $color-white-4;
    }
}

.new-tweet-btn {
    border-bottom: 1px solid $primary-border-color;
}

.tweets {
    @include scrollbar;

    overflow-y: auto;
    flex-grow: 1;
}

.tweet {
    padding: 8px 4px 4px 64px;
    border-bottom: 1px solid $primary-border-color;
    transition: 0.2s background-color;
    cursor: pointer;

    &:hover {
        background-color: $color-white-4;
    }
}

.retweet {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 13px;
    color: $secondary-text-color;
}

.retweet-icon {
    width: 18px;
    height: 18px;
    margin-left: -22px;
}

.retweet-by {
    margin-left: 4px;
    margin-right: 4px;

    &:hover {
        color: var(--profile-color);
        text-decoration: underline;
    }
}

.tweeted-on {
    color: $secondary-text-color;

    &:hover {
        color: var(--profile-color);
        text-decoration: underline;
    }
}

.tweet-header-profile:hover .tweeted-by-name {
    color: var(--profile-color, $secondary-text-color);
    text-decoration: underline;
}

.tweeted-by-name {
    font-weight: bold;
}

.tweeted-by-handle {
    margin-left: 4px;
    margin-right: 4px;
    color: $secondary-text-color;
}

.twitter-profile-image {
    float: left;
    width: 48px;
    margin-left: -56px;
    margin-right: 8px;
    border-radius: 50%;
}

.tweet-text {
    margin-top: 4px;
    margin-bottom: 0;
    line-height: 1.4;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.tweet-link {
    color: var(--profile-color, $color-blue-light);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.tweet-media-container {
    overflow: hidden;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: -4px;
    border-radius: 4px;
}

.tweet-image-container {
    display: grid;
    grid-gap: 1px;
    max-height: 508px;

    &.two {
        --image-count: 2;
    }

    &.three {
        --image-count: 3;
    }

    &.four {
        --image-count: 4;
    }

    &.two, &.three, &.four {
        grid-template-rows: repeat(calc(var(--image-count) - 1), 1fr);
        grid-template-columns: 1fr calc(100% / var(--image-count));
        max-height: calc(508px * (var(--image-count) - 1) / var(--image-count));
        width: 508px;

        .tweet-media-item {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        &:not(.two) .tweet-media-item:first-of-type {
            grid-row: span calc(var(--image-count) - 1);
        }

        .tweet-image {
            max-width: none;

            &.width {
                width: 100%;
            }

            &.height {
                height: 100%;
            }
        }
    }
}

.tweet-image {
    display: block;
    max-width: 100%;
}

.tweet-video-container {
    position: relative;
}

.tweet-video {
    display: block;
    width: 508px;
    max-height: 508px;
    margin: 0 auto;
}

.tweet-video-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $color-blue;
    transform: translate(-50%, -50%);
}

.tweet-media-info {
    position: absolute;
    left: 8px;
    bottom: 8px;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: $color-grey-dark;
    font-weight: bold;
    font-size: 13px;
}

.tweet-stats-container {
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-size: 12px;
    font-weight: bold;
    color: $secondary-text-color;

    svg {
        width: 18px;
        height: 18px;
    }

    span {
        margin-left: 4px;
        margin-right: 12px;
    }
}

.more-tweets-btn:disabled {
    @include spinner;
}
