.upper-block-container {
    position: absolute;
    top: 4px;
    left: 50%;
    visibility: collapse;
    width: 420px;
    opacity: 0;
    font-size: 16px;
    transform: rotateX(45deg) translate(-50%, -80px) scale(0.94);
    transition: transform 0.2s, opacity 0.18s, visibility 0.18s;
    cursor: default;

    &.visible {
        visibility: visible;
        opacity: 1;
        transform: translateX(-50%);
    }

    &.expanded, &:-webkit-full-screen {
        top: 0;
        display: flex;
        width: 100vw;
        height: 100vh;
        font-size: 32px;

        .pomodoro-selection {
            position: absolute;
            top: 0;
            right: 0;
        }

        .upper-block-group {
            visibility: hidden;
            opacity: 0;
            transition: 0.2s all;
        }

        .upper-block {
            position: relative;
            min-width: 20em;
            margin: auto;

            &:hover {
                .upper-block-group {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

.upper-block-header {
    display: flex;
}

.upper-block-header-item {
    padding-bottom: 2px;
    margin-right: 8px;

    &.active {
        box-shadow: 0 1px 0 0 $color-accent;
    }

    span {
        margin-left: 2px;
    }
}

.upper-block-btns {
    position: absolute;
    top: 4px;
    right: 4px;
    display: flex;
}

.upper-block-expand-btn {
    margin-right: 4px;

    &.hidden {
        display: none;
    }
}

.upper-block-item {
    display: none;
    padding: 0.5em 0.25em;

    &.visible {
        display: block;
    }
}

.upper-block-digit {
    font-size: 4em;
}

.upper-block-sep {
    margin-left: 0.125em;
    margin-right: 0.25em;
    font-size: 2em;

    &:last-of-type {
        margin-right: 0;
    }
}

.upper-block-controls {
    display: flex;
    padding: 0.25em 0.25em 0 0.25em;
    border-top: 1px solid $color2;
    margin-top: 0.25em;
}

.upper-block-control {
    padding: 2px;

    &:not(:first-of-type) {
        margin-left: 4px;
    }
}

.upper-block-reset-btn {
    margin-right: auto;
}

.timer-input {
    width: 2ch;
    padding: 0;
    border: none;
    background-color: transparent;
    color: $primary-text-color;
    font-size: 4em;
    font-kerning: none;

    &:focus {
        outline: none;
    }

    &:read-only {
        cursor: default;
    }
}

.stopwatch:hover {
    cursor: pointer;
}

.stopwatch-milliseconds {
    font-size: 2em;
}

.pomodoro {
    display: flex;
}

.pomodoro-selection {
    margin-left: auto;
}

.pomodoro-btn {
    width: 100%;
    padding-bottom: 2px;
    margin-bottom: 4px;

    &.active {
        box-shadow: 0 1px 0 0 $color-accent;
    }
}
