.upper-block {
    position: absolute;
    top: 4px;
    left: 50%;
    visibility: collapse;
    width: 420px;
    opacity: 0;
    transform: rotateX(45deg) translate(-50%, -80px) scale(0.94);
    transition: transform 0.2s, opacity 0.18s, visibility 0.18s;

    &.visible {
        visibility: visible;
        opacity: 1;
        transform: translateX(-50%);
    }
}

.upper-block-header {
    display: flex;
    margin-bottom: 4px;
}

.upper-block-header-item {
    padding-bottom: 2px;
    margin-right: 8px;

    &.active {
        box-shadow: 0 1px 0 0 $brand-color;
    }

    span {
        margin-left: 2px;
    }
}

.upper-block-hide-btn {
     margin-left: auto;
}

.upper-block-content-wrapper {
    font-size: 16px;

    &:-webkit-full-screen {
        width: 100vw;
        height: 100vh;
        padding: 24vh 12vw 0;
        background-color: $color3;
        font-size: 32px;

        .pomodoro-timer-selection {
            position: absolute;
            top: -20px;
            right: 0;
            bottom: 0;
        }

        .upper-block-controls, .pomodoro-timer-selection {
            visibility: hidden;
            opacity: 0;
            transition: 0.2s all;
        }

        .upper-block-content:hover {
            .upper-block-controls, .pomodoro-timer-selection {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.upper-block-item {
    position: relative;
    display: none;
    height: 6em;

    &.visible {
        display: block;
    }
}

.upper-block-sep {
    padding-right: 0.125em;
    font-size: 2em;
}

.upper-block-controls {
    display: flex;
    padding: 0.25em 0.25em 0 0.25em;
    border-top: 1px solid $color2;
    margin-top: 0.25em;
}

.upper-block-control {
    padding: 2px;

    &:not(:first-of-type) {
        margin-left: 0.5em;
    }
}

.upper-block-reset-btn {
    margin-right: auto;
}

.upper-block-digit {
    font-size: 4em;
}

.timer, .stopwatch {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
}

.timer-input {
    width: 1.125em;
    border: none;
    background-color: transparent;
    color: $primary-text-color;
    font-size: 4em;
    font-kerning: none;

    &:focus {
        outline: none;
    }
}

.stopwatch:hover {
    cursor: pointer;
}

.stopwatch-milliseconds {
    font-size: 2em;
}

.pomodoro {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 0.25em;
    padding-right: 0.25em;
    text-align: center;
}

.pomodoro-timer {
    flex-grow: 1;
}

.pomodoro-timer-btn {
    width: 100%;
    padding-bottom: 2px;
    margin-bottom: 2px;

    &.active {
        box-shadow: 0 1px 0 0 $brand-color;
    }
}
