$brand-color: #268bd2;
$primary-text-color: #f4f4f4;
$secondary-text-color: #777;
$text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
$color1: #3b3b3b;
$color2: #333;
$color3: #444;
$color-danger: #f58678;
$font-family: "Roboto", sans-serif;
