$color-blue: #359ee9;
$color-blue-light: #75bdf0;

$color-white: #f4f4f4;
$color-white-4: rgba(255, 255, 255, 0.04);
$color-white-10: rgba(255, 255, 255, 0.1);
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-40: rgba(255, 255, 255, 0.4);
$color-white-60: rgba(255, 255, 255, 0.6);

$color-black-20: rgba(0, 0, 0, 0.2);
$color-black-40: rgba(0, 0, 0, 0.4);

$color-grey-dark: #333;
$color-grey-light: #444;
$color-grey-darker-60: rgba(34, 34, 34, 0.6);

$color-success: #00e05a;
$color-danger: #f77864;

$primary-text-color: $color-white;
$secondary-text-color: $color-white-60;

$box-shadow: 0 1px 2px 0 $color-black-20;
$text-shadow: 0 1px 1px $color-black-40;
$icon-shadow: 0 1px 1px $color-black-40;

$input-background-color: $color-white-10;
$input-box-shadow-color: $color-white-4;
$input-placeholder-color: $color-white-40;

$button-disabled-color: $color-white-40;
$button-hover-color: $color-blue-light;
$button-background-color: $color-white-10;
$button-hover-background-color: $color-white-20;
$secondary-button-hover-background-color: $color-white-10;

$secondary-container-background-color: $color-grey-dark;
$container-inset-box-shadow-color: $color-white-10;

$primary-border-color: $color-white-10;

$large-number-font-family: "Roboto", sans-serif;
