$font-family: "Open Sans", sans-serif;

$color-blue: #359ee9;
$color-blue-light: #75bdf0;

$color-white: #f4f4f4;
$color-white-4: rgba(255, 255, 255, 0.04);
$color-white-10: rgba(255, 255, 255, 0.1);
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-40: rgba(255, 255, 255, 0.4);
$color-white-60: rgba(255, 255, 255, 0.6);

$color-black-10: rgba(0, 0, 0, 0.1);
$color-black-20: rgba(0, 0, 0, 0.2);
$color-black-40: rgba(0, 0, 0, 0.4);
$color-black-60: rgba(0, 0, 0, 0.6);

$color-grey-light: #444;
$color-grey-dark: #333;
$color-grey-darker-40: rgba(34, 34, 34, 0.4);
$color-grey-darker-60: rgba(34, 34, 34, 0.6);

$color-success: #00e05a;
$color-danger: #f77864;
