.weather {
	position: absolute;
    top: 0;
	right: 8px;
	text-align: right;
	text-shadow: $text-shadow;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;

	&.is-fetching {
		animation-name: blur-in;
		animation-fill-mode: forwards;
	}

	&.done-fetching {
		animation-name: blur-out;
	}
}

.weather-temp-icon-container {
	display: flex;
	align-items: center;
}

.weather-temp {
    margin-right: 8px;
	font-size: 22px;
}

.weather-icon {
	width: 32px;
	height: 32px;
}

@keyframes blur-in {
    0% { filter: blur(0); }
    50% { filter: blur(2px); }
    100% { filter: blur(4px); }
}

@keyframes blur-out {
    0% { filter: blur(4px); }
    50% { filter: blur(2px); }
    100% { filter: blur(0); }
}
