.weather {
	position: absolute;
    top: 4px;
	right: 8px;
	text-align: right;
	filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
}

.weather-temp-icon-container {
	display: flex;
	align-items: center;
}

.weather-temp {
    margin-right: 8px;
	font-size: 22px;
}

.weather-icon {
	width: 32px;
	height: 32px;
}
