.menu-item-content-container {
    position: absolute;
    bottom: 4px;
    right: 4px;
    opacity: 0;
    visibility: hidden;
    border-top-left-radius: 50%;
    transform-origin: bottom right;
    transform: scale(0);
    transition: 0.2s transform,
                0.2s opacity,
                0.2s visibility,
                0.2s border-top-left-radius;
    transition-delay: 0.2s;

    &.visible {
        opacity: 1;
        visibility: visible;
        border-top-left-radius: 0;
        transform: scale(1);
        transition-delay: 0s;

        .menu-transition-target {
            opacity: 1;
            transition-delay: 0.2s;
        }
    }
}

.menu-transition-target {
    opacity: 0;
    transition: 0.2s opacity;
}

.menu {
    position: absolute;
    bottom: 4px;
    right: 4px;
    display: flex;
}

.menu-item-container {
    display: flex;

    @media (max-width: 826px) {
        &.hidden {
            display: none;
        }
    }
}

.menu-item:not(:last-of-type) {
    margin-right: 4px;
}

.menu-item-btn {
    position: relative;
    filter: drop-shadow($icon-shadow);
}

.menu-toggle-btn {
    display: none;
    filter: drop-shadow($icon-shadow);

    @media (max-width: 826px) {
        display: flex;
    }
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-bottom: 1px solid $primary-border-color;
}

.menu-title {
    font-size: 16px;
    text-transform: capitalize;
}
