@import "../../../styles/mixins.css";

.calendar-message-container {
  position: absolute;
  top: 48px;
  left: var(--space-md);
  right: var(--space-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm) var(--space-sm) var(--space-sm) var(--space-xl);
  border-radius: 999px;
  color: var(--color-white-80);
}

.calendar-current-date {
  display: flex;
  padding: var(--space-sm);
  border-bottom: 1px solid var(--color-white-10);
}

.calendar-current-date-btn {
  display: flex;
  justify-content: center;
  gap: var(--space-md);
  height: auto;
  flex-direction: column;
  border-radius: 8px;
  line-height: 1;
  font-weight: normal;
  font-size: var(--text-lg);
}

.calendar-current-date-weekday {
  font-size: var(--text-xxxl);
}

.calendar-wrapper {
  --calendar-height: 328px;
  --additional-height: 0px;

  overflow: hidden;
  width: 380px;
  height: calc(var(--calendar-height) + var(--additional-height));

  &:has(+ .calendar-reminder-preview, + .calendar-world-clocks) {
    .calendar-days {
      --corner-border-radius: 4px;
    }

    .calendar-months {
      --corner-border-radius: 0;
    }
  }
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  padding: var(--space-sm);
}

.calendar-title {
  min-width: 140px;
  padding: var(--space-xs) var(--space-md);
  color: var(--color-white-80);
  font-size: var(--text-lg);
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
}

.calendar {
  --corner-border-radius: var(--container-inset-radius);

  position: relative;
  display: flex;
  flex-direction: column;
  height: var(--calendar-height);
  transform-origin: var(--x) var(--y);
  animation-duration: var(--duration-n);
  animation-fill-mode: both;
  animation-name: opacity-up;

  &.full-height {
    height: 100%;
  }

  &.transition {
    animation-duration: calc(0.16s * var(--animation-speed)), calc(0.6s * var(--animation-speed));
    animation-name: opacity-down, calendar-scale-up;
  }
}

.calendar-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-week-days {
  display: flex;
  height: 32px;
  padding: var(--space-xs);

  .calendar-cell {
    flex: 1;
    color: var(--color-white-80);
  }
}

.calendar-days {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(7, 1fr);
  gap: var(--space-xs);
  flex-grow: 1;
  padding: var(--space-xs);
}

.calendar-day {
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--color-white-60);
  cursor: pointer;

  &:last-of-type {
    border-bottom-right-radius: var(--corner-border-radius);
  }

  &:nth-last-of-type(7) {
    border-bottom-left-radius: var(--corner-border-radius);
  }

  &.current {
    font-weight: bold;
  }

  &.current-month-day {
    color: var(--color-white);
  }

  &.current, &:hover, &:focus-visible {
    border-color: var(--color-white-4);
    background-color: var(--color-white-10);
    box-shadow: inset 1px 1px 4px 0 var(--color-white-2), var(--fg-shadow);
  }

  & div {
    pointer-events: none;
  }
}

.day-reminders {
  position: absolute;
  left: var(--space-xs);
  bottom: var(--space-xs);
  right: var(--space-xs);
  display: flex;
  gap: var(--space-xs);
  height: 2px;
}

.day-reminder {
  flex: 1;
}

.calendar-months {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-grow: 1;
}

.calendar-month-inner {
  @mixin text-truncate;

  height: 100%;
  padding: var(--space-sm) var(--space-md);
  border: 1px solid transparent;
}

.calendar-month {
  overflow: hidden;
  padding: 1px;
  border-top: 1px solid var(--color-white-10);
  cursor: pointer;

  &:last-of-type .calendar-month-inner {
    border-bottom-right-radius: var(--corner-border-radius);
  }

  &:nth-last-of-type(4) .calendar-month-inner {
    border-bottom-left-radius: var(--corner-border-radius);
  }

  &.current {
    font-weight: bold;
  }

  &:not(:nth-of-type(4n)) {
    border-right: 1px solid var(--color-white-10);
  }

  &:is(.current, :hover, :focus-visible) .calendar-month-inner {
    border-color: var(--color-white-4);
    background-color: var(--color-white-10);
  }

  &:focus-visible {
    box-shadow: inset var(--focus-shadow);
  }
}

.reminder-list-header {
  position: relative;
  justify-content: flex-start;

  &:has(+ .empty-reminder-list-message) {
    border-bottom: 1px solid var(--color-white-10);
  }
}

.reminder-list-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reminder-list-items {
  overflow-y: auto;
  flex-grow: 1;
  border-top: 1px solid var(--color-white-10);
}

.reminder-list-item {
  display: flex;
  align-items: flex-start;
  gap: var(--space-sm);
  padding: var(--space-sm);
  word-break: break-word;

  &:not(:first-of-type) {
    border-top: 1px solid var(--color-white-10);
  }

  &:last-of-type {
    box-shadow: 0 1px 0 0 var(--color-white-10);
  }
}

.reminder-list-item-color {
  flex-shrink: 0;
  width: 4px;
  height: 24px;
  padding: 0;
  margin-right: var(--space-sm);
  margin-left: var(--space-xs);
  border-radius: 8px;
  transition: var(--duration-n) transform,
              var(--duration-n) background-color;

  &:not(.inert) {
    &:hover, &:focus-visible {
      transform: scaleX(2);
      box-shadow: none;
    }
  }
}

.reminder-list-item-description {
  margin-top: var(--space-xs);
  font-size: var(--text-xs);
}

.reminder-list-item-range {
  margin-top: var(--space-sm);
  font-size: var(--text-xs);
  font-weight: bold;
  color: var(--color-white-60);
}

.reminder-repeat-icon {
  flex-shrink: 0;
  color: var(--color-white-60);
}

.reminder-list-item-dropdown {
  margin-left: auto;
}

.empty-reminder-list-message {
  margin: auto;
  font-size: var(--text-lg);
}

@keyframes calendar-scale-up {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(4);
  }
}
