.calendar-current-date {
  position: relative;
  display: flex;
  padding: var(--space-sm);
  border-bottom: 1px solid var(--color-white-10);
}

.calendar-current-date-btn {
  display: flex;
  justify-content: center;
  gap: var(--space-md);
  height: auto;
  flex-direction: column;
  border-radius: 8px;
  line-height: 1;
  font-weight: normal;
  font-size: var(--text-lg);
}

.calendar-current-date-weekday {
  font-size: var(--text-xxxl);
}

.calendar-wrapper {
  overflow: hidden;
  height: 328px;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  padding: var(--space-sm);
}

.calendar-title {
  min-width: 140px;
  padding: var(--space-xs) var(--space-md);
  font-size: var(--text-lg);
  font-weight: normal;
  text-align: center;
}

.calendar {
  --corner-border-radius: var(--container-inset-radius);

  position: relative;
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 100%;
  transform-origin: var(--x) var(--y);
  animation-duration: var(--duration-n);
  animation-fill-mode: both;
  animation-name: opacity-up;

  &.transition {
    animation-duration: calc(0.16s * var(--animation-speed)), calc(0.6s * var(--animation-speed));
    animation-name: opacity-down, calendar-scale-up;
  }
}

.calendar-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-week-days {
  display: flex;
  height: 32px;
  padding: var(--space-xs);

  .calendar-cell {
    flex: 1;
  }
}

.calendar-days {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(7, 1fr);
  gap: var(--space-xs);
  flex-grow: 1;
  padding: var(--space-xs);

  &.world-clocks-visible {
    --corner-border-radius: 4px;
  }
}

.calendar-day {
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--color-white-60);
  cursor: pointer;

  &:last-of-type {
    border-bottom-right-radius: var(--corner-border-radius);
  }

  &:nth-last-of-type(7) {
    border-bottom-left-radius: var(--corner-border-radius);
  }

  &.current {
    font-weight: bold;
  }

  &.current-month-day {
    color: var(--color-white);
  }

  &.current, &:hover, &:focus-visible {
    border-color: var(--color-white-4);
    background-color: var(--color-white-10);
  }

  & div {
    pointer-events: none;
  }
}

.day-reminders {
  position: absolute;
  left: var(--space-xs);
  bottom: var(--space-xs);
  right: var(--space-xs);
  display: flex;
  gap: var(--space-xs);
  height: 2px;
}

.day-reminder {
  flex: 1;
}

.calendar-months {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-grow: 1;

  &.world-clocks-visible {
    --corner-border-radius: 0;
  }
}

.calendar-month-inner {
  height: 100%;
  padding: var(--space-sm) var(--space-md);
  border: 1px solid transparent;
}

.calendar-month {
  overflow: hidden;
  padding: 1px;
  border-top: 1px solid var(--color-white-10);
  cursor: pointer;

  &:last-of-type .calendar-month-inner {
    border-bottom-right-radius: var(--corner-border-radius);
  }

  &:nth-last-of-type(4) .calendar-month-inner {
    border-bottom-left-radius: var(--corner-border-radius);
  }

  &.current {
    font-weight: bold;
  }

  &:not(:nth-of-type(4n)) {
    border-right: 1px solid var(--color-white-10);
  }

  &:is(.current, :hover, :focus-visible) .calendar-month-inner {
    border-color: var(--color-white-4);
    background-color: var(--color-white-10);
  }

  &:focus-visible {
    box-shadow: inset var(--focus-shadow);
  }
}

@keyframes calendar-scale-up {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(4);
  }
}
