.timer-dropdown-presets {
  max-height: 138px;
  overflow-y: auto;
}

.timer-dropdown-presets-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}

.timer-input {
  width: 2ch;
  height: 100%;
  padding: 0;

  &:focus {
    box-shadow: inset 0 -2px 0 0 var(--color-primary);
  }
}

.timer-dropdown-btn {
  position: relative;
  justify-content: center;
}

.timer-dropdown-indicator {
  position: absolute;
  top: 50%;
  left: 24px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: var(--color-primary);
}

.timer-dropdown-list {
  overflow-y: auto;
  max-height: 135px;
}
