.timer-content {
  flex-direction: column;
}

.timer-dropdown-presets-item {
  &.active {
    border-left: 4px solid var(--color-primary);
  }
}

.timer-dropdown-presets-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}

.timer-input-container {
  height: 100%;
}

.timer-input {
  width: 2ch;
  height: 100%;
  padding: 0;

  &:focus {
    outline: none;
    box-shadow: 0 1px 0 0 var(--color-primary);
  }
}
