.task-form-subtask {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  &.dragging {
    z-index: 1000;
    overflow: clip;
    height: 30px;
  }
}

.task-form-subtask-index-container {
  position: relative;
  min-width: 30px;
  padding-inline: var(--space-sm);
  text-align: center;

  & .drag-handle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:has(:focus-visible, :hover, :active) {
    .task-form-subtask-index {
      opacity: 0;
    }
  }
}

.task-form-subtask-index {
  font-size: var(--text-sm);
  transition: var(--duration-f) opacity;
}

.task-form-subtask-input {
  flex-grow: 1;
}

.task-form-subtask-content {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
}

.task-form-subtask-subtasks {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-left: var(--space-md);
}
