.notepad {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.notepad-input {
  flex-grow: 1;

  &:focus {
    outline: none;
    box-shadow: inset 0 -1px 0 0 var(--color-primary);
  }
}

.notepad-warning-dropdown-container {
  position: absolute;
  top: 44px;
  right: 5px;
}

.notepad-warning-dropdown {
  padding: var(--space-xl);
}

.notepad-warning {
  position: absolute;
  top: 44px;
  left: var(--space-md);
  right: var(--space-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md) var(--space-md) var(--space-md) var(--space-xl);
  background-color: var(--color-grey-90);
  backdrop-filter: none;
}
