.notepad {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom-left-radius: var(--container-inset-radius);
  border-bottom-right-radius: var(--container-inset-radius);
}

.notepad-input {
  --text-size: inherit;

  flex-grow: 1;
  font-size: var(--text-size);

  &:focus {
    outline: none;
    box-shadow: inset 0 -1px 0 0 var(--color-primary);
  }
}

.notepad-text-size-label {
  position: absolute;
  top: 44px;
  right: var(--space-md);
  padding: var(--space-sm) var(--space-lg);
  border-radius: 99px;
  font-size: var(--text-sm);
  font-weight: bold;
}
