.background-viewer {
  z-index: 1000;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.background-viewer-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-viewer-image-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: 0.4s opacity;

  &.hidden {
    opacity: 0;
  }
}

.background-viewer-image-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background-color: var(--color-grey-90-50);
  backdrop-filter: none;
  user-select: none;
}

.background-viewer-image {
  display: block;
  border-radius: inherit;
}

.background-viewer-area {
  position: absolute;
  top: 1px;
  left: 1px;
  box-shadow: inset 0 0 0 1px var(--color-primary);
  border-radius: 6px;
  background-color: var(--color-primary-0-20);
  cursor: move;
}

.background-viewer-bar {
  display: flex;
  width: 100%;
  margin-top: var(--space-md);
  padding: var(--space-sm);
  backdrop-filter: none;

  & .btn:not(:last-of-type) {
    margin-right: var(--space-sm);
  }

  & .btn:first-of-type {
    margin-right: auto;
  }
}
