.rss-feed {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.feed-new-entry-count-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: var(--space-md);
  font-size: 10px;
  font-weight: bold;
  line-height: 1;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow:
      0 1px 2px 0 var(--color-black-8),
      0 2px 4px 0 var(--color-black-4);
    background-color: var(--color-white-10);
    transition: 0.1s transform, 0.1s box-shadow, 0.1s background-color;
  }

  &:hover {
    background-color: transparent;

    &::before {
      transform: scale(1.2);
    }
  }
}

.feed-entry-description-container.truncated {
  overflow: hidden;
  max-height: 120px;

  & + .feed-entry-expand-btn {
    display: block;
  }
}

.feed-entry-thumbnail {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  float: left;
  margin-top: var(--space-xs);
  margin-right: var(--space-md);
  border-radius: 8px;
}

.feed-entry-description {
  line-height: 1.4;
  word-break: break-word;
  white-space: pre-wrap;

  & img {
    float: left;
    max-height: 64px;
    margin-top: var(--space-sm);
    margin-right: var(--space-md);
    border-radius: 8px;
  }

  & a {
    all: unset;
    color: var(--color-primary-10);

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  & tr {
    display: flex;
  }

  & td {
    padding: 0;
    white-space: normal;
  }

  & code {
    white-space: pre-line;
  }
}

.feed-date {
  margin-top: var(--space-sm);
  color: var(--color-white-60);
  font-size: var(--text-sm);
  font-weight: bold;
}
