.rss-feed {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom-left-radius: var(--container-inset-radius);
  border-bottom-right-radius: var(--container-inset-radius);
}

.feed-new-entry-count-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  min-width: 20px;
  height: 20px;
  padding: 0 var(--space-sm);
  font-size: var(--text-xxs);
  font-weight: bold;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 99px;
    box-shadow:
      inset 0 1px 1px 0 var(--color-white-4),
      inset 1px 2px 2px 0 var(--color-white-2),
      var(--fg-shadow);
    background-color: var(--color-white-10);
    transition: var(--duration-f) transform,
                var(--duration-f) box-shadow,
                var(--duration-f) background-color;
  }

  &:hover::before {
    transform: scale(1.2);
  }
}

.feed-entry-description-container.truncated {
  overflow: hidden;
  max-height: 120px;

  & + .feed-entry-expand-btn {
    display: block;
  }
}

.feed-entry-thumbnail {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  margin-top: var(--space-sm);
  margin-right: var(--space-md);
  border-radius: 8px;

  &:has(+ .feed-entry-description) {
    float: left;
  }
}

.feed-entry-description {
  line-height: 1.4;
  word-break: break-word;
  white-space: pre-wrap;

  & img {
    float: left;
    max-height: 64px;
    margin-top: var(--space-sm);
    margin-right: var(--space-md);
    border-radius: 8px;
  }

  & a {
    all: unset;
    color: var(--color-primary-10);

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  & tr {
    display: flex;
  }

  & td {
    padding: 0;
    white-space: normal;
  }

  & code {
    white-space: pre-line;
  }
}

.feed-date {
  margin-top: var(--space-sm);
  color: var(--color-white-60);
  font-size: var(--text-sm);
  font-weight: bold;
}
